In [229]:
import pandas as pd
import numpy as np

In [230]:
df=pd.read_csv("Surveydata_train.csv")
df

,ID,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,98800001,0,need improvement,Green Car,excellent,excellent,very convinient,good,need improvement,acceptable,need improvement,need improvement,acceptable,need improvement,good,need improvement,poor
1,98800002,0,poor,Ordinary,excellent,poor,need improvement,good,poor,good,good,excellent,need improvement,poor,need improvement,good,good
2,98800003,1,need improvement,Green Car,need improvement,need improvement,need improvement,need improvement,good,excellent,excellent,excellent,excellent,excellent,good,excellent,excellent
3,98800004,0,acceptable,Ordinary,need improvement,NaN,need improvement,acceptable,need improvement,acceptable,acceptable,acceptable,acceptable,acceptable,good,acceptable,acceptable
4,98800005,1,acceptable,Ordinary,acceptable,acceptable,manageable,need improvement,good,excellent,good,good,good,good,good,good,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94374,98894375,0,poor,Ordinary,good,good,Convinient,poor,poor,poor,poor,good,good,good,need improvement,good,poor
94375,98894376,1,good,Ordinary,good,good,Convinient,need improvement,excellent,excellent,acceptable,acceptable,acceptable,acceptable,good,acceptable,good
94376,98894377,1,need improvement,Green Car,need improvement,need improvement,need improvement,good,excellent,good,good,good,good,good,acceptable,good,acceptable
94377,98894378,0,need improvement,Ordinary,NaN,need improvement,Convinient,good,need improvement,good,good,acceptable,good,good,good,excellent,good
94378,98894379,0,acceptable,Ordinary,poor,acceptable,manageable,acceptable,acceptable,acceptable,acceptable,poor,good,good,poor,good,acceptable

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_comfort             94318 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_time_convenient  85449 non-null  object
 5   Catering                 85638 non-null  object
 6   Platform_location        94349 non-null  object
 7   Onboardwifi_service      94349 non-null  object
 8   Onboard_entertainment    94361 non-null  object
 9   Online_support           94288 non-null  object
 10  Onlinebooking_Ease       94306 non-null  object
 11  Onboard_service          86778 non-null  object
 12  Leg_room                 94289 non-null  object
 13  Baggage_handling         94237 non-null  object
 14  Checkin_service          94302 non-null  object
 15  Cleanliness              94373 non-null  object
 16  Online_boarding          94373 non-null  object
dtypes: int64(2), object(15)
memory usage: 12.2+ MB

In [232]:
df.isnull().sum()

ID                            0
Overall_Experience            0
Seat_comfort                 61
Seat_Class                    0
Arrival_time_convenient    8930
Catering                   8741
Platform_location            30
Onboardwifi_service          30
Onboard_entertainment        18
Online_support               91
Onlinebooking_Ease           73
Onboard_service            7601
Leg_room                     90
Baggage_handling            142
Checkin_service              77
Cleanliness                   6
Online_boarding               6
dtype: int64

In [233]:
df1=pd.read_csv("Traveldata_train.csv")
df1

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,98800001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,98800002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,98800003,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0
3,98800004,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0
4,98800005,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0
...,...,...,...,...,...,...,...,...,...
94374,98894375,Male,Loyal Customer,32.0,Business travel,Business,1357,83.0,125.0
94375,98894376,Male,Loyal Customer,44.0,Business travel,Business,592,5.0,11.0
94376,98894377,Male,NaN,63.0,Business travel,Business,2794,0.0,0.0
94377,98894378,Male,Loyal Customer,16.0,Personal Travel,Eco,2744,0.0,0.0
94378,98894379,Male,Loyal Customer,54.0,NaN,Eco,2107,28.0,28.0

In [234]:
df=df.merge(df1,on='ID',how='right')
df

,ID,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,...,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,98800001,0,need improvement,Green Car,excellent,excellent,very convinient,good,need improvement,acceptable,...,need improvement,poor,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,98800002,0,poor,Ordinary,excellent,poor,need improvement,good,poor,good,...,good,good,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,98800003,1,need improvement,Green Car,need improvement,need improvement,need improvement,need improvement,good,excellent,...,excellent,excellent,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0
3,98800004,0,acceptable,Ordinary,need improvement,NaN,need improvement,acceptable,need improvement,acceptable,...,acceptable,acceptable,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0
4,98800005,1,acceptable,Ordinary,acceptable,acceptable,manageable,need improvement,good,excellent,...,good,good,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94374,98894375,0,poor,Ordinary,good,good,Convinient,poor,poor,poor,...,good,poor,Male,Loyal Customer,32.0,Business travel,Business,1357,83.0,125.0
94375,98894376,1,good,Ordinary,good,good,Convinient,need improvement,excellent,excellent,...,acceptable,good,Male,Loyal Customer,44.0,Business travel,Business,592,5.0,11.0
94376,98894377,1,need improvement,Green Car,need improvement,need improvement,need improvement,good,excellent,good,...,good,acceptable,Male,NaN,63.0,Business travel,Business,2794,0.0,0.0
94377,98894378,0,need improvement,Ordinary,NaN,need improvement,Convinient,good,need improvement,good,...,excellent,good,Male,Loyal Customer,16.0,Personal Travel,Eco,2744,0.0,0.0
94378,98894379,0,acceptable,Ordinary,poor,acceptable,manageable,acceptable,acceptable,acceptable,...,good,acceptable,Male,Loyal Customer,54.0,NaN,Eco,2107,28.0,28.0

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_comfort             94318 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_time_convenient  85449 non-null  object
 5   Catering                 85638 non-null  object
 6   Platform_location        94349 non-null  object
 7   Onboardwifi_service      94349 non-null  object
 8   Onboard_entertainment    94361 non-null  object
 9   Online_support           94288 non-null  object
 10  Onlinebooking_Ease       94306 non-null  object
 11  Onboard_service          86778 non-null  object
 12  Leg_room                 94289 non-null  object
 13  Baggage_handling         94237 non-null  object
 14  Checkin_service          94302 non-null  object
 15  Cleanliness              94373 non-null  object
 16  Online_boarding          94373 non-null  object
 17  Gender                   94302 non-null  object
 18  CustomerType             85428 non-null  object
 19  Age                      94346 non-null  float64
 20  TypeTravel               85153 non-null  object
 21  Travel_Class             94379 non-null  object
 22  Travel_Distance          94379 non-null  int64
 23  DepartureDelay_in_Mins   94322 non-null  float64
 24  ArrivalDelay_in_Mins     94022 non-null  float64
dtypes: float64(3), int64(3), object(19)
memory usage: 18.7+ MB

In [236]:
df.select_dtypes("object").isnull().sum()

Seat_comfort                 61
Seat_Class                    0
Arrival_time_convenient    8930
Catering                   8741
Platform_location            30
Onboardwifi_service          30
Onboard_entertainment        18
Online_support               91
Onlinebooking_Ease           73
Onboard_service            7601
Leg_room                     90
Baggage_handling            142
Checkin_service              77
Cleanliness                   6
Online_boarding               6
Gender                       77
CustomerType               8951
TypeTravel                 9226
Travel_Class                  0
dtype: int64

In [237]:
df['Seat_comfort'].fillna(df['Seat_comfort'].value_counts().index[0],inplace=True)
df['Arrival_time_convenient'].fillna(df['Arrival_time_convenient'].value_counts().index[0],inplace=True)
df['Catering'].fillna(df['Catering'].value_counts().index[0],inplace=True)
df['Platform_location'].fillna(df['Platform_location'].value_counts().index[0],inplace=True)
df['Onboardwifi_service'].fillna(df['Onboardwifi_service'].value_counts().index[0],inplace=True)
df['Onboard_entertainment'].fillna(df['Onboard_entertainment'].value_counts().index[0],inplace=True)
df['Online_support'].fillna(df['Online_support'].value_counts().index[0],inplace=True)
df['Onlinebooking_Ease'].fillna(df['Onlinebooking_Ease'].value_counts().index[0],inplace=True)
df['Onboard_service'].fillna(df['Onboard_service'].value_counts().index[0],inplace=True)
df['Leg_room'].fillna(df['Leg_room'].value_counts().index[0],inplace=True)
df['Baggage_handling'].fillna(df['Baggage_handling'].value_counts().index[0],inplace=True)
df['Checkin_service'].fillna(df['Checkin_service'].value_counts().index[0],inplace=True)

df['Cleanliness'].fillna(df['Cleanliness'].value_counts().index[0],inplace=True)
df['Online_boarding'].fillna(df['Online_boarding'].value_counts().index[0],inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['CustomerType'].fillna(df['CustomerType'].value_counts().index[0],inplace=True)
df['TypeTravel'].fillna(df['TypeTravel'].value_counts().index[0],inplace=True)

In [238]:
df.select_dtypes("int").isnull().sum()

ID                    0
Overall_Experience    0
Travel_Distance       0
dtype: int64

In [239]:
df.select_dtypes("float").isnull().sum()

Age                        33
DepartureDelay_in_Mins     57
ArrivalDelay_in_Mins      357
dtype: int64

In [240]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['DepartureDelay_in_Mins'].fillna(df['DepartureDelay_in_Mins'].mean(),inplace=True)
df['ArrivalDelay_in_Mins'].fillna(df['ArrivalDelay_in_Mins'].mean(),inplace=True)

In [241]:
for column in df.columns: 
    if df[column].dtype == 'object':
        print(column.upper(),': ',df[column].nunique(),'unique values')
        print('--------------------')
        print(df[column].value_counts())
        print('\n',column.upper(),'(normalized)')
        print('--------------------')
        print(df[column].value_counts(normalize=1))
        print('\n*************************************************\n\n')

SEAT_COMFORT :  6 unique values
--------------------
acceptable          21219
need improvement    20946
good                20595
poor                15185
excellent           12971
extremely poor       3463
Name: Seat_comfort, dtype: int64

 SEAT_COMFORT (normalized)
--------------------
acceptable          0.224828
need improvement    0.221935
good                0.218216
poor                0.160894
excellent           0.137435
extremely poor      0.036692
Name: Seat_comfort, dtype: float64

*************************************************


SEAT_CLASS :  2 unique values
--------------------
Green Car    47435
Ordinary     46944
Name: Seat_Class, dtype: int64

 SEAT_CLASS (normalized)
--------------------
Green Car    0.502601
Ordinary     0.497399
Name: Seat_Class, dtype: float64

*************************************************


ARRIVAL_TIME_CONVENIENT :  6 unique values
--------------------
good                28504
excellent           17684
acceptable          15177
need improvement    14990
poor                13692
extremely poor       4332
Name: Arrival_time_convenient, dtype: int64

 ARRIVAL_TIME_CONVENIENT (normalized)
--------------------
good                0.302016
excellent           0.187372
acceptable          0.160809
need improvement    0.158828
poor                0.145075
extremely poor      0.045900
Name: Arrival_time_convenient, dtype: float64

*************************************************


CATERING :  6 unique values
--------------------
acceptable          27209
need improvement    17978
good                17969
poor                13858
excellent           13455
extremely poor       3910
Name: Catering, dtype: int64

 CATERING (normalized)
--------------------
acceptable          0.288295
need improvement    0.190487
good                0.190392
poor                0.146834
excellent           0.142563
extremely poor      0.041429
Name: Catering, dtype: float64

*************************************************


PLATFORM_LOCATION :  6 unique values
--------------------
manageable           24203
Convinient           21912
need improvement     17832
Inconvinient         16449
very convinient      13981
very inconvinient        2
Name: Platform_location, dtype: int64

 PLATFORM_LOCATION (normalized)
--------------------
manageable           0.256445
Convinient           0.232170
need improvement     0.188940
Inconvinient         0.174287
very convinient      0.148137
very inconvinient    0.000021
Name: Platform_location, dtype: float64

*************************************************


ONBOARDWIFI_SERVICE :  6 unique values
--------------------
good                22865
excellent           20968
acceptable          20118
need improvement    19596
poor                10741
extremely poor         91
Name: Onboardwifi_service, dtype: int64

 ONBOARDWIFI_SERVICE (normalized)
--------------------
good                0.242268
excellent           0.222168
acceptable          0.213162
need improvement    0.207631
poor                0.113807
extremely poor      0.000964
Name: Onboardwifi_service, dtype: float64

*************************************************


ONBOARD_ENTERTAINMENT :  6 unique values
--------------------
good                30464
excellent           21644
acceptable          17560
need improvement    13926
poor                 8641
extremely poor       2144
Name: Onboard_entertainment, dtype: int64

 ONBOARD_ENTERTAINMENT (normalized)
--------------------
good                0.322784
excellent           0.229331
acceptable          0.186058
need improvement    0.147554
poor                0.091556
extremely poor      0.022717
Name: Onboard_entertainment, dtype: float64

*************************************************


ONLINE_SUPPORT :  6 unique values
--------------------
good                30107
excellent           25894
acceptable          15702
need improvement    12508
poor                10167
extremely poor          1
Name: Online_support, dtype: int64

 ONLINE_SUPPORT (normalized)
--------------------
good                0.319001
excellent           0.274362
acceptable          0.166372
need improvement    0.132529
poor                0.107725
extremely poor      0.000011
Name: Online_support, dtype: float64

*************************************************


ONLINEBOOKING_EASE :  6 unique values
--------------------
good                28982
excellent           24744
acceptable          16390
need improvement    14479
poor                 9768
extremely poor         16
Name: Onlinebooking_Ease, dtype: int64

 ONLINEBOOKING_EASE (normalized)
--------------------
good                0.307081
excellent           0.262177
acceptable          0.173662
need improvement    0.153413
poor                0.103498
extremely poor      0.000170
Name: Onlinebooking_Ease, dtype: float64

*************************************************


ONBOARD_SERVICE :  6 unique values
--------------------
good                34866
excellent           21272
acceptable          18071
need improvement    11390
poor                 8776
extremely poor          4
Name: Onboard_service, dtype: int64

 ONBOARD_SERVICE (normalized)
--------------------
good                0.369425
excellent           0.225389
acceptable          0.191473
need improvement    0.120684
poor                0.092987
extremely poor      0.000042
Name: Onboard_service, dtype: float64

*************************************************


LEG_ROOM :  6 unique values
--------------------
good                28960
excellent           24832
acceptable          16384
need improvement    15753
poor                 8110
extremely poor        340
Name: Leg_room, dtype: int64

 LEG_ROOM (normalized)
--------------------
good                0.306848
excellent           0.263109
acceptable          0.173598
need improvement    0.166912
poor                0.085930
extremely poor      0.003602
Name: Leg_room, dtype: float64

*************************************************


BAGGAGE_HANDLING :  5 unique values
--------------------
good                35086
excellent           26003
acceptable          17767
need improvement     9759
poor                 5764
Name: Baggage_handling, dtype: int64

 BAGGAGE_HANDLING (normalized)
--------------------
good                0.371756
excellent           0.275517
acceptable          0.188252
need improvement    0.103402
poor                0.061073
Name: Baggage_handling, dtype: float64

*************************************************


CHECKIN_SERVICE :  6 unique values
--------------------
good                26579
acceptable          25803
excellent           19641
need improvement    11218
poor                11137
extremely poor          1
Name: Checkin_service, dtype: int64

 CHECKIN_SERVICE (normalized)
--------------------
good                0.281620
acceptable          0.273398
excellent           0.208108
need improvement    0.118861
poor                0.118003
extremely poor      0.000011
Name: Checkin_service, dtype: float64

*************************************************


CLEANLINESS :  6 unique values
--------------------
good                35433
excellent           26053
acceptable          17449
need improvement     9806
poor                 5633
extremely poor          5
Name: Cleanliness, dtype: int64

 CLEANLINESS (normalized)
--------------------
good                0.375433
excellent           0.276047
acceptable          0.184882
need improvement    0.103900
poor                0.059685
extremely poor      0.000053
Name: Cleanliness, dtype: float64

*************************************************


ONLINE_BOARDING :  6 unique values
--------------------
good                25539
acceptable          22475
excellent           21742
need improvement    13451
poor                11160
extremely poor         12
Name: Online_boarding, dtype: int64

 ONLINE_BOARDING (normalized)
--------------------
good                0.270600
acceptable          0.238136
excellent           0.230369
need improvement    0.142521
poor                0.118247
extremely poor      0.000127
Name: Online_boarding, dtype: float64

*************************************************


GENDER :  2 unique values
--------------------
Female    47892
Male      46487
Name: Gender, dtype: int64

 GENDER (normalized)
--------------------
Female    0.507443
Male      0.492557
Name: Gender, dtype: float64

*************************************************


CUSTOMERTYPE :  2 unique values
--------------------
Loyal Customer       78774
disloyal Customer    15605
Name: CustomerType, dtype: int64

 CUSTOMERTYPE (normalized)
--------------------
Loyal Customer       0.834656
disloyal Customer    0.165344
Name: CustomerType, dtype: float64

*************************************************


TYPETRAVEL :  2 unique values
--------------------
Business travel    67843
Personal Travel    26536
Name: TypeTravel, dtype: int64

 TYPETRAVEL (normalized)
--------------------
Business travel    0.718836
Personal Travel    0.281164
Name: TypeTravel, dtype: float64

*************************************************


TRAVEL_CLASS :  2 unique values
--------------------
Eco         49342
Business    45037
Name: Travel_Class, dtype: int64

 TRAVEL_CLASS (normalized)
--------------------
Eco         0.522807
Business    0.477193
Name: Travel_Class, dtype: float64

*************************************************

In [242]:
df = pd.get_dummies(df,drop_first=True)
X = df.drop(['Overall_Experience','ID'], axis=1)

y = df['Overall_Experience']
X

,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort_excellent,Seat_comfort_extremely poor,Seat_comfort_good,Seat_comfort_need improvement,Seat_comfort_poor,Seat_Class_Ordinary,...,Cleanliness_poor,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco
0,52.0,272,0.0,5.0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,48.0,2200,9.0,0.0,0,0,0,0,1,1,...,0,0,0,1,0,0,1,0,1,1
2,43.0,1061,77.0,119.0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,44.0,780,13.0,18.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,50.0,1981,0.0,0.0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94374,32.0,1357,83.0,125.0,0,0,0,0,1,1,...,0,0,0,0,0,1,1,0,0,0
94375,44.0,592,5.0,11.0,0,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,0
94376,63.0,2794,0.0,0.0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
94377,16.0,2744,0.0,0.0,0,0,0,1,0,1,...,0,0,0,1,0,0,1,0,1,1
94378,54.0,2107,28.0,28.0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1

In [243]:
X.drop('Platform_location_very inconvinient',axis=1,inplace=True)
X.drop('Online_support_extremely poor',axis=1,inplace=True)
X.drop('Onboard_service_extremely poor',axis=1,inplace=True)
X.drop('Checkin_service_extremely poor',axis=1,inplace=True)
X.drop('Cleanliness_extremely poor',axis=1,inplace=True)
X

,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort_excellent,Seat_comfort_extremely poor,Seat_comfort_good,Seat_comfort_need improvement,Seat_comfort_poor,Seat_Class_Ordinary,...,Cleanliness_poor,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco
0,52.0,272,0.0,5.0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,48.0,2200,9.0,0.0,0,0,0,0,1,1,...,0,0,0,1,0,0,1,0,1,1
2,43.0,1061,77.0,119.0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,44.0,780,13.0,18.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,50.0,1981,0.0,0.0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94374,32.0,1357,83.0,125.0,0,0,0,0,1,1,...,0,0,0,0,0,1,1,0,0,0
94375,44.0,592,5.0,11.0,0,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,0
94376,63.0,2794,0.0,0.0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
94377,16.0,2744,0.0,0.0,0,0,0,1,0,1,...,0,0,0,1,0,0,1,0,1,1
94378,54.0,2107,28.0,28.0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1

In [245]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier(random_state=1)
model=clf.fit(X,y)

C:\Users\Jitu\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[11:21:08] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [246]:
df = pd.read_csv('Surveydata_test.csv')
df

,ID,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,99900001,acceptable,Green Car,acceptable,acceptable,manageable,need improvement,excellent,good,excellent,excellent,excellent,excellent,good,excellent,poor
1,99900002,extremely poor,Ordinary,good,poor,manageable,acceptable,poor,acceptable,acceptable,excellent,acceptable,good,acceptable,excellent,acceptable
2,99900003,excellent,Ordinary,excellent,excellent,very convinient,excellent,excellent,excellent,need improvement,need improvement,need improvement,need improvement,good,need improvement,excellent
3,99900004,acceptable,Green Car,excellent,acceptable,very convinient,poor,acceptable,excellent,poor,acceptable,need improvement,excellent,excellent,excellent,poor
4,99900005,excellent,Ordinary,extremely poor,excellent,need improvement,excellent,excellent,excellent,excellent,NaN,acceptable,excellent,excellent,excellent,excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,need improvement,Green Car,excellent,need improvement,manageable,acceptable,need improvement,acceptable,acceptable,good,excellent,good,acceptable,good,acceptable
35598,99935599,need improvement,Ordinary,need improvement,good,need improvement,acceptable,excellent,excellent,good,good,good,good,acceptable,good,good
35599,99935600,good,Green Car,extremely poor,good,need improvement,need improvement,good,poor,need improvement,poor,acceptable,poor,poor,excellent,need improvement
35600,99935601,excellent,Ordinary,excellent,excellent,Inconvinient,acceptable,excellent,good,excellent,excellent,excellent,excellent,acceptable,excellent,good
35601,99935602,good,Ordinary,acceptable,good,manageable,poor,good,poor,poor,acceptable,good,good,need improvement,good,poor

In [247]:
df1 = pd.read_csv('Traveldata_test.csv')

In [248]:
df=df.merge(df1,on='ID',how='right')
df

,ID,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,...,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,99900001,acceptable,Green Car,acceptable,acceptable,manageable,need improvement,excellent,good,excellent,...,excellent,poor,Female,NaN,36.0,Business travel,Business,532,0.0,0.0
1,99900002,extremely poor,Ordinary,good,poor,manageable,acceptable,poor,acceptable,acceptable,...,excellent,acceptable,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0
2,99900003,excellent,Ordinary,excellent,excellent,very convinient,excellent,excellent,excellent,need improvement,...,need improvement,excellent,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0
3,99900004,acceptable,Green Car,excellent,acceptable,very convinient,poor,acceptable,excellent,poor,...,excellent,poor,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0
4,99900005,excellent,Ordinary,extremely poor,excellent,need improvement,excellent,excellent,excellent,excellent,...,excellent,excellent,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,need improvement,Green Car,excellent,need improvement,manageable,acceptable,need improvement,acceptable,acceptable,...,good,acceptable,Male,Loyal Customer,8.0,Personal Travel,Eco,1334,0.0,0.0
35598,99935599,need improvement,Ordinary,need improvement,good,need improvement,acceptable,excellent,excellent,good,...,good,good,Female,Loyal Customer,53.0,Business travel,Business,1772,0.0,0.0
35599,99935600,good,Green Car,extremely poor,good,need improvement,need improvement,good,poor,need improvement,...,excellent,need improvement,Male,disloyal Customer,22.0,Business travel,Eco,1180,0.0,0.0
35600,99935601,excellent,Ordinary,excellent,excellent,Inconvinient,acceptable,excellent,good,excellent,...,excellent,good,Female,Loyal Customer,67.0,Personal Travel,Eco,420,23.0,16.0
35601,99935602,good,Ordinary,acceptable,good,manageable,poor,good,poor,poor,...,good,poor,Male,NaN,20.0,Personal Travel,Eco,1680,0.0,0.0

In [249]:
df.isnull().sum()

ID                            0
Seat_comfort                 22
Seat_Class                    0
Arrival_time_convenient    3325
Catering                   3357
Platform_location            12
Onboardwifi_service          12
Onboard_entertainment         8
Online_support               26
Onlinebooking_Ease           18
Onboard_service            2872
Leg_room                     25
Baggage_handling             40
Checkin_service              22
Cleanliness                   2
Online_boarding               2
Gender                       30
CustomerType               3383
Age                          11
TypeTravel                 3448
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       29
ArrivalDelay_in_Mins        123
dtype: int64

In [250]:
df['Seat_comfort'].fillna(df['Seat_comfort'].value_counts().index[0],inplace=True)
df['Arrival_time_convenient'].fillna(df['Arrival_time_convenient'].value_counts().index[0],inplace=True)
df['Catering'].fillna(df['Catering'].value_counts().index[0],inplace=True)
df['Platform_location'].fillna(df['Platform_location'].value_counts().index[0],inplace=True)
df['Onboardwifi_service'].fillna(df['Onboardwifi_service'].value_counts().index[0],inplace=True)
df['Onboard_entertainment'].fillna(df['Onboard_entertainment'].value_counts().index[0],inplace=True)
df['Online_support'].fillna(df['Online_support'].value_counts().index[0],inplace=True)
df['Onlinebooking_Ease'].fillna(df['Onlinebooking_Ease'].value_counts().index[0],inplace=True)
df['Onboard_service'].fillna(df['Onboard_service'].value_counts().index[0],inplace=True)
df['Leg_room'].fillna(df['Leg_room'].value_counts().index[0],inplace=True)
df['Baggage_handling'].fillna(df['Baggage_handling'].value_counts().index[0],inplace=True)
df['Checkin_service'].fillna(df['Checkin_service'].value_counts().index[0],inplace=True)

df['Cleanliness'].fillna(df['Cleanliness'].value_counts().index[0],inplace=True)
df['Online_boarding'].fillna(df['Online_boarding'].value_counts().index[0],inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['CustomerType'].fillna(df['CustomerType'].value_counts().index[0],inplace=True)
df['TypeTravel'].fillna(df['TypeTravel'].value_counts().index[0],inplace=True)

In [251]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['DepartureDelay_in_Mins'].fillna(df['DepartureDelay_in_Mins'].mean(),inplace=True)
df['ArrivalDelay_in_Mins'].fillna(df['ArrivalDelay_in_Mins'].mean(),inplace=True)

In [252]:
for column in df.columns: 
    if df[column].dtype == 'object':
        print(column.upper(),': ',df[column].nunique(),'unique values')
        print('--------------------')
        print(df[column].value_counts())
        print('\n',column.upper(),'(normalized)')
        print('--------------------')
        print(df[column].value_counts(normalize=1))
        print('\n*************************************************\n\n')

SEAT_COMFORT :  6 unique values
--------------------
acceptable          8025
need improvement    7831
good                7808
poor                5755
excellent           4854
extremely poor      1329
Name: Seat_comfort, dtype: int64

 SEAT_COMFORT (normalized)
--------------------
acceptable          0.225409
need improvement    0.219960
good                0.219314
poor                0.161648
excellent           0.136341
extremely poor      0.037329
Name: Seat_comfort, dtype: float64

*************************************************


SEAT_CLASS :  2 unique values
--------------------
Ordinary     17860
Green Car    17742
Name: Seat_Class, dtype: int64

 SEAT_CLASS (normalized)
--------------------
Ordinary     0.501657
Green Car    0.498343
Name: Seat_Class, dtype: float64

*************************************************


ARRIVAL_TIME_CONVENIENT :  6 unique values
--------------------
good                10686
excellent            6589
acceptable           5844
need improvement     5684
poor                 5131
extremely poor       1668
Name: Arrival_time_convenient, dtype: int64

 ARRIVAL_TIME_CONVENIENT (normalized)
--------------------
good                0.300152
excellent           0.185074
acceptable          0.164148
need improvement    0.159654
poor                0.144121
extremely poor      0.046851
Name: Arrival_time_convenient, dtype: float64

*************************************************


CATERING :  6 unique values
--------------------
acceptable          10490
need improvement     6701
good                 6701
poor                 5178
excellent            5025
extremely poor       1507
Name: Catering, dtype: int64

 CATERING (normalized)
--------------------
acceptable          0.294646
need improvement    0.188220
good                0.188220
poor                0.145441
excellent           0.141144
extremely poor      0.042329
Name: Catering, dtype: float64

*************************************************


PLATFORM_LOCATION :  5 unique values
--------------------
manageable          9376
Convinient          8178
need improvement    6703
Inconvinient        6134
very convinient     5211
Name: Platform_location, dtype: int64

 PLATFORM_LOCATION (normalized)
--------------------
manageable          0.263356
Convinient          0.229706
need improvement    0.188276
Inconvinient        0.172294
very convinient     0.146368
Name: Platform_location, dtype: float64

*************************************************


ONBOARDWIFI_SERVICE :  6 unique values
--------------------
good                8755
excellent           7875
acceptable          7495
need improvement    7456
poor                3980
extremely poor        41
Name: Onboardwifi_service, dtype: int64

 ONBOARDWIFI_SERVICE (normalized)
--------------------
good                0.245913
excellent           0.221195
acceptable          0.210522
need improvement    0.209426
poor                0.111791
extremely poor      0.001152
Name: Onboardwifi_service, dtype: float64

*************************************************


ONBOARD_ENTERTAINMENT :  6 unique values
--------------------
good                11444
excellent            8204
acceptable           6675
need improvement     5279
poor                 3167
extremely poor        833
Name: Onboard_entertainment, dtype: int64

 ONBOARD_ENTERTAINMENT (normalized)
--------------------
good                0.321443
excellent           0.230436
acceptable          0.187489
need improvement    0.148278
poor                0.088956
extremely poor      0.023398
Name: Onboard_entertainment, dtype: float64

*************************************************


ONLINE_SUPPORT :  5 unique values
--------------------
good                11513
excellent            9665
acceptable           5902
need improvement     4755
poor                 3767
Name: Online_support, dtype: int64

 ONLINE_SUPPORT (normalized)
--------------------
good                0.323381
excellent           0.271474
acceptable          0.165777
need improvement    0.133560
poor                0.105809
Name: Online_support, dtype: float64

*************************************************


ONLINEBOOKING_EASE :  6 unique values
--------------------
good                11043
excellent            9380
acceptable           6029
need improvement     5474
poor                 3674
extremely poor          2
Name: Onlinebooking_Ease, dtype: int64

 ONLINEBOOKING_EASE (normalized)
--------------------
good                0.310179
excellent           0.263468
acceptable          0.169344
need improvement    0.153755
poor                0.103196
extremely poor      0.000056
Name: Onlinebooking_Ease, dtype: float64

*************************************************


ONBOARD_SERVICE :  5 unique values
--------------------
good                13094
excellent            7941
acceptable           6770
need improvement     4385
poor                 3412
Name: Onboard_service, dtype: int64

 ONBOARD_SERVICE (normalized)
--------------------
good                0.367788
excellent           0.223049
acceptable          0.190158
need improvement    0.123167
poor                0.095837
Name: Onboard_service, dtype: float64

*************************************************


LEG_ROOM :  6 unique values
--------------------
good                10867
excellent            9536
acceptable           6079
need improvement     5992
poor                 3025
extremely poor        103
Name: Leg_room, dtype: int64

 LEG_ROOM (normalized)
--------------------
good                0.305236
excellent           0.267850
acceptable          0.170749
need improvement    0.168305
poor                0.084967
extremely poor      0.002893
Name: Leg_room, dtype: float64

*************************************************


BAGGAGE_HANDLING :  5 unique values
--------------------
good                13331
excellent            9729
acceptable           6683
need improvement     3659
poor                 2200
Name: Baggage_handling, dtype: int64

 BAGGAGE_HANDLING (normalized)
--------------------
good                0.374445
excellent           0.273271
acceptable          0.187714
need improvement    0.102775
poor                0.061794
Name: Baggage_handling, dtype: float64

*************************************************


CHECKIN_SERVICE :  5 unique values
--------------------
good                10004
acceptable           9740
excellent            7375
need improvement     4262
poor                 4221
Name: Checkin_service, dtype: int64

 CHECKIN_SERVICE (normalized)
--------------------
good                0.280995
acceptable          0.273580
excellent           0.207151
need improvement    0.119712
poor                0.118561
Name: Checkin_service, dtype: float64

*************************************************


CLEANLINESS :  5 unique values
--------------------
good                13423
excellent            9900
acceptable           6534
need improvement     3607
poor                 2138
Name: Cleanliness, dtype: int64

 CLEANLINESS (normalized)
--------------------
good                0.377029
excellent           0.278074
acceptable          0.183529
need improvement    0.101315
poor                0.060053
Name: Cleanliness, dtype: float64

*************************************************


ONLINE_BOARDING :  6 unique values
--------------------
good                9682
acceptable          8323
excellent           8250
need improvement    5134
poor                4211
extremely poor         2
Name: Online_boarding, dtype: int64

 ONLINE_BOARDING (normalized)
--------------------
good                0.271951
acceptable          0.233779
excellent           0.231729
need improvement    0.144205
poor                0.118280
extremely poor      0.000056
Name: Online_boarding, dtype: float64

*************************************************


GENDER :  2 unique values
--------------------
Female    18099
Male      17503
Name: Gender, dtype: int64

 GENDER (normalized)
--------------------
Female    0.50837
Male      0.49163
Name: Gender, dtype: float64

*************************************************


CUSTOMERTYPE :  2 unique values
--------------------
Loyal Customer       29732
disloyal Customer     5870
Name: CustomerType, dtype: int64

 CUSTOMERTYPE (normalized)
--------------------
Loyal Customer       0.835122
disloyal Customer    0.164878
Name: CustomerType, dtype: float64

*************************************************


TYPETRAVEL :  2 unique values
--------------------
Business travel    25761
Personal Travel     9841
Name: TypeTravel, dtype: int64

 TYPETRAVEL (normalized)
--------------------
Business travel    0.723583
Personal Travel    0.276417
Name: TypeTravel, dtype: float64

*************************************************


TRAVEL_CLASS :  2 unique values
--------------------
Eco         18473
Business    17129
Name: Travel_Class, dtype: int64

 TRAVEL_CLASS (normalized)
--------------------
Eco         0.518875
Business    0.481125
Name: Travel_Class, dtype: float64

*************************************************

In [253]:
df = pd.get_dummies(df,drop_first=True)
df

,ID,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort_excellent,Seat_comfort_extremely poor,Seat_comfort_good,Seat_comfort_need improvement,Seat_comfort_poor,...,Cleanliness_poor,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco
0,99900001,36.0,532,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,99900002,21.0,1425,9.0,28.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,99900003,60.0,2832,0.0,0.0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,99900004,29.0,1352,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,99900005,18.0,1610,17.0,0.0,1,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,8.0,1334,0.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
35598,99935599,53.0,1772,0.0,0.0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
35599,99935600,22.0,1180,0.0,0.0,0,0,1,0,0,...,0,0,0,0,1,0,1,1,0,1
35600,99935601,67.0,420,23.0,16.0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
35601,99935602,20.0,1680,0.0,0.0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,1,1

In [254]:
df['Overall_Experience'] = model.predict(df.drop('ID',axis=1))
df

,ID,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort_excellent,Seat_comfort_extremely poor,Seat_comfort_good,Seat_comfort_need improvement,Seat_comfort_poor,...,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco,Overall_Experience
0,99900001,36.0,532,0.0,0.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,99900002,21.0,1425,9.0,28.0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,99900003,60.0,2832,0.0,0.0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
3,99900004,29.0,1352,0.0,0.0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
4,99900005,18.0,1610,17.0,0.0,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,8.0,1334,0.0,0.0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,1,0
35598,99935599,53.0,1772,0.0,0.0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
35599,99935600,22.0,1180,0.0,0.0,0,0,1,0,0,...,0,0,0,1,0,1,1,0,1,0
35600,99935601,67.0,420,23.0,16.0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,1,1
35601,99935602,20.0,1680,0.0,0.0,0,0,1,0,0,...,0,0,0,0,1,1,0,1,1,0

In [255]:
df2=df[['ID','Overall_Experience']]
df2['ID'] = df2['ID'].astype('int64')
df2['Overall_Experience'] = df2['Overall_Experience'].astype('int64')
df2

C:\Users\Jitu\AppData\Local\Temp/ipykernel_12312/2112560941.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df2['ID'].astype('int64')
C:\Users\Jitu\AppData\Local\Temp/ipykernel_12312/2112560941.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Overall_Experience'] = df2['Overall_Experience'].astype('int64')

             ID  Overall_Experience
0      99900001                   1
1      99900002                   1
2      99900003                   1
3      99900004                   0
4      99900005                   1
...         ...                 ...
35597  99935598                   0
35598  99935599                   1
35599  99935600                   0
35600  99935601                   1
35601  99935602                   0

[35602 rows x 2 columns]

In [256]:
df = pd.read_csv('Traveldata_test.csv')
df

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,99900001,Female,NaN,36.0,Business travel,Business,532,0.0,0.0
1,99900002,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0
2,99900003,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0
3,99900004,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0
4,99900005,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0
...,...,...,...,...,...,...,...,...,...
35597,99935598,Male,Loyal Customer,8.0,Personal Travel,Eco,1334,0.0,0.0
35598,99935599,Female,Loyal Customer,53.0,Business travel,Business,1772,0.0,0.0
35599,99935600,Male,disloyal Customer,22.0,Business travel,Eco,1180,0.0,0.0
35600,99935601,Female,Loyal Customer,67.0,Personal Travel,Eco,420,23.0,16.0
35601,99935602,Male,NaN,20.0,Personal Travel,Eco,1680,0.0,0.0

In [257]:
df2['ID'] = df['ID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35602 entries, 0 to 35601
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  35602 non-null  int64
 1   Overall_Experience  35602 non-null  int64
dtypes: int64(2)
memory usage: 834.4 KB

C:\Users\Jitu\AppData\Local\Temp/ipykernel_12312/2065228058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df['ID']

In [258]:
df2.to_csv('file1.csv',index=0)