Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [18]:
a=50
b=10.4
c="Hello"

print("the datatype of a is", type(a))
print("the datatype of a is", type(b))
print("the datatype of a is", type(c))

the datatype of a is <class 'int'>
the datatype of a is <class 'float'>
the datatype of a is <class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [19]:
String="My Name is Adam"
String.isupper()

False

Q3.What is the length of the given string?

String- "My Name is Adam"

In [20]:
len(String)

15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [6]:
a= [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]
Total = 0  # defining an object sum

In [7]:
for i in a:
  Total=Total+i
print("The sum of all the elements in the list is",Total )

The sum of all the elements in the list is 91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

In [24]:
i=2
while i<=12:
  print(i)
  i=i+2

2
4
6
8
10
12

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [26]:
i=2
while i<=12:
  if i%2==0:
    print(i)
  i=i+1

2
4
6
8
10
12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [37]:
x=50
y=30
z=40

In [38]:
if (x<y) and (x<z):
  print("x is the smallest number")
elif (y<z):
  print("y is the smallest number")
else: 
  print("z is the smallest number")

y is the smallest number