## Use the airquality Data Set. It contains Daily readings of the following air quality values for May 1, 1973 (a Tuesday) 
##to September 30, 1973.

## Data Dictionary
##Ozone: Mean ozone in parts per billion from 1300 to 1500 hours at Roosevelt Island

##Solar.R: Solar radiation in Langleys in the frequency band 4000â€“7700 Angstroms from 0800 to 1200 hours at Central Park

##Wind: Average wind speed in miles per hour at 0700 and 1000 hours at LaGuardia Airport

##Temp: Maximum daily temperature in degrees Fahrenheit at La Guardia Airport.

##Month: Month (in numbers 1 for Jan, 2 for Feb and so on)

##Day: Day (in numbers)

## Based on the dataset, answer the following.

## Standard Imports - pandas and numpy

In [1]:
import pandas as pd
import numpy as np

## Q1. Import the DataSet into Jupyter Notebook.

In [2]:
aq=pd.read_csv('airquality.csv')
aq.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## Q2. How many observations are there in the object you just imported?

In [7]:
aq.shape

(153, 6)

In [8]:
aq.size

918

## Q3. How many Missing Values are there in the column Solar.R?

In [9]:
aq['Solar.R'].isnull().sum()

7

## Q4. What was the Ozone Levels on 7th July?

In [17]:
aq[(aq['Month']==7)&(aq['Day']==7)]

    Ozone  Solar.R  Wind  Temp  Month  Day
67   77.0    276.0   5.1    88      7    7

## Q5. What has been the average temperature in the month of September?

In [18]:
aq1=aq[aq['Month']==9]
aq1

     Ozone  Solar.R  Wind  Temp  Month  Day
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
129   20.0    252.0  10.9    80      9    7
130   23.0    220.0  10.3    78      9    8
131   21.0    230.0  10.9    75      9    9
132   24.0    259.0   9.7    73      9   10
133   44.0    236.0  14.9    81      9   11
134   21.0    259.0  15.5    76      9   12
135   28.0    238.0   6.3    77      9   13
136    9.0     24.0  10.9    71      9   14
137   13.0    112.0  11.5    71      9   15
138   46.0    237.0   6.9    78      9   16
139   18.0    224.0  13.8    67      9   17
140   13.0     27.0  10.3    76      9   18
141   24.0    238.0  10.3    68      9   19
142   16.0    201.0   8.0    82      9   20
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [22]:
aq1['Temp'].mean()

76.9

In [23]:
#from solution
aq.groupby('Month')['Temp'].describe()

       count       mean       std   min   25%   50%    75%   max
Month
5       31.0  65.548387  6.854870  56.0  60.0  66.0  69.00  81.0
6       30.0  79.100000  6.598589  65.0  76.0  78.0  82.75  93.0
7       31.0  83.903226  4.315513  73.0  81.5  84.0  86.00  92.0
8       31.0  83.967742  6.585256  72.0  79.0  82.0  88.50  97.0
9       30.0  76.900000  8.355671  63.0  71.0  76.0  81.00  93.0

## Q6. What was the maximum windspeed observed in July?

In [26]:
aq.groupby('Month')['Wind'].describe()

       count       mean       std  min   25%   50%     75%   max
Month
5       31.0  11.622581  3.531450  5.7  8.90  11.5  14.050  20.1
6       30.0  10.266667  3.769234  1.7  8.00   9.7  11.500  20.7
7       31.0   8.941935  3.035981  4.1  6.90   8.6  10.900  14.9
8       31.0   8.793548  3.225930  2.3  6.60   8.6  11.200  15.5
9       30.0  10.180000  3.461254  2.8  7.55  10.3  12.325  16.6

In [ ]:
#answer:14.9

## Q7. Which month has the day with minimum amount of Solar Radiation?

In [35]:
aq.sort_values(by='Solar.R').reset_index().iloc[0]

index      81.0
Ozone      16.0
Solar.R     7.0
Wind        6.9
Temp       74.0
Month       7.0
Day        21.0
Name: 0, dtype: float64

## Q8. Which month has the coldest day?

In [37]:
aq.sort_values(by='Temp').reset_index().head(1)

   index  Ozone  Solar.R  Wind  Temp  Month  Day
0      4    NaN      NaN  14.3    56      5    5

## Q9. Which was the hottest day? (Only day not month)

In [39]:
aq.sort_values(by='Temp',ascending=False).reset_index().head(1)['Day']

0    28
Name: Day, dtype: int64

## Q10. Which day had Ozone Level of 78 and Temperature of 86 (Day and Month)

In [40]:
aq[(aq['Ozone']==78)&(aq['Temp']==86)]

    Ozone  Solar.R  Wind  Temp  Month  Day
95   78.0      NaN   6.9    86      8    4