In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [3]:
df.drop(['year','ID','open_credit','construction_type','Security_Type'],axis=1,inplace=True)

In [4]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [5]:
X = df.drop('Status', axis=1)
X = pd.get_dummies(X,drop_first=True)
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
scaler1 = StandardScaler()
scaled1 = scaler1.fit_transform(X)
scaler2 = MinMaxScaler()
scaled = scaler2.fit_transform(scaled1)
X=pd.DataFrame(scaled,columns=X.columns,index=X.index)
y = df['Status']
X

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,dtir1,...,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south
0,0.028090,0.505684,0.583225,0.053750,1.000000,0.006667,0.003007,0.6450,0.012485,0.714286,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.053371,0.505684,0.583225,0.053750,1.000000,0.029691,0.008607,0.1300,0.009167,0.584517,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.109551,0.570000,0.548678,0.009917,1.000000,0.030303,0.016385,0.8350,0.010096,0.732143,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.123596,0.531250,0.617441,0.053750,1.000000,0.039394,0.020533,0.2175,0.008737,0.660714,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.191011,0.500000,0.563574,0.000000,1.000000,0.045455,0.018044,0.2550,0.011611,0.607143,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,0.117978,0.390625,0.556841,0.166000,0.318182,0.036364,0.013585,0.3975,0.009045,0.767857,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
148666,0.160112,0.648750,0.642230,0.000000,1.000000,0.047273,0.012341,0.1725,0.009382,0.178571,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
148667,0.120787,0.390625,0.531751,0.020444,0.318182,0.043636,0.011926,0.5050,0.007709,0.785714,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148668,0.050562,0.437500,0.603345,0.072056,0.318182,0.016364,0.012341,0.5925,0.008903,0.428571,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
148669,0.109551,0.546875,0.718385,0.100000,0.545455,0.033333,0.012548,0.8250,0.009180,0.696429,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn import svm
clf = svm.SVC(class_weight='balanced',C=0.7,kernel='poly',degree=2,gamma=5,cache_size=10000)
model=clf.fit(X,y)

In [ ]:
df = pd.read_csv('test_data.csv')
df

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.drop(['year','open_credit','construction_type','Security_Type'],axis=1,inplace=True)
scaler1 = StandardScaler()
scaled1 = scaler1.fit_transform(df)
scaler2 = MinMaxScaler()
scaled = scaler2.fit_transform(scaled1)
df=pd.DataFrame(scaled,columns=df.columns,index=df.index)
df

In [ ]:
df['Status'] = model.predict(df.drop('ID',axis=1))
df

In [ ]:
df2=df[['ID','Status']]
df2['ID'] = df2['ID'].astype('int64')
df2['Status'] = df2['Status'].astype('int64')
df2

In [ ]:
df = pd.read_csv('test_data.csv')
df

In [ ]:
df2['ID'] = df['ID']
df2.info()

In [ ]:
df2.to_csv('file4.csv',index=0)