In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [3]:
df.drop(['year','ID','open_credit','construction_type','Security_Type'],axis=1,inplace=True)

In [4]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [5]:
X = df.drop('Status', axis=1)
X = pd.get_dummies(X,drop_first=True)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled = scaler.fit_transform(X)
X=pd.DataFrame(scaled,columns=X.columns,index=X.index)
y = df['Status']
X

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,dtir1,...,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south
0,-1.166980,-1.922896e-12,4.237894e-15,-3.626057e-14,0.425737,-1.113507,-0.829008,0.502357,6.858451e-01,7.529012e-01,...,-0.532236,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,1.149951
1,-0.677607,-1.922896e-12,4.237894e-15,-3.626057e-14,0.425737,0.000000,-0.314189,-1.275413,-7.990009e-14,-7.361545e-16,...,-0.532236,-0.554066,1.88936,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,-0.869602
2,0.409890,1.054866e+00,-5.426102e-01,-9.446405e-01,0.425737,0.029623,0.400838,1.158234,1.919883e-01,8.565058e-01,...,1.878866,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,1.149951
3,0.681764,4.193110e-01,5.374204e-01,-3.626057e-14,0.425737,0.469289,0.782185,-0.973365,-8.894476e-02,4.420876e-01,...,-0.532236,1.804839,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602
4,1.986759,-9.323350e-02,-3.086410e-01,-1.158352e+00,0.425737,0.762399,0.553377,-0.843916,5.052326e-01,1.312740e-01,...,-0.532236,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,0.573014,-1.887139e+00,-4.143986e-01,2.419075e+00,-2.656410,0.322734,0.143428,-0.352008,-2.517425e-02,1.063715e+00,...,-0.532236,-0.554066,1.88936,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,1.149951
148666,1.388636,2.346478e+00,9.267703e-01,-1.158352e+00,0.425737,0.850332,0.029024,-1.128704,4.441161e-02,-2.355235e+00,...,-0.532236,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,1.149951
148667,0.627389,-1.887139e+00,-8.084638e-01,-7.177684e-01,-2.656410,0.674466,-0.009111,0.019080,-3.012915e-01,1.167319e+00,...,-0.532236,1.804839,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602
148668,-0.731981,-1.118323e+00,3.160253e-01,3.944989e-01,-2.656410,-0.644530,0.029024,0.321128,-5.445623e-02,-9.047715e-01,...,-0.532236,-0.554066,1.88936,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,-0.869602
148669,0.409890,6.755833e-01,2.122887e+00,9.967243e-01,-1.629028,0.176178,0.048091,1.123714,2.718980e-03,6.492967e-01,...,-0.532236,1.804839,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602

In [ ]:
 from sklearn import svm
clf = svm.SVC(class_weight='balanced',C=0.6)
model=clf.fit(X,y)

In [ ]:
df = pd.read_csv('test_data.csv')
df

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.drop(['year','open_credit','construction_type','Security_Type'],axis=1,inplace=True)
df = pd.get_dummies(df,drop_first=True)
scaled = scaler.fit_transform(df)
df=pd.DataFrame(scaled,columns=df.columns,index=df.index)
df

In [ ]:
df['Status'] = model.predict(df.drop('ID',axis=1))
df

In [ ]:
df2=df[['ID','Status']]
df2['ID'] = df2['ID'].astype('int64')
df2['Status'] = df2['Status'].astype('int64')
df2

In [ ]:
df = pd.read_csv('test_data.csv')
df

In [ ]:
df2['ID'] = df['ID']
df2.info()

In [ ]:
df2.to_csv('file6.csv',index=0)