# Introduction to Programming using Python

**Using Anaconda Distribution's Jupyter Notebook**

## Conditional Statements and Loops

## Conditional Statements

- `IF condtion`
- `IF-ELSE condition`
- `Nested IF-ELSE condtion`

### These statements are used to make decisions based on conditions

**Syntax**

    if test expression:
           statement(s)

## IF condition

In [ ]:
#Example
x=1
if x>0:
    print('Hello World')

In [2]:
#Run the exact above code with x=0
#Write your code here
x=0
if x>0:
    print('Hello World')

## IF-ELSE condition

In [ ]:
#Example
x=0
if x>0:
    print('Hello World')
else:
    print('Hi World')

## Nested IF-ELSE condition

In [1]:
# Write a code which can identify the largest number from 3 given numbers
x=input('Enter 1st No. ')
y=input('Enter 2nd No. ')
z=input('Enter 3rd No. ')
if int(x)>int(y) and int(x)>int(z):
    print(x,'is largest')
elif int(y)>int(x) and int(y)>int(z):
    print(y,'is largest')
else:
    print(z,'is largest')

Enter 1st No. 85
Enter 2nd No. 56
Enter 3rd No. 138
138 is largest

In [62]:
#or this way round
x=input('Enter 1st No. ')
y=input('Enter 2nd No. ')
z=input('Enter 3rd No. ')
if int(x)>int(y):
    if int(x)>int(z):
        print(x,'is largest')
    else:
        print(z,'is largest')
elif int(y)>int(z):
        print(y,'is largest')
else:
    print(z,'is largest')

Enter 1st No. 8
Enter 2nd No. 5
Enter 3rd No. 6
8 is largest

## Advanced IF-ELSE

<img src ="https://cdn.pixabay.com/photo/2019/04/02/09/27/income-tax-4097292_1280.jpg" width=50% height =25%></img>

<h1 style ="font-family:Times;color:DarkBlue"> Ms. George is a CA and is just bored of manually calculating her clients' tax slabs. She asks her daughter's friend, YOU!, yes You , to  help her automate this boring stuff.</h1>

<h1 style ="font-family:Times;color:DarkBlue"><img src =" https://cdn.pixabay.com/photo/2018/01/14/23/10/bored-3082829__340.jpg" width=40% height =25%>
 Will you help her?</h1></img>

>Taxable income Tax Rate
    
>Up to Rs. 2,50,000	            ***Nil***

>Rs. 2,50,001 to Rs. 5,00,000	***5%***

>Rs. 5,00,001 to Rs. 7,50,000	***10%***

>Rs. 7,50,001 to Rs. 10,00,000	***15%***

>Rs. 10,00,001 to Rs. 12,50,000	***20%***

>Rs. 12,50,001 to Rs. 15,00,000	***25%***

>Above Rs. 15,00,000	        ***30%***

In [61]:
x=input('Enter the amount in INR: ')
if int(x)<=250000:
    tax=0
elif int(x)>250000 and int(x)<=500000:
    tax=5
elif int(x)>500000 and int(x)<=750000:
    tax=10
elif int(x)>750000 and int(x)<=1000000:
    tax=15
elif int(x)>1000000 and int(x)<=1250000:
    tax=20
elif int(x)>1250000 and int(x)<=1500000:
    tax=25
else:
    tax=30
taxamt=(int(x)*tax)/100
print('Tax for amount INR',x,'is INR',taxamt,'@',tax,'%')

Enter the amount in INR: 745000
Tax for amount INR 745000 is INR 74500.0 @ 10 %

# Loops
- FOR loop
- While loop

## `for` Loop

In [52]:
#Printing square from 1 to 10
for i in range(1,11):
    print('Square of',i,'is',i**2)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

<h1 style ="font-family:Times;color:DarkBlue">Goods and Services Tax or simply GST. When this word comes, the local shopkeepers kind of feel irked because of the complex calculations and confusing guidelines. </h1>


<img src ="https://www.outlookindia.com/outlookmoney/public/uploads/article/gallery/a0bbda7bd6bac8ffd1816c339e5b71d8.jpg" width=60% height =25%></img>


<h1 style ="font-family:Times;color:DarkBlue">You gotta use your python skills to help your local shopkeeper calculate the Net Price for his shop's product provided below along with it's respective GST slab.</h1>

<img src ="https://i.imgflip.com/v1ymo.jpg"></img>

GST Amount = ( Original Cost * GST ) / 100

Net Price = Original Cost + GST Amount

#Given

Product Cost / GST Slab

Product1- 1000 / **18%**

Product2- 250 / **18%**

Product3- 125 / **5%**

Product4- 345 / **18%**

Product5- 820 / **12%**

Product6- 980 / **5%**

Product7- 500 / **12%**

In [60]:
x=input('Enter the actual price of product: ')
if int(x)==1000 or int(x)==250 or int(x)==345:
    gst=18
elif int(x)==125 or int(x)==980:
    gst=5
elif int(x)==820 or int(x)==500:
    gst=12
gstamt=(int(x)*gst)/100
net=int(x)+gstamt
print('Net Price for article is',net,'@',gst,'% GST')

Enter the actual price of product: 500
Net Price for article is 560.0 @ 12 % GST

## Using IF-ELSE with for Loop

In [64]:
#Printing squares of even numbers from 1 to 100
for i in range(1,101):
    if i%2==0:
        print('Square of',i,'is',i**2)

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64
Square of 10 is 100
Square of 12 is 144
Square of 14 is 196
Square of 16 is 256
Square of 18 is 324
Square of 20 is 400
Square of 22 is 484
Square of 24 is 576
Square of 26 is 676
Square of 28 is 784
Square of 30 is 900
Square of 32 is 1024
Square of 34 is 1156
Square of 36 is 1296
Square of 38 is 1444
Square of 40 is 1600
Square of 42 is 1764
Square of 44 is 1936
Square of 46 is 2116
Square of 48 is 2304
Square of 50 is 2500
Square of 52 is 2704
Square of 54 is 2916
Square of 56 is 3136
Square of 58 is 3364
Square of 60 is 3600
Square of 62 is 3844
Square of 64 is 4096
Square of 66 is 4356
Square of 68 is 4624
Square of 70 is 4900
Square of 72 is 5184
Square of 74 is 5476
Square of 76 is 5776
Square of 78 is 6084
Square of 80 is 6400
Square of 82 is 6724
Square of 84 is 7056
Square of 86 is 7396
Square of 88 is 7744
Square of 90 is 8100
Square of 92 is 8464
Square of 94 is 8836
Square of 96 is 9216
Square of 98 is 9604
Square of 100 is 10000

## `while` loop

In [2]:
#Printing square from 1 to 10
i=1
while i<11:
    print('Square of',i,'is',i**2)
    i+=1

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

## Using IF-ELSE with `while` Loop

In [1]:
#Printing squares of even numbers from 1 to 100
i=1
while i<101:
    if i%2==0:
        print('Square of',i,'is',i**2)
    i+=1

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64
Square of 10 is 100
Square of 12 is 144
Square of 14 is 196
Square of 16 is 256
Square of 18 is 324
Square of 20 is 400
Square of 22 is 484
Square of 24 is 576
Square of 26 is 676
Square of 28 is 784
Square of 30 is 900
Square of 32 is 1024
Square of 34 is 1156
Square of 36 is 1296
Square of 38 is 1444
Square of 40 is 1600
Square of 42 is 1764
Square of 44 is 1936
Square of 46 is 2116
Square of 48 is 2304
Square of 50 is 2500
Square of 52 is 2704
Square of 54 is 2916
Square of 56 is 3136
Square of 58 is 3364
Square of 60 is 3600
Square of 62 is 3844
Square of 64 is 4096
Square of 66 is 4356
Square of 68 is 4624
Square of 70 is 4900
Square of 72 is 5184
Square of 74 is 5476
Square of 76 is 5776
Square of 78 is 6084
Square of 80 is 6400
Square of 82 is 6724
Square of 84 is 7056
Square of 86 is 7396
Square of 88 is 7744
Square of 90 is 8100
Square of 92 is 8464
Square of 94 is 8836
Square of 96 is 9216
Square of 98 is 9604
Square of 100 is 10000