In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('Train_Dataset.csv')
df

,EmployeeID,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,5110001.0,0.0,35.0,Rarely,Analytics,5.0,CA,Male,69.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,NaN,M,18932.0
1,5110002.0,1.0,32.0,Yes,Sales,5.0,Statistics,Female,62.0,4.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,NaN,Single,18785.0
2,5110003.0,0.0,31.0,Rarely,Analytics,5.0,Statistics,F,45.0,5.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.0,Single,22091.0
3,5110004.0,0.0,34.0,Yes,Sales,10.0,Statistics,Female,32.0,3.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.0,Divorsed,20302.0
4,5110005.0,0.0,37.0,No,Analytics,27.0,Statistics,Female,49.0,3.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.0,Divorsed,21674.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df.drop('EmployeeID',axis=1,inplace=True)

In [72]:
df.isnull().sum()

Attrition             2630
Age                   2946
TravelProfile         2630
Department            2754
HomeToWork            2885
EducationField        2630
Gender                2676
HourlnWeek            2917
Involvement           2630
WorkLifeBalance       2630
Designation           2668
JobSatisfaction       2630
ESOPs                 2630
NumCompaniesWorked    2630
OverTime              2630
SalaryHikelastYear    2799
WorkExperience        2817
LastPromotion         2700
CurrentProfile        2941
MaritalStatus         2630
MonthlyIncome         2723
dtype: int64

In [73]:
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['Involvement'].fillna(df['Involvement'].mean(),inplace=True)
df['WorkLifeBalance'].fillna(df['WorkLifeBalance'].mean(),inplace=True)
df['JobSatisfaction'].fillna(df['JobSatisfaction'].mean(),inplace=True)
df['ESOPs'].fillna(df['ESOPs'].mean(),inplace=True)
df['NumCompaniesWorked'].fillna(df['NumCompaniesWorked'].mean(),inplace=True)
df['OverTime'].fillna(df['OverTime'].mean(),inplace=True)

df['Age'].fillna(df['Age'].mean(),inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['SalaryHikelastYear'].fillna(df['SalaryHikelastYear'].mean(),inplace=True)
df['WorkExperience'].fillna(df['WorkExperience'].mean(),inplace=True)
df['LastPromotion'].fillna(df['LastPromotion'].mean(),inplace=True)
df['CurrentProfile'].fillna(df['CurrentProfile'].mean(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].mean(),inplace=True)

df['Department'].fillna(df['Department'].value_counts().index[0],inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)
df['TravelProfile'].fillna(df['TravelProfile'].value_counts().index[0],inplace=True)
df['EducationField'].fillna(df['EducationField'].value_counts().index[0],inplace=True)
df['MaritalStatus'].fillna(df['MaritalStatus'].value_counts().index[0],inplace=True)

In [74]:
df.isnull().sum()

Attrition             2630
Age                      0
TravelProfile            0
Department               0
HomeToWork               0
EducationField           0
Gender                   0
HourlnWeek               0
Involvement              0
WorkLifeBalance          0
Designation              0
JobSatisfaction          0
ESOPs                    0
NumCompaniesWorked       0
OverTime                 0
SalaryHikelastYear       0
WorkExperience           0
LastPromotion            0
CurrentProfile           0
MaritalStatus            0
MonthlyIncome            0
dtype: int64

In [75]:
df.dropna(inplace=True)
df

,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,0.0,35.000000,Rarely,Analytics,5.000000,CA,Male,69.0,1.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,4.385295,M,18932.0
1,1.0,32.000000,Yes,Sales,5.000000,Statistics,Female,62.0,4.0,3.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,4.385295,Single,18785.0
2,0.0,31.000000,Rarely,Analytics,5.000000,Statistics,F,45.0,5.0,3.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.000000,Single,22091.0
3,0.0,34.000000,Yes,Sales,10.000000,Statistics,Female,32.0,3.0,2.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.000000,Divorsed,20302.0
4,0.0,37.000000,No,Analytics,27.000000,Statistics,Female,49.0,3.0,4.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.000000,Divorsed,21674.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5175,0.0,36.000000,Rarely,Analytics,13.000000,CA,F,53.0,3.0,3.0,...,3.0,0.0,4.0,1.0,22.0,11.0,1.0,5.000000,Single,22142.0
5176,0.0,37.108553,Rarely,Marketing,9.000000,CA,Female,66.0,1.0,4.0,...,4.0,1.0,9.0,0.0,23.0,8.0,0.0,2.000000,Single,17109.0
5177,0.0,29.000000,Rarely,Analytics,11.107411,CA,Female,62.0,4.0,2.0,...,1.0,1.0,6.0,0.0,19.0,8.0,0.0,3.000000,M,17532.0
5178,0.0,26.000000,Rarely,Marketing,26.000000,Statistics,Female,61.0,3.0,4.0,...,3.0,0.0,1.0,0.0,28.0,8.0,5.0,7.000000,Divorsed,17942.0
5179,1.0,37.108553,Yes,Sales,13.000000,Statistics,Male,74.0,4.0,3.0,...,5.0,1.0,1.0,0.0,23.0,1.0,0.0,0.000000,Divorsed,17033.0

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5180 entries, 0 to 5179
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Attrition           5180 non-null   float64
 1   Age                 5180 non-null   float64
 2   TravelProfile       5180 non-null   object
 3   Department          5180 non-null   object
 4   HomeToWork          5180 non-null   float64
 5   EducationField      5180 non-null   object
 6   Gender              5180 non-null   object
 7   HourlnWeek          5180 non-null   float64
 8   Involvement         5180 non-null   float64
 9   WorkLifeBalance     5180 non-null   float64
 10  Designation         5180 non-null   object
 11  JobSatisfaction     5180 non-null   float64
 12  ESOPs               5180 non-null   float64
 13  NumCompaniesWorked  5180 non-null   float64
 14  OverTime            5180 non-null   float64
 15  SalaryHikelastYear  5180 non-null   float64
 16  WorkExperience      5180 non-null   float64
 17  LastPromotion       5180 non-null   float64
 18  CurrentProfile      5180 non-null   float64
 19  MaritalStatus       5180 non-null   object
 20  MonthlyIncome       5180 non-null   float64
dtypes: float64(15), object(6)
memory usage: 890.3+ KB

In [77]:
df = pd.get_dummies(df,drop_first=True)
X = df.drop('Attrition', axis=1)

y = df['Attrition']

In [78]:
from xgboost import XGBClassifier
clf = XGBClassifier(random_state=1)
model1=clf.fit(X,y)

C:\Users\Jitu\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[14:22:10] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [79]:
from lightgbm import LGBMClassifier
clf = LGBMClassifier(random_state=1)
model3=clf.fit(X,y)

In [80]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier(random_state=1,learning_rate=0.37,max_depth=10)   # learning_rate= 0.36, 0.38 give same result
model4=clf.fit(X,y)

0:	learn: 0.4849512	total: 49.6ms	remaining: 49.5s
1:	learn: 0.3246552	total: 93.8ms	remaining: 46.8s
2:	learn: 0.2477524	total: 143ms	remaining: 47.5s
3:	learn: 0.1963869	total: 194ms	remaining: 48.2s
4:	learn: 0.1703078	total: 253ms	remaining: 50.4s
5:	learn: 0.1515276	total: 303ms	remaining: 50.2s
6:	learn: 0.1203647	total: 352ms	remaining: 49.9s
7:	learn: 0.1041380	total: 398ms	remaining: 49.4s
8:	learn: 0.0921568	total: 446ms	remaining: 49.1s
9:	learn: 0.0835633	total: 552ms	remaining: 54.7s
10:	learn: 0.0781238	total: 599ms	remaining: 53.9s
11:	learn: 0.0735482	total: 643ms	remaining: 53s
12:	learn: 0.0643485	total: 691ms	remaining: 52.5s
13:	learn: 0.0565456	total: 739ms	remaining: 52.1s
14:	learn: 0.0498239	total: 801ms	remaining: 52.6s
15:	learn: 0.0456866	total: 858ms	remaining: 52.7s
16:	learn: 0.0428686	total: 910ms	remaining: 52.6s
17:	learn: 0.0394839	total: 957ms	remaining: 52.2s
18:	learn: 0.0361318	total: 1.01s	remaining: 52s
19:	learn: 0.0339366	total: 1.06s	remaining: 52s
20:	learn: 0.0315582	total: 1.11s	remaining: 52s
21:	learn: 0.0284288	total: 1.17s	remaining: 51.9s
22:	learn: 0.0268890	total: 1.22s	remaining: 51.8s
23:	learn: 0.0244625	total: 1.27s	remaining: 51.6s
24:	learn: 0.0226865	total: 1.32s	remaining: 51.4s
25:	learn: 0.0208805	total: 1.37s	remaining: 51.2s
26:	learn: 0.0202127	total: 1.41s	remaining: 50.8s
27:	learn: 0.0191341	total: 1.45s	remaining: 50.5s
28:	learn: 0.0184072	total: 1.51s	remaining: 50.5s
29:	learn: 0.0179301	total: 1.55s	remaining: 50.3s
30:	learn: 0.0169501	total: 1.6s	remaining: 50s
31:	learn: 0.0158414	total: 1.65s	remaining: 49.8s
32:	learn: 0.0148224	total: 1.69s	remaining: 49.6s
33:	learn: 0.0139526	total: 1.75s	remaining: 49.6s
34:	learn: 0.0131866	total: 1.8s	remaining: 49.6s
35:	learn: 0.0123364	total: 1.85s	remaining: 49.6s
36:	learn: 0.0116365	total: 1.92s	remaining: 50s
37:	learn: 0.0112495	total: 1.97s	remaining: 50s
38:	learn: 0.0109020	total: 2.02s	remaining: 49.9s
39:	learn: 0.0105694	total: 2.08s	remaining: 49.8s
40:	learn: 0.0102887	total: 2.13s	remaining: 49.8s
41:	learn: 0.0098886	total: 2.18s	remaining: 49.8s
42:	learn: 0.0094331	total: 2.24s	remaining: 49.8s
43:	learn: 0.0089567	total: 2.29s	remaining: 49.7s
44:	learn: 0.0085146	total: 2.33s	remaining: 49.5s
45:	learn: 0.0081257	total: 2.38s	remaining: 49.3s
46:	learn: 0.0078182	total: 2.42s	remaining: 49.1s
47:	learn: 0.0075491	total: 2.47s	remaining: 48.9s
48:	learn: 0.0072659	total: 2.51s	remaining: 48.7s
49:	learn: 0.0070574	total: 2.56s	remaining: 48.6s
50:	learn: 0.0068711	total: 2.61s	remaining: 48.5s
51:	learn: 0.0065723	total: 2.65s	remaining: 48.4s
52:	learn: 0.0063465	total: 2.7s	remaining: 48.2s
53:	learn: 0.0061301	total: 2.74s	remaining: 48.1s
54:	learn: 0.0059437	total: 2.79s	remaining: 47.9s
55:	learn: 0.0057518	total: 2.83s	remaining: 47.8s
56:	learn: 0.0055887	total: 2.88s	remaining: 47.7s
57:	learn: 0.0054419	total: 2.94s	remaining: 47.7s
58:	learn: 0.0053296	total: 2.98s	remaining: 47.5s
59:	learn: 0.0052202	total: 3.03s	remaining: 47.4s
60:	learn: 0.0050868	total: 3.08s	remaining: 47.4s
61:	learn: 0.0049681	total: 3.13s	remaining: 47.3s
62:	learn: 0.0048583	total: 3.17s	remaining: 47.2s
63:	learn: 0.0047231	total: 3.22s	remaining: 47.1s
64:	learn: 0.0045995	total: 3.27s	remaining: 47s
65:	learn: 0.0044960	total: 3.32s	remaining: 47s
66:	learn: 0.0043750	total: 3.38s	remaining: 47s
67:	learn: 0.0043075	total: 3.42s	remaining: 46.9s
68:	learn: 0.0042113	total: 3.46s	remaining: 46.8s
69:	learn: 0.0041216	total: 3.51s	remaining: 46.7s
70:	learn: 0.0040241	total: 3.56s	remaining: 46.6s
71:	learn: 0.0039257	total: 3.61s	remaining: 46.5s
72:	learn: 0.0038475	total: 3.66s	remaining: 46.4s
73:	learn: 0.0037522	total: 3.7s	remaining: 46.3s
74:	learn: 0.0036611	total: 3.74s	remaining: 46.2s
75:	learn: 0.0035820	total: 3.79s	remaining: 46.1s
76:	learn: 0.0035224	total: 3.84s	remaining: 46s
77:	learn: 0.0034559	total: 3.89s	remaining: 46s
78:	learn: 0.0033895	total: 3.93s	remaining: 45.9s
79:	learn: 0.0033393	total: 3.98s	remaining: 45.8s
80:	learn: 0.0032705	total: 4.03s	remaining: 45.7s
81:	learn: 0.0032114	total: 4.08s	remaining: 45.7s
82:	learn: 0.0031460	total: 4.13s	remaining: 45.7s
83:	learn: 0.0030854	total: 4.19s	remaining: 45.7s
84:	learn: 0.0030399	total: 4.24s	remaining: 45.6s
85:	learn: 0.0029921	total: 4.29s	remaining: 45.6s
86:	learn: 0.0029346	total: 4.33s	remaining: 45.5s
87:	learn: 0.0029016	total: 4.38s	remaining: 45.4s
88:	learn: 0.0028675	total: 4.43s	remaining: 45.3s
89:	learn: 0.0028321	total: 4.47s	remaining: 45.2s
90:	learn: 0.0027833	total: 4.53s	remaining: 45.2s
91:	learn: 0.0027513	total: 4.58s	remaining: 45.2s
92:	learn: 0.0027098	total: 4.62s	remaining: 45.1s
93:	learn: 0.0026739	total: 4.67s	remaining: 45s
94:	learn: 0.0026332	total: 4.72s	remaining: 45s
95:	learn: 0.0025944	total: 4.77s	remaining: 44.9s
96:	learn: 0.0025426	total: 4.81s	remaining: 44.8s
97:	learn: 0.0025171	total: 4.86s	remaining: 44.7s
98:	learn: 0.0024882	total: 4.91s	remaining: 44.6s
99:	learn: 0.0024465	total: 4.96s	remaining: 44.6s
100:	learn: 0.0024101	total: 5.01s	remaining: 44.6s
101:	learn: 0.0023802	total: 5.05s	remaining: 44.5s
102:	learn: 0.0023494	total: 5.1s	remaining: 44.4s
103:	learn: 0.0023188	total: 5.15s	remaining: 44.3s
104:	learn: 0.0022871	total: 5.19s	remaining: 44.3s
105:	learn: 0.0022564	total: 5.24s	remaining: 44.2s
106:	learn: 0.0022256	total: 5.28s	remaining: 44.1s
107:	learn: 0.0021908	total: 5.33s	remaining: 44s
108:	learn: 0.0021607	total: 5.37s	remaining: 43.9s
109:	learn: 0.0021322	total: 5.42s	remaining: 43.8s
110:	learn: 0.0021036	total: 5.46s	remaining: 43.8s
111:	learn: 0.0020765	total: 5.51s	remaining: 43.7s
112:	learn: 0.0020503	total: 5.55s	remaining: 43.6s
113:	learn: 0.0020282	total: 5.59s	remaining: 43.5s
114:	learn: 0.0020282	total: 5.64s	remaining: 43.4s
115:	learn: 0.0020085	total: 5.68s	remaining: 43.3s
116:	learn: 0.0019927	total: 5.73s	remaining: 43.2s
117:	learn: 0.0019682	total: 5.77s	remaining: 43.1s
118:	learn: 0.0019404	total: 5.82s	remaining: 43.1s
119:	learn: 0.0019172	total: 5.87s	remaining: 43s
120:	learn: 0.0018873	total: 5.91s	remaining: 42.9s
121:	learn: 0.0018873	total: 5.95s	remaining: 42.8s
122:	learn: 0.0018710	total: 6s	remaining: 42.8s
123:	learn: 0.0018591	total: 6.04s	remaining: 42.7s
124:	learn: 0.0018591	total: 6.08s	remaining: 42.6s
125:	learn: 0.0018590	total: 6.13s	remaining: 42.5s
126:	learn: 0.0018590	total: 6.17s	remaining: 42.4s
127:	learn: 0.0018407	total: 6.21s	remaining: 42.3s
128:	learn: 0.0018246	total: 6.26s	remaining: 42.3s
129:	learn: 0.0018045	total: 6.3s	remaining: 42.2s
130:	learn: 0.0017831	total: 6.35s	remaining: 42.1s
131:	learn: 0.0017832	total: 6.39s	remaining: 42s
132:	learn: 0.0017627	total: 6.43s	remaining: 41.9s
133:	learn: 0.0017481	total: 6.47s	remaining: 41.9s
134:	learn: 0.0017328	total: 6.52s	remaining: 41.8s
135:	learn: 0.0017058	total: 6.57s	remaining: 41.7s
136:	learn: 0.0017058	total: 6.61s	remaining: 41.7s
137:	learn: 0.0017058	total: 6.66s	remaining: 41.6s
138:	learn: 0.0017058	total: 6.7s	remaining: 41.5s
139:	learn: 0.0017058	total: 6.74s	remaining: 41.4s
140:	learn: 0.0017058	total: 6.78s	remaining: 41.3s
141:	learn: 0.0017058	total: 6.82s	remaining: 41.2s
142:	learn: 0.0017058	total: 6.86s	remaining: 41.1s
143:	learn: 0.0017058	total: 6.9s	remaining: 41s
144:	learn: 0.0017058	total: 6.95s	remaining: 41s
145:	learn: 0.0016881	total: 7s	remaining: 40.9s
146:	learn: 0.0016881	total: 7.04s	remaining: 40.8s
147:	learn: 0.0016725	total: 7.08s	remaining: 40.8s
148:	learn: 0.0016489	total: 7.13s	remaining: 40.8s
149:	learn: 0.0016254	total: 7.18s	remaining: 40.7s
150:	learn: 0.0016094	total: 7.22s	remaining: 40.6s
151:	learn: 0.0015980	total: 7.27s	remaining: 40.6s
152:	learn: 0.0015813	total: 7.31s	remaining: 40.5s
153:	learn: 0.0015812	total: 7.35s	remaining: 40.4s
154:	learn: 0.0015813	total: 7.39s	remaining: 40.3s
155:	learn: 0.0015610	total: 7.44s	remaining: 40.2s
156:	learn: 0.0015609	total: 7.48s	remaining: 40.2s
157:	learn: 0.0015609	total: 7.52s	remaining: 40.1s
158:	learn: 0.0015609	total: 7.54s	remaining: 39.9s
159:	learn: 0.0015609	total: 7.59s	remaining: 39.8s
160:	learn: 0.0015608	total: 7.63s	remaining: 39.8s

161:	learn: 0.0015608	total: 7.67s	remaining: 39.7s
162:	learn: 0.0015608	total: 7.71s	remaining: 39.6s
163:	learn: 0.0015608	total: 7.75s	remaining: 39.5s
164:	learn: 0.0015608	total: 7.8s	remaining: 39.5s
165:	learn: 0.0015608	total: 7.84s	remaining: 39.4s
166:	learn: 0.0015476	total: 7.88s	remaining: 39.3s
167:	learn: 0.0015335	total: 7.93s	remaining: 39.3s
168:	learn: 0.0015189	total: 7.97s	remaining: 39.2s
169:	learn: 0.0015189	total: 8.02s	remaining: 39.1s
170:	learn: 0.0015189	total: 8.06s	remaining: 39.1s
171:	learn: 0.0015189	total: 8.1s	remaining: 39s
172:	learn: 0.0015189	total: 8.15s	remaining: 39s
173:	learn: 0.0015189	total: 8.19s	remaining: 38.9s
174:	learn: 0.0015189	total: 8.21s	remaining: 38.7s
175:	learn: 0.0015188	total: 8.25s	remaining: 38.6s
176:	learn: 0.0015188	total: 8.29s	remaining: 38.5s
177:	learn: 0.0015188	total: 8.33s	remaining: 38.5s
178:	learn: 0.0015188	total: 8.37s	remaining: 38.4s
179:	learn: 0.0015188	total: 8.41s	remaining: 38.3s
180:	learn: 0.0015188	total: 8.45s	remaining: 38.2s
181:	learn: 0.0015187	total: 8.49s	remaining: 38.2s
182:	learn: 0.0015010	total: 8.53s	remaining: 38.1s
183:	learn: 0.0014880	total: 8.58s	remaining: 38s
184:	learn: 0.0014710	total: 8.62s	remaining: 38s
185:	learn: 0.0014710	total: 8.66s	remaining: 37.9s
186:	learn: 0.0014710	total: 8.7s	remaining: 37.8s
187:	learn: 0.0014577	total: 8.75s	remaining: 37.8s
188:	learn: 0.0014577	total: 8.79s	remaining: 37.7s
189:	learn: 0.0014462	total: 8.84s	remaining: 37.7s
190:	learn: 0.0014462	total: 8.88s	remaining: 37.6s
191:	learn: 0.0014462	total: 8.92s	remaining: 37.5s
192:	learn: 0.0014305	total: 8.97s	remaining: 37.5s
193:	learn: 0.0014305	total: 9.01s	remaining: 37.4s
194:	learn: 0.0014305	total: 9.05s	remaining: 37.4s
195:	learn: 0.0014181	total: 9.1s	remaining: 37.3s
196:	learn: 0.0014062	total: 9.15s	remaining: 37.3s
197:	learn: 0.0013927	total: 9.19s	remaining: 37.2s
198:	learn: 0.0013927	total: 9.23s	remaining: 37.2s
199:	learn: 0.0013788	total: 9.27s	remaining: 37.1s
200:	learn: 0.0013761	total: 9.31s	remaining: 37s
201:	learn: 0.0013761	total: 9.35s	remaining: 37s
202:	learn: 0.0013660	total: 9.4s	remaining: 36.9s
203:	learn: 0.0013641	total: 9.44s	remaining: 36.8s
204:	learn: 0.0013499	total: 9.48s	remaining: 36.8s
205:	learn: 0.0013391	total: 9.52s	remaining: 36.7s
206:	learn: 0.0013236	total: 9.57s	remaining: 36.7s
207:	learn: 0.0013096	total: 9.61s	remaining: 36.6s
208:	learn: 0.0013095	total: 9.65s	remaining: 36.5s
209:	learn: 0.0013095	total: 9.7s	remaining: 36.5s
210:	learn: 0.0013093	total: 9.74s	remaining: 36.4s
211:	learn: 0.0013093	total: 9.78s	remaining: 36.4s
212:	learn: 0.0013092	total: 9.82s	remaining: 36.3s
213:	learn: 0.0013092	total: 9.86s	remaining: 36.2s
214:	learn: 0.0012975	total: 9.91s	remaining: 36.2s
215:	learn: 0.0012975	total: 9.95s	remaining: 36.1s
216:	learn: 0.0012871	total: 9.99s	remaining: 36s
217:	learn: 0.0012871	total: 10s	remaining: 36s
218:	learn: 0.0012871	total: 10.1s	remaining: 36s
219:	learn: 0.0012748	total: 10.1s	remaining: 35.9s
220:	learn: 0.0012651	total: 10.2s	remaining: 35.9s
221:	learn: 0.0012649	total: 10.2s	remaining: 35.8s
222:	learn: 0.0012649	total: 10.3s	remaining: 35.7s
223:	learn: 0.0012610	total: 10.3s	remaining: 35.7s
224:	learn: 0.0012498	total: 10.3s	remaining: 35.6s
225:	learn: 0.0012496	total: 10.4s	remaining: 35.6s
226:	learn: 0.0012496	total: 10.4s	remaining: 35.5s
227:	learn: 0.0012496	total: 10.5s	remaining: 35.4s
228:	learn: 0.0012495	total: 10.5s	remaining: 35.4s
229:	learn: 0.0012495	total: 10.5s	remaining: 35.3s
230:	learn: 0.0012495	total: 10.6s	remaining: 35.2s
231:	learn: 0.0012495	total: 10.6s	remaining: 35.2s
232:	learn: 0.0012495	total: 10.7s	remaining: 35.1s
233:	learn: 0.0012495	total: 10.7s	remaining: 35s
234:	learn: 0.0012495	total: 10.7s	remaining: 35s
235:	learn: 0.0012495	total: 10.8s	remaining: 34.9s
236:	learn: 0.0012495	total: 10.8s	remaining: 34.9s
237:	learn: 0.0012495	total: 10.9s	remaining: 34.8s
238:	learn: 0.0012495	total: 10.9s	remaining: 34.8s
239:	learn: 0.0012495	total: 11s	remaining: 34.7s
240:	learn: 0.0012495	total: 11s	remaining: 34.6s
241:	learn: 0.0012495	total: 11s	remaining: 34.6s
242:	learn: 0.0012495	total: 11.1s	remaining: 34.5s
243:	learn: 0.0012495	total: 11.1s	remaining: 34.5s
244:	learn: 0.0012495	total: 11.2s	remaining: 34.4s
245:	learn: 0.0012463	total: 11.2s	remaining: 34.4s
246:	learn: 0.0012463	total: 11.3s	remaining: 34.3s
247:	learn: 0.0012463	total: 11.3s	remaining: 34.3s
248:	learn: 0.0012463	total: 11.3s	remaining: 34.2s
249:	learn: 0.0012463	total: 11.4s	remaining: 34.1s
250:	learn: 0.0012463	total: 11.4s	remaining: 34.1s
251:	learn: 0.0012463	total: 11.5s	remaining: 34s
252:	learn: 0.0012463	total: 11.5s	remaining: 34s
253:	learn: 0.0012463	total: 11.5s	remaining: 33.9s
254:	learn: 0.0012463	total: 11.6s	remaining: 33.8s
255:	learn: 0.0012463	total: 11.6s	remaining: 33.8s
256:	learn: 0.0012463	total: 11.7s	remaining: 33.7s
257:	learn: 0.0012463	total: 11.7s	remaining: 33.7s
258:	learn: 0.0012463	total: 11.7s	remaining: 33.6s
259:	learn: 0.0012462	total: 11.8s	remaining: 33.5s
260:	learn: 0.0012462	total: 11.8s	remaining: 33.5s
261:	learn: 0.0012462	total: 11.9s	remaining: 33.5s
262:	learn: 0.0012462	total: 11.9s	remaining: 33.4s
263:	learn: 0.0012462	total: 12s	remaining: 33.3s
264:	learn: 0.0012462	total: 12s	remaining: 33.3s
265:	learn: 0.0012462	total: 12s	remaining: 33.2s
266:	learn: 0.0012462	total: 12.1s	remaining: 33.2s
267:	learn: 0.0012462	total: 12.1s	remaining: 33.1s
268:	learn: 0.0012462	total: 12.2s	remaining: 33.1s
269:	learn: 0.0012462	total: 12.2s	remaining: 33s
270:	learn: 0.0012462	total: 12.3s	remaining: 33s
271:	learn: 0.0012462	total: 12.3s	remaining: 32.9s
272:	learn: 0.0012462	total: 12.3s	remaining: 32.8s
273:	learn: 0.0012462	total: 12.4s	remaining: 32.8s
274:	learn: 0.0012462	total: 12.4s	remaining: 32.7s
275:	learn: 0.0012461	total: 12.4s	remaining: 32.7s
276:	learn: 0.0012461	total: 12.5s	remaining: 32.6s
277:	learn: 0.0012461	total: 12.5s	remaining: 32.6s
278:	learn: 0.0012461	total: 12.6s	remaining: 32.5s
279:	learn: 0.0012461	total: 12.6s	remaining: 32.4s
280:	learn: 0.0012461	total: 12.7s	remaining: 32.4s
281:	learn: 0.0012461	total: 12.7s	remaining: 32.3s
282:	learn: 0.0012461	total: 12.7s	remaining: 32.3s
283:	learn: 0.0012461	total: 12.8s	remaining: 32.2s
284:	learn: 0.0012461	total: 12.8s	remaining: 32.2s
285:	learn: 0.0012461	total: 12.9s	remaining: 32.1s
286:	learn: 0.0012461	total: 12.9s	remaining: 32.1s
287:	learn: 0.0012461	total: 13s	remaining: 32s
288:	learn: 0.0012461	total: 13s	remaining: 32s
289:	learn: 0.0012461	total: 13s	remaining: 31.9s
290:	learn: 0.0012461	total: 13.1s	remaining: 31.9s
291:	learn: 0.0012461	total: 13.1s	remaining: 31.8s
292:	learn: 0.0012461	total: 13.2s	remaining: 31.8s
293:	learn: 0.0012461	total: 13.2s	remaining: 31.7s
294:	learn: 0.0012461	total: 13.3s	remaining: 31.7s
295:	learn: 0.0012461	total: 13.3s	remaining: 31.6s
296:	learn: 0.0012461	total: 13.3s	remaining: 31.6s
297:	learn: 0.0012461	total: 13.4s	remaining: 31.5s
298:	learn: 0.0012461	total: 13.4s	remaining: 31.4s
299:	learn: 0.0012461	total: 13.5s	remaining: 31.4s
300:	learn: 0.0012461	total: 13.5s	remaining: 31.3s
301:	learn: 0.0012461	total: 13.5s	remaining: 31.3s
302:	learn: 0.0012461	total: 13.6s	remaining: 31.2s
303:	learn: 0.0012461	total: 13.6s	remaining: 31.2s
304:	learn: 0.0012461	total: 13.7s	remaining: 31.1s
305:	learn: 0.0012461	total: 13.7s	remaining: 31.1s
306:	learn: 0.0012461	total: 13.7s	remaining: 31s
307:	learn: 0.0012461	total: 13.8s	remaining: 31s
308:	learn: 0.0012461	total: 13.8s	remaining: 30.9s
309:	learn: 0.0012461	total: 13.9s	remaining: 30.9s
310:	learn: 0.0012460	total: 13.9s	remaining: 30.8s
311:	learn: 0.0012460	total: 14s	remaining: 30.8s
312:	learn: 0.0012460	total: 14s	remaining: 30.7s
313:	learn: 0.0012460	total: 14s	remaining: 30.7s
314:	learn: 0.0012460	total: 14.1s	remaining: 30.6s
315:	learn: 0.0012460	total: 14.1s	remaining: 30.6s
316:	learn: 0.0012460	total: 14.2s	remaining: 30.5s
317:	learn: 0.0012460	total: 14.2s	remaining: 30.5s
318:	learn: 0.0012460	total: 14.3s	remaining: 30.4s
319:	learn: 0.0012460	total: 14.3s	remaining: 30.4s
320:	learn: 0.0012460	total: 14.3s	remaining: 30.3s
321:	learn: 0.0012460	total: 14.4s	remaining: 30.3s

322:	learn: 0.0012459	total: 14.4s	remaining: 30.2s
323:	learn: 0.0012459	total: 14.5s	remaining: 30.2s
324:	learn: 0.0012460	total: 14.5s	remaining: 30.1s
325:	learn: 0.0012459	total: 14.5s	remaining: 30s
326:	learn: 0.0012459	total: 14.6s	remaining: 30s
327:	learn: 0.0012459	total: 14.6s	remaining: 29.9s
328:	learn: 0.0012459	total: 14.7s	remaining: 29.9s
329:	learn: 0.0012459	total: 14.7s	remaining: 29.8s
330:	learn: 0.0012459	total: 14.7s	remaining: 29.8s
331:	learn: 0.0012459	total: 14.8s	remaining: 29.7s
332:	learn: 0.0012459	total: 14.8s	remaining: 29.7s
333:	learn: 0.0012458	total: 14.9s	remaining: 29.6s
334:	learn: 0.0012458	total: 14.9s	remaining: 29.6s
335:	learn: 0.0012458	total: 14.9s	remaining: 29.5s
336:	learn: 0.0012458	total: 15s	remaining: 29.5s
337:	learn: 0.0012458	total: 15s	remaining: 29.4s
338:	learn: 0.0012458	total: 15.1s	remaining: 29.4s
339:	learn: 0.0012458	total: 15.1s	remaining: 29.4s
340:	learn: 0.0012458	total: 15.2s	remaining: 29.3s
341:	learn: 0.0012458	total: 15.2s	remaining: 29.2s
342:	learn: 0.0012458	total: 15.2s	remaining: 29.2s
343:	learn: 0.0012458	total: 15.3s	remaining: 29.1s
344:	learn: 0.0012458	total: 15.3s	remaining: 29.1s
345:	learn: 0.0012458	total: 15.4s	remaining: 29s
346:	learn: 0.0012458	total: 15.4s	remaining: 29s
347:	learn: 0.0012458	total: 15.4s	remaining: 28.9s
348:	learn: 0.0012458	total: 15.5s	remaining: 28.9s
349:	learn: 0.0012458	total: 15.5s	remaining: 28.8s
350:	learn: 0.0012458	total: 15.6s	remaining: 28.8s
351:	learn: 0.0012458	total: 15.6s	remaining: 28.7s
352:	learn: 0.0012458	total: 15.6s	remaining: 28.7s
353:	learn: 0.0012458	total: 15.7s	remaining: 28.6s
354:	learn: 0.0012458	total: 15.7s	remaining: 28.6s
355:	learn: 0.0012458	total: 15.8s	remaining: 28.5s
356:	learn: 0.0012458	total: 15.8s	remaining: 28.5s
357:	learn: 0.0012458	total: 15.9s	remaining: 28.5s
358:	learn: 0.0012458	total: 15.9s	remaining: 28.4s
359:	learn: 0.0012457	total: 16s	remaining: 28.4s
360:	learn: 0.0012457	total: 16s	remaining: 28.4s
361:	learn: 0.0012457	total: 16.1s	remaining: 28.3s
362:	learn: 0.0012457	total: 16.1s	remaining: 28.3s
363:	learn: 0.0012457	total: 16.2s	remaining: 28.2s
364:	learn: 0.0012457	total: 16.2s	remaining: 28.2s
365:	learn: 0.0012457	total: 16.2s	remaining: 28.1s
366:	learn: 0.0012457	total: 16.3s	remaining: 28.1s
367:	learn: 0.0012457	total: 16.3s	remaining: 28s
368:	learn: 0.0012457	total: 16.4s	remaining: 28s
369:	learn: 0.0012456	total: 16.4s	remaining: 27.9s
370:	learn: 0.0012456	total: 16.4s	remaining: 27.9s
371:	learn: 0.0012455	total: 16.5s	remaining: 27.8s
372:	learn: 0.0012455	total: 16.5s	remaining: 27.8s
373:	learn: 0.0012455	total: 16.6s	remaining: 27.7s
374:	learn: 0.0012455	total: 16.6s	remaining: 27.7s
375:	learn: 0.0012455	total: 16.7s	remaining: 27.7s
376:	learn: 0.0012455	total: 16.7s	remaining: 27.6s
377:	learn: 0.0012455	total: 16.8s	remaining: 27.6s
378:	learn: 0.0012455	total: 16.8s	remaining: 27.5s
379:	learn: 0.0012454	total: 16.8s	remaining: 27.5s
380:	learn: 0.0012454	total: 16.9s	remaining: 27.4s
381:	learn: 0.0012454	total: 16.9s	remaining: 27.4s
382:	learn: 0.0012454	total: 17s	remaining: 27.4s
383:	learn: 0.0012454	total: 17s	remaining: 27.3s
384:	learn: 0.0012454	total: 17.1s	remaining: 27.3s
385:	learn: 0.0012454	total: 17.1s	remaining: 27.2s
386:	learn: 0.0012454	total: 17.2s	remaining: 27.2s
387:	learn: 0.0012454	total: 17.2s	remaining: 27.1s
388:	learn: 0.0012454	total: 17.2s	remaining: 27.1s
389:	learn: 0.0012454	total: 17.3s	remaining: 27s
390:	learn: 0.0012454	total: 17.3s	remaining: 27s
391:	learn: 0.0012454	total: 17.4s	remaining: 26.9s
392:	learn: 0.0012454	total: 17.4s	remaining: 26.9s
393:	learn: 0.0012454	total: 17.4s	remaining: 26.8s
394:	learn: 0.0012454	total: 17.5s	remaining: 26.8s
395:	learn: 0.0012453	total: 17.5s	remaining: 26.7s
396:	learn: 0.0012453	total: 17.6s	remaining: 26.7s
397:	learn: 0.0012453	total: 17.6s	remaining: 26.7s
398:	learn: 0.0012453	total: 17.7s	remaining: 26.6s
399:	learn: 0.0012453	total: 17.7s	remaining: 26.6s
400:	learn: 0.0012453	total: 17.8s	remaining: 26.5s
401:	learn: 0.0012453	total: 17.8s	remaining: 26.5s
402:	learn: 0.0012453	total: 17.8s	remaining: 26.4s
403:	learn: 0.0012453	total: 17.9s	remaining: 26.4s
404:	learn: 0.0012453	total: 17.9s	remaining: 26.3s
405:	learn: 0.0012453	total: 18s	remaining: 26.3s
406:	learn: 0.0012453	total: 18s	remaining: 26.3s
407:	learn: 0.0012453	total: 18.1s	remaining: 26.2s
408:	learn: 0.0012453	total: 18.1s	remaining: 26.2s
409:	learn: 0.0012453	total: 18.1s	remaining: 26.1s
410:	learn: 0.0012453	total: 18.2s	remaining: 26.1s
411:	learn: 0.0012453	total: 18.2s	remaining: 26s
412:	learn: 0.0012453	total: 18.3s	remaining: 26s
413:	learn: 0.0012453	total: 18.3s	remaining: 25.9s
414:	learn: 0.0012453	total: 18.4s	remaining: 25.9s
415:	learn: 0.0012453	total: 18.4s	remaining: 25.8s
416:	learn: 0.0012453	total: 18.5s	remaining: 25.8s
417:	learn: 0.0012453	total: 18.5s	remaining: 25.8s
418:	learn: 0.0012453	total: 18.6s	remaining: 25.7s
419:	learn: 0.0012453	total: 18.6s	remaining: 25.7s
420:	learn: 0.0012453	total: 18.7s	remaining: 25.7s
421:	learn: 0.0012453	total: 18.7s	remaining: 25.6s
422:	learn: 0.0012452	total: 18.7s	remaining: 25.6s
423:	learn: 0.0012452	total: 18.8s	remaining: 25.5s
424:	learn: 0.0012452	total: 18.8s	remaining: 25.5s
425:	learn: 0.0012452	total: 18.9s	remaining: 25.4s
426:	learn: 0.0012452	total: 18.9s	remaining: 25.4s
427:	learn: 0.0012452	total: 19s	remaining: 25.3s
428:	learn: 0.0012452	total: 19s	remaining: 25.3s
429:	learn: 0.0012452	total: 19.1s	remaining: 25.3s
430:	learn: 0.0012452	total: 19.1s	remaining: 25.2s
431:	learn: 0.0012452	total: 19.1s	remaining: 25.2s
432:	learn: 0.0012452	total: 19.2s	remaining: 25.1s
433:	learn: 0.0012452	total: 19.2s	remaining: 25.1s
434:	learn: 0.0012452	total: 19.3s	remaining: 25s
435:	learn: 0.0012452	total: 19.3s	remaining: 25s
436:	learn: 0.0012452	total: 19.4s	remaining: 25s
437:	learn: 0.0012452	total: 19.4s	remaining: 24.9s
438:	learn: 0.0012452	total: 19.5s	remaining: 24.9s
439:	learn: 0.0012452	total: 19.5s	remaining: 24.8s
440:	learn: 0.0012452	total: 19.5s	remaining: 24.8s
441:	learn: 0.0012452	total: 19.6s	remaining: 24.7s
442:	learn: 0.0012452	total: 19.6s	remaining: 24.7s
443:	learn: 0.0012452	total: 19.7s	remaining: 24.6s
444:	learn: 0.0012452	total: 19.7s	remaining: 24.6s
445:	learn: 0.0012452	total: 19.8s	remaining: 24.6s
446:	learn: 0.0012452	total: 19.8s	remaining: 24.5s
447:	learn: 0.0012452	total: 19.9s	remaining: 24.5s
448:	learn: 0.0012452	total: 19.9s	remaining: 24.5s
449:	learn: 0.0012452	total: 20s	remaining: 24.4s
450:	learn: 0.0012452	total: 20s	remaining: 24.4s
451:	learn: 0.0012452	total: 20.1s	remaining: 24.3s
452:	learn: 0.0012452	total: 20.1s	remaining: 24.3s
453:	learn: 0.0012452	total: 20.1s	remaining: 24.2s
454:	learn: 0.0012452	total: 20.2s	remaining: 24.2s
455:	learn: 0.0012452	total: 20.2s	remaining: 24.1s
456:	learn: 0.0012452	total: 20.3s	remaining: 24.1s
457:	learn: 0.0012452	total: 20.3s	remaining: 24s
458:	learn: 0.0012452	total: 20.3s	remaining: 24s
459:	learn: 0.0012452	total: 20.4s	remaining: 23.9s
460:	learn: 0.0012452	total: 20.4s	remaining: 23.9s
461:	learn: 0.0012452	total: 20.5s	remaining: 23.8s
462:	learn: 0.0012452	total: 20.5s	remaining: 23.8s
463:	learn: 0.0012452	total: 20.6s	remaining: 23.8s
464:	learn: 0.0012452	total: 20.6s	remaining: 23.7s
465:	learn: 0.0012452	total: 20.6s	remaining: 23.7s
466:	learn: 0.0012452	total: 20.7s	remaining: 23.6s
467:	learn: 0.0012452	total: 20.7s	remaining: 23.6s
468:	learn: 0.0012452	total: 20.8s	remaining: 23.5s
469:	learn: 0.0012452	total: 20.8s	remaining: 23.5s
470:	learn: 0.0012452	total: 20.9s	remaining: 23.4s
471:	learn: 0.0012452	total: 20.9s	remaining: 23.4s
472:	learn: 0.0012452	total: 20.9s	remaining: 23.3s
473:	learn: 0.0012452	total: 21s	remaining: 23.3s
474:	learn: 0.0012451	total: 21s	remaining: 23.2s
475:	learn: 0.0012451	total: 21.1s	remaining: 23.2s
476:	learn: 0.0012451	total: 21.1s	remaining: 23.1s
477:	learn: 0.0012451	total: 21.1s	remaining: 23.1s
478:	learn: 0.0012451	total: 21.2s	remaining: 23s
479:	learn: 0.0012451	total: 21.2s	remaining: 23s
480:	learn: 0.0012451	total: 21.3s	remaining: 22.9s
481:	learn: 0.0012451	total: 21.3s	remaining: 22.9s
482:	learn: 0.0012451	total: 21.4s	remaining: 22.9s
483:	learn: 0.0012451	total: 21.4s	remaining: 22.8s
484:	learn: 0.0012451	total: 21.4s	remaining: 22.8s

485:	learn: 0.0012451	total: 21.5s	remaining: 22.7s
486:	learn: 0.0012451	total: 21.5s	remaining: 22.7s
487:	learn: 0.0012450	total: 21.6s	remaining: 22.6s
488:	learn: 0.0012450	total: 21.6s	remaining: 22.6s
489:	learn: 0.0012450	total: 21.7s	remaining: 22.5s
490:	learn: 0.0012450	total: 21.7s	remaining: 22.5s
491:	learn: 0.0012450	total: 21.7s	remaining: 22.4s
492:	learn: 0.0012450	total: 21.8s	remaining: 22.4s
493:	learn: 0.0012450	total: 21.8s	remaining: 22.3s
494:	learn: 0.0012450	total: 21.9s	remaining: 22.3s
495:	learn: 0.0012450	total: 21.9s	remaining: 22.3s
496:	learn: 0.0012450	total: 21.9s	remaining: 22.2s
497:	learn: 0.0012450	total: 22s	remaining: 22.2s
498:	learn: 0.0012450	total: 22s	remaining: 22.1s
499:	learn: 0.0012450	total: 22.1s	remaining: 22.1s
500:	learn: 0.0012450	total: 22.1s	remaining: 22s
501:	learn: 0.0012450	total: 22.1s	remaining: 22s
502:	learn: 0.0012450	total: 22.2s	remaining: 21.9s
503:	learn: 0.0012449	total: 22.2s	remaining: 21.9s
504:	learn: 0.0012449	total: 22.3s	remaining: 21.8s
505:	learn: 0.0012411	total: 22.3s	remaining: 21.8s
506:	learn: 0.0012411	total: 22.4s	remaining: 21.7s
507:	learn: 0.0012411	total: 22.4s	remaining: 21.7s
508:	learn: 0.0012410	total: 22.4s	remaining: 21.6s
509:	learn: 0.0012410	total: 22.5s	remaining: 21.6s
510:	learn: 0.0012410	total: 22.5s	remaining: 21.6s
511:	learn: 0.0012410	total: 22.6s	remaining: 21.5s
512:	learn: 0.0012410	total: 22.6s	remaining: 21.5s
513:	learn: 0.0012410	total: 22.7s	remaining: 21.4s
514:	learn: 0.0012410	total: 22.7s	remaining: 21.4s
515:	learn: 0.0012410	total: 22.7s	remaining: 21.3s
516:	learn: 0.0012409	total: 22.8s	remaining: 21.3s
517:	learn: 0.0012409	total: 22.8s	remaining: 21.2s
518:	learn: 0.0012409	total: 22.9s	remaining: 21.2s
519:	learn: 0.0012409	total: 22.9s	remaining: 21.2s
520:	learn: 0.0012409	total: 23s	remaining: 21.1s
521:	learn: 0.0012409	total: 23s	remaining: 21.1s
522:	learn: 0.0012409	total: 23s	remaining: 21s
523:	learn: 0.0012408	total: 23.1s	remaining: 21s
524:	learn: 0.0012407	total: 23.1s	remaining: 20.9s
525:	learn: 0.0012407	total: 23.2s	remaining: 20.9s
526:	learn: 0.0012407	total: 23.2s	remaining: 20.8s
527:	learn: 0.0012407	total: 23.2s	remaining: 20.8s
528:	learn: 0.0012407	total: 23.3s	remaining: 20.7s
529:	learn: 0.0012407	total: 23.3s	remaining: 20.7s
530:	learn: 0.0012407	total: 23.4s	remaining: 20.6s
531:	learn: 0.0012407	total: 23.4s	remaining: 20.6s
532:	learn: 0.0012406	total: 23.5s	remaining: 20.5s
533:	learn: 0.0012406	total: 23.5s	remaining: 20.5s
534:	learn: 0.0012406	total: 23.5s	remaining: 20.5s
535:	learn: 0.0012406	total: 23.6s	remaining: 20.4s
536:	learn: 0.0012406	total: 23.6s	remaining: 20.4s
537:	learn: 0.0012406	total: 23.7s	remaining: 20.3s
538:	learn: 0.0012406	total: 23.7s	remaining: 20.3s
539:	learn: 0.0012406	total: 23.7s	remaining: 20.2s
540:	learn: 0.0012406	total: 23.8s	remaining: 20.2s
541:	learn: 0.0012406	total: 23.8s	remaining: 20.1s
542:	learn: 0.0012406	total: 23.9s	remaining: 20.1s
543:	learn: 0.0012406	total: 23.9s	remaining: 20s
544:	learn: 0.0012405	total: 24s	remaining: 20s
545:	learn: 0.0012405	total: 24s	remaining: 20s
546:	learn: 0.0012405	total: 24s	remaining: 19.9s
547:	learn: 0.0012405	total: 24.1s	remaining: 19.9s
548:	learn: 0.0012405	total: 24.1s	remaining: 19.8s
549:	learn: 0.0012405	total: 24.2s	remaining: 19.8s
550:	learn: 0.0012405	total: 24.2s	remaining: 19.7s
551:	learn: 0.0012405	total: 24.2s	remaining: 19.7s
552:	learn: 0.0012404	total: 24.3s	remaining: 19.6s
553:	learn: 0.0012404	total: 24.3s	remaining: 19.6s
554:	learn: 0.0012404	total: 24.4s	remaining: 19.5s
555:	learn: 0.0012403	total: 24.4s	remaining: 19.5s
556:	learn: 0.0012403	total: 24.5s	remaining: 19.5s
557:	learn: 0.0012403	total: 24.5s	remaining: 19.4s
558:	learn: 0.0012403	total: 24.5s	remaining: 19.4s
559:	learn: 0.0012403	total: 24.6s	remaining: 19.3s
560:	learn: 0.0012403	total: 24.6s	remaining: 19.3s
561:	learn: 0.0012403	total: 24.7s	remaining: 19.2s
562:	learn: 0.0012403	total: 24.7s	remaining: 19.2s
563:	learn: 0.0012403	total: 24.8s	remaining: 19.1s
564:	learn: 0.0012403	total: 24.8s	remaining: 19.1s
565:	learn: 0.0012403	total: 24.8s	remaining: 19.1s
566:	learn: 0.0012403	total: 24.9s	remaining: 19s
567:	learn: 0.0012403	total: 24.9s	remaining: 19s
568:	learn: 0.0012403	total: 25s	remaining: 18.9s
569:	learn: 0.0012403	total: 25s	remaining: 18.9s
570:	learn: 0.0012403	total: 25s	remaining: 18.8s
571:	learn: 0.0012403	total: 25.1s	remaining: 18.8s
572:	learn: 0.0012403	total: 25.1s	remaining: 18.7s
573:	learn: 0.0012403	total: 25.2s	remaining: 18.7s
574:	learn: 0.0012403	total: 25.2s	remaining: 18.6s
575:	learn: 0.0012402	total: 25.3s	remaining: 18.6s
576:	learn: 0.0012402	total: 25.3s	remaining: 18.6s
577:	learn: 0.0012402	total: 25.4s	remaining: 18.5s
578:	learn: 0.0012402	total: 25.4s	remaining: 18.5s
579:	learn: 0.0012402	total: 25.4s	remaining: 18.4s
580:	learn: 0.0012402	total: 25.5s	remaining: 18.4s
581:	learn: 0.0012402	total: 25.5s	remaining: 18.3s
582:	learn: 0.0012402	total: 25.6s	remaining: 18.3s
583:	learn: 0.0012402	total: 25.6s	remaining: 18.2s
584:	learn: 0.0012402	total: 25.6s	remaining: 18.2s
585:	learn: 0.0012401	total: 25.7s	remaining: 18.2s
586:	learn: 0.0012401	total: 25.7s	remaining: 18.1s
587:	learn: 0.0012401	total: 25.8s	remaining: 18.1s
588:	learn: 0.0012401	total: 25.8s	remaining: 18s
589:	learn: 0.0012401	total: 25.9s	remaining: 18s
590:	learn: 0.0012401	total: 25.9s	remaining: 17.9s
591:	learn: 0.0012401	total: 25.9s	remaining: 17.9s
592:	learn: 0.0012401	total: 26s	remaining: 17.8s
593:	learn: 0.0012401	total: 26s	remaining: 17.8s
594:	learn: 0.0012401	total: 26.1s	remaining: 17.7s
595:	learn: 0.0012401	total: 26.1s	remaining: 17.7s
596:	learn: 0.0012401	total: 26.2s	remaining: 17.7s
597:	learn: 0.0012401	total: 26.2s	remaining: 17.6s
598:	learn: 0.0012401	total: 26.2s	remaining: 17.6s
599:	learn: 0.0012400	total: 26.3s	remaining: 17.5s
600:	learn: 0.0012400	total: 26.3s	remaining: 17.5s
601:	learn: 0.0012400	total: 26.4s	remaining: 17.4s
602:	learn: 0.0012400	total: 26.4s	remaining: 17.4s
603:	learn: 0.0012400	total: 26.4s	remaining: 17.3s
604:	learn: 0.0012400	total: 26.5s	remaining: 17.3s
605:	learn: 0.0012400	total: 26.5s	remaining: 17.3s
606:	learn: 0.0012400	total: 26.6s	remaining: 17.2s
607:	learn: 0.0012399	total: 26.6s	remaining: 17.2s
608:	learn: 0.0012399	total: 26.7s	remaining: 17.1s
609:	learn: 0.0012399	total: 26.7s	remaining: 17.1s
610:	learn: 0.0012398	total: 26.7s	remaining: 17s
611:	learn: 0.0012398	total: 26.8s	remaining: 17s
612:	learn: 0.0012398	total: 26.9s	remaining: 17s
613:	learn: 0.0012398	total: 26.9s	remaining: 16.9s
614:	learn: 0.0012398	total: 26.9s	remaining: 16.9s
615:	learn: 0.0012397	total: 27s	remaining: 16.8s
616:	learn: 0.0012397	total: 27s	remaining: 16.8s
617:	learn: 0.0012397	total: 27.1s	remaining: 16.7s
618:	learn: 0.0012397	total: 27.1s	remaining: 16.7s
619:	learn: 0.0012397	total: 27.1s	remaining: 16.6s
620:	learn: 0.0012397	total: 27.2s	remaining: 16.6s
621:	learn: 0.0012397	total: 27.2s	remaining: 16.5s
622:	learn: 0.0012397	total: 27.3s	remaining: 16.5s
623:	learn: 0.0012397	total: 27.3s	remaining: 16.5s
624:	learn: 0.0012397	total: 27.3s	remaining: 16.4s
625:	learn: 0.0012397	total: 27.4s	remaining: 16.4s
626:	learn: 0.0012396	total: 27.4s	remaining: 16.3s
627:	learn: 0.0012397	total: 27.5s	remaining: 16.3s
628:	learn: 0.0012396	total: 27.5s	remaining: 16.2s
629:	learn: 0.0012396	total: 27.6s	remaining: 16.2s
630:	learn: 0.0012396	total: 27.6s	remaining: 16.1s
631:	learn: 0.0012396	total: 27.6s	remaining: 16.1s
632:	learn: 0.0012396	total: 27.7s	remaining: 16s
633:	learn: 0.0012396	total: 27.7s	remaining: 16s
634:	learn: 0.0012395	total: 27.8s	remaining: 16s
635:	learn: 0.0012395	total: 27.8s	remaining: 15.9s
636:	learn: 0.0012395	total: 27.8s	remaining: 15.9s
637:	learn: 0.0012395	total: 27.9s	remaining: 15.8s
638:	learn: 0.0012395	total: 27.9s	remaining: 15.8s
639:	learn: 0.0012395	total: 27.9s	remaining: 15.7s
640:	learn: 0.0012394	total: 27.9s	remaining: 15.7s
641:	learn: 0.0012394	total: 28s	remaining: 15.6s
642:	learn: 0.0012394	total: 28s	remaining: 15.5s
643:	learn: 0.0012394	total: 28s	remaining: 15.5s
644:	learn: 0.0012393	total: 28.1s	remaining: 15.4s
645:	learn: 0.0012393	total: 28.1s	remaining: 15.4s
646:	learn: 0.0012393	total: 28.1s	remaining: 15.3s
647:	learn: 0.0012393	total: 28.1s	remaining: 15.3s
648:	learn: 0.0012393	total: 28.2s	remaining: 15.2s

649:	learn: 0.0012393	total: 28.2s	remaining: 15.2s
650:	learn: 0.0012393	total: 28.2s	remaining: 15.1s
651:	learn: 0.0012393	total: 28.3s	remaining: 15.1s
652:	learn: 0.0012393	total: 28.3s	remaining: 15s
653:	learn: 0.0012393	total: 28.3s	remaining: 15s
654:	learn: 0.0012393	total: 28.3s	remaining: 14.9s
655:	learn: 0.0012392	total: 28.4s	remaining: 14.9s
656:	learn: 0.0012392	total: 28.4s	remaining: 14.8s
657:	learn: 0.0012392	total: 28.4s	remaining: 14.8s
658:	learn: 0.0012392	total: 28.5s	remaining: 14.7s
659:	learn: 0.0012392	total: 28.5s	remaining: 14.7s
660:	learn: 0.0012392	total: 28.5s	remaining: 14.6s
661:	learn: 0.0012392	total: 28.5s	remaining: 14.6s
662:	learn: 0.0012392	total: 28.6s	remaining: 14.5s
663:	learn: 0.0012392	total: 28.6s	remaining: 14.5s
664:	learn: 0.0012391	total: 28.6s	remaining: 14.4s
665:	learn: 0.0012391	total: 28.6s	remaining: 14.4s
666:	learn: 0.0012391	total: 28.7s	remaining: 14.3s
667:	learn: 0.0012391	total: 28.7s	remaining: 14.3s
668:	learn: 0.0012350	total: 28.7s	remaining: 14.2s
669:	learn: 0.0012350	total: 28.8s	remaining: 14.2s
670:	learn: 0.0012350	total: 28.8s	remaining: 14.1s
671:	learn: 0.0012350	total: 28.8s	remaining: 14.1s
672:	learn: 0.0012350	total: 28.8s	remaining: 14s
673:	learn: 0.0012350	total: 28.9s	remaining: 14s
674:	learn: 0.0012350	total: 28.9s	remaining: 13.9s
675:	learn: 0.0012350	total: 28.9s	remaining: 13.9s
676:	learn: 0.0012350	total: 28.9s	remaining: 13.8s
677:	learn: 0.0012350	total: 29s	remaining: 13.8s
678:	learn: 0.0012350	total: 29s	remaining: 13.7s
679:	learn: 0.0012350	total: 29s	remaining: 13.7s
680:	learn: 0.0012350	total: 29.1s	remaining: 13.6s
681:	learn: 0.0012350	total: 29.1s	remaining: 13.6s
682:	learn: 0.0012348	total: 29.1s	remaining: 13.5s
683:	learn: 0.0012348	total: 29.1s	remaining: 13.5s
684:	learn: 0.0012348	total: 29.2s	remaining: 13.4s
685:	learn: 0.0012348	total: 29.2s	remaining: 13.4s
686:	learn: 0.0012348	total: 29.2s	remaining: 13.3s
687:	learn: 0.0012348	total: 29.3s	remaining: 13.3s
688:	learn: 0.0012348	total: 29.3s	remaining: 13.2s
689:	learn: 0.0012347	total: 29.3s	remaining: 13.2s
690:	learn: 0.0012347	total: 29.3s	remaining: 13.1s
691:	learn: 0.0012347	total: 29.4s	remaining: 13.1s
692:	learn: 0.0012347	total: 29.4s	remaining: 13s
693:	learn: 0.0012347	total: 29.4s	remaining: 13s
694:	learn: 0.0012347	total: 29.5s	remaining: 12.9s
695:	learn: 0.0012346	total: 29.5s	remaining: 12.9s
696:	learn: 0.0012346	total: 29.5s	remaining: 12.8s
697:	learn: 0.0012346	total: 29.5s	remaining: 12.8s
698:	learn: 0.0012346	total: 29.6s	remaining: 12.7s
699:	learn: 0.0012346	total: 29.6s	remaining: 12.7s
700:	learn: 0.0012346	total: 29.6s	remaining: 12.6s
701:	learn: 0.0012346	total: 29.7s	remaining: 12.6s
702:	learn: 0.0012346	total: 29.7s	remaining: 12.5s
703:	learn: 0.0012345	total: 29.7s	remaining: 12.5s
704:	learn: 0.0012345	total: 29.7s	remaining: 12.4s
705:	learn: 0.0012345	total: 29.8s	remaining: 12.4s
706:	learn: 0.0012345	total: 29.8s	remaining: 12.3s
707:	learn: 0.0012345	total: 29.8s	remaining: 12.3s
708:	learn: 0.0012344	total: 29.8s	remaining: 12.2s
709:	learn: 0.0012344	total: 29.9s	remaining: 12.2s
710:	learn: 0.0012344	total: 29.9s	remaining: 12.2s
711:	learn: 0.0012344	total: 29.9s	remaining: 12.1s
712:	learn: 0.0012344	total: 30s	remaining: 12.1s
713:	learn: 0.0012344	total: 30s	remaining: 12s
714:	learn: 0.0012344	total: 30s	remaining: 12s
715:	learn: 0.0012344	total: 30s	remaining: 11.9s
716:	learn: 0.0012344	total: 30.1s	remaining: 11.9s
717:	learn: 0.0012344	total: 30.1s	remaining: 11.8s
718:	learn: 0.0012344	total: 30.1s	remaining: 11.8s
719:	learn: 0.0012344	total: 30.2s	remaining: 11.7s
720:	learn: 0.0012344	total: 30.2s	remaining: 11.7s
721:	learn: 0.0012344	total: 30.2s	remaining: 11.6s
722:	learn: 0.0012343	total: 30.3s	remaining: 11.6s
723:	learn: 0.0012343	total: 30.3s	remaining: 11.5s
724:	learn: 0.0012343	total: 30.3s	remaining: 11.5s
725:	learn: 0.0012343	total: 30.3s	remaining: 11.5s
726:	learn: 0.0012275	total: 30.4s	remaining: 11.4s
727:	learn: 0.0012149	total: 30.4s	remaining: 11.4s
728:	learn: 0.0012148	total: 30.4s	remaining: 11.3s
729:	learn: 0.0012148	total: 30.5s	remaining: 11.3s
730:	learn: 0.0012148	total: 30.5s	remaining: 11.2s
731:	learn: 0.0012147	total: 30.5s	remaining: 11.2s
732:	learn: 0.0012147	total: 30.5s	remaining: 11.1s
733:	learn: 0.0012147	total: 30.6s	remaining: 11.1s
734:	learn: 0.0012147	total: 30.6s	remaining: 11s
735:	learn: 0.0012147	total: 30.6s	remaining: 11s
736:	learn: 0.0012146	total: 30.6s	remaining: 10.9s
737:	learn: 0.0012146	total: 30.7s	remaining: 10.9s
738:	learn: 0.0012146	total: 30.7s	remaining: 10.8s
739:	learn: 0.0012146	total: 30.7s	remaining: 10.8s
740:	learn: 0.0012146	total: 30.8s	remaining: 10.8s
741:	learn: 0.0012144	total: 30.8s	remaining: 10.7s
742:	learn: 0.0012144	total: 30.8s	remaining: 10.7s
743:	learn: 0.0012144	total: 30.8s	remaining: 10.6s
744:	learn: 0.0012144	total: 30.9s	remaining: 10.6s
745:	learn: 0.0012144	total: 30.9s	remaining: 10.5s
746:	learn: 0.0012144	total: 30.9s	remaining: 10.5s
747:	learn: 0.0012144	total: 30.9s	remaining: 10.4s
748:	learn: 0.0012144	total: 31s	remaining: 10.4s
749:	learn: 0.0012144	total: 31s	remaining: 10.3s
750:	learn: 0.0012144	total: 31s	remaining: 10.3s
751:	learn: 0.0012144	total: 31.1s	remaining: 10.2s
752:	learn: 0.0012144	total: 31.1s	remaining: 10.2s
753:	learn: 0.0012144	total: 31.1s	remaining: 10.2s
754:	learn: 0.0012143	total: 31.1s	remaining: 10.1s
755:	learn: 0.0012143	total: 31.2s	remaining: 10.1s
756:	learn: 0.0012143	total: 31.2s	remaining: 10s
757:	learn: 0.0012143	total: 31.2s	remaining: 9.97s
758:	learn: 0.0012143	total: 31.3s	remaining: 9.93s
759:	learn: 0.0012143	total: 31.3s	remaining: 9.88s
760:	learn: 0.0012143	total: 31.3s	remaining: 9.83s
761:	learn: 0.0012143	total: 31.3s	remaining: 9.79s
762:	learn: 0.0012143	total: 31.4s	remaining: 9.74s
763:	learn: 0.0012143	total: 31.4s	remaining: 9.7s
764:	learn: 0.0012143	total: 31.4s	remaining: 9.65s
765:	learn: 0.0012143	total: 31.5s	remaining: 9.61s
766:	learn: 0.0012143	total: 31.5s	remaining: 9.56s
767:	learn: 0.0012142	total: 31.5s	remaining: 9.52s
768:	learn: 0.0012142	total: 31.5s	remaining: 9.47s
769:	learn: 0.0012142	total: 31.6s	remaining: 9.43s
770:	learn: 0.0012142	total: 31.6s	remaining: 9.38s
771:	learn: 0.0012142	total: 31.6s	remaining: 9.34s
772:	learn: 0.0012142	total: 31.7s	remaining: 9.3s
773:	learn: 0.0012142	total: 31.7s	remaining: 9.25s
774:	learn: 0.0012142	total: 31.7s	remaining: 9.21s
775:	learn: 0.0012142	total: 31.7s	remaining: 9.16s
776:	learn: 0.0012142	total: 31.8s	remaining: 9.12s
777:	learn: 0.0012142	total: 31.8s	remaining: 9.07s
778:	learn: 0.0012142	total: 31.8s	remaining: 9.03s
779:	learn: 0.0012142	total: 31.9s	remaining: 8.98s
780:	learn: 0.0012142	total: 31.9s	remaining: 8.94s
781:	learn: 0.0012142	total: 31.9s	remaining: 8.9s
782:	learn: 0.0012142	total: 31.9s	remaining: 8.85s
783:	learn: 0.0012142	total: 32s	remaining: 8.81s
784:	learn: 0.0012142	total: 32s	remaining: 8.76s
785:	learn: 0.0012142	total: 32s	remaining: 8.72s
786:	learn: 0.0012142	total: 32.1s	remaining: 8.68s
787:	learn: 0.0012142	total: 32.1s	remaining: 8.63s
788:	learn: 0.0012142	total: 32.1s	remaining: 8.59s
789:	learn: 0.0012141	total: 32.2s	remaining: 8.55s
790:	learn: 0.0012141	total: 32.2s	remaining: 8.5s
791:	learn: 0.0012141	total: 32.2s	remaining: 8.46s
792:	learn: 0.0012141	total: 32.2s	remaining: 8.42s
793:	learn: 0.0012141	total: 32.3s	remaining: 8.37s
794:	learn: 0.0012141	total: 32.3s	remaining: 8.33s
795:	learn: 0.0012141	total: 32.3s	remaining: 8.29s
796:	learn: 0.0012140	total: 32.4s	remaining: 8.24s
797:	learn: 0.0012140	total: 32.4s	remaining: 8.2s
798:	learn: 0.0012140	total: 32.4s	remaining: 8.16s
799:	learn: 0.0012140	total: 32.4s	remaining: 8.11s
800:	learn: 0.0012140	total: 32.5s	remaining: 8.07s
801:	learn: 0.0012140	total: 32.5s	remaining: 8.03s
802:	learn: 0.0012140	total: 32.5s	remaining: 7.98s
803:	learn: 0.0012140	total: 32.6s	remaining: 7.94s
804:	learn: 0.0012140	total: 32.6s	remaining: 7.9s
805:	learn: 0.0012140	total: 32.6s	remaining: 7.85s
806:	learn: 0.0012139	total: 32.7s	remaining: 7.81s
807:	learn: 0.0012139	total: 32.7s	remaining: 7.77s
808:	learn: 0.0012139	total: 32.7s	remaining: 7.72s
809:	learn: 0.0012139	total: 32.7s	remaining: 7.68s
810:	learn: 0.0012139	total: 32.8s	remaining: 7.64s
811:	learn: 0.0012133	total: 32.8s	remaining: 7.59s
812:	learn: 0.0012132	total: 32.8s	remaining: 7.55s

813:	learn: 0.0012132	total: 32.9s	remaining: 7.51s
814:	learn: 0.0012131	total: 32.9s	remaining: 7.47s
815:	learn: 0.0012131	total: 32.9s	remaining: 7.42s
816:	learn: 0.0012131	total: 33s	remaining: 7.38s
817:	learn: 0.0012130	total: 33s	remaining: 7.34s
818:	learn: 0.0012130	total: 33s	remaining: 7.3s
819:	learn: 0.0012033	total: 33.1s	remaining: 7.26s
820:	learn: 0.0012033	total: 33.1s	remaining: 7.21s
821:	learn: 0.0012008	total: 33.1s	remaining: 7.17s
822:	learn: 0.0012008	total: 33.1s	remaining: 7.13s
823:	learn: 0.0012008	total: 33.2s	remaining: 7.09s
824:	learn: 0.0012008	total: 33.2s	remaining: 7.04s
825:	learn: 0.0012008	total: 33.2s	remaining: 7s
826:	learn: 0.0012008	total: 33.3s	remaining: 6.96s
827:	learn: 0.0012008	total: 33.3s	remaining: 6.92s
828:	learn: 0.0012008	total: 33.3s	remaining: 6.88s
829:	learn: 0.0012008	total: 33.4s	remaining: 6.83s
830:	learn: 0.0012008	total: 33.4s	remaining: 6.79s
831:	learn: 0.0012007	total: 33.4s	remaining: 6.75s
832:	learn: 0.0012005	total: 33.4s	remaining: 6.71s
833:	learn: 0.0012005	total: 33.5s	remaining: 6.66s
834:	learn: 0.0012004	total: 33.5s	remaining: 6.62s
835:	learn: 0.0012004	total: 33.5s	remaining: 6.58s
836:	learn: 0.0011971	total: 33.6s	remaining: 6.54s
837:	learn: 0.0011971	total: 33.6s	remaining: 6.49s
838:	learn: 0.0011971	total: 33.6s	remaining: 6.45s
839:	learn: 0.0011970	total: 33.6s	remaining: 6.41s
840:	learn: 0.0011970	total: 33.7s	remaining: 6.37s
841:	learn: 0.0011970	total: 33.7s	remaining: 6.32s
842:	learn: 0.0011968	total: 33.7s	remaining: 6.28s
843:	learn: 0.0011968	total: 33.8s	remaining: 6.24s
844:	learn: 0.0011968	total: 33.8s	remaining: 6.2s
845:	learn: 0.0011968	total: 33.8s	remaining: 6.16s
846:	learn: 0.0011968	total: 33.9s	remaining: 6.12s
847:	learn: 0.0011968	total: 33.9s	remaining: 6.08s
848:	learn: 0.0011967	total: 33.9s	remaining: 6.03s
849:	learn: 0.0011967	total: 34s	remaining: 5.99s
850:	learn: 0.0011967	total: 34s	remaining: 5.95s
851:	learn: 0.0011967	total: 34s	remaining: 5.91s
852:	learn: 0.0011967	total: 34s	remaining: 5.87s
853:	learn: 0.0011967	total: 34.1s	remaining: 5.83s
854:	learn: 0.0011967	total: 34.1s	remaining: 5.78s
855:	learn: 0.0011967	total: 34.1s	remaining: 5.74s
856:	learn: 0.0011967	total: 34.2s	remaining: 5.7s
857:	learn: 0.0011967	total: 34.2s	remaining: 5.66s
858:	learn: 0.0011967	total: 34.2s	remaining: 5.62s
859:	learn: 0.0011967	total: 34.3s	remaining: 5.58s
860:	learn: 0.0011967	total: 34.3s	remaining: 5.54s
861:	learn: 0.0011967	total: 34.3s	remaining: 5.5s
862:	learn: 0.0011967	total: 34.4s	remaining: 5.45s
863:	learn: 0.0011967	total: 34.4s	remaining: 5.41s
864:	learn: 0.0011967	total: 34.4s	remaining: 5.37s
865:	learn: 0.0011967	total: 34.5s	remaining: 5.33s
866:	learn: 0.0011967	total: 34.5s	remaining: 5.29s
867:	learn: 0.0011967	total: 34.5s	remaining: 5.25s
868:	learn: 0.0011967	total: 34.5s	remaining: 5.21s
869:	learn: 0.0011967	total: 34.6s	remaining: 5.17s
870:	learn: 0.0011965	total: 34.6s	remaining: 5.12s
871:	learn: 0.0011966	total: 34.6s	remaining: 5.08s
872:	learn: 0.0011965	total: 34.7s	remaining: 5.04s
873:	learn: 0.0011965	total: 34.7s	remaining: 5s
874:	learn: 0.0011965	total: 34.7s	remaining: 4.96s
875:	learn: 0.0011965	total: 34.7s	remaining: 4.92s
876:	learn: 0.0011964	total: 34.8s	remaining: 4.88s
877:	learn: 0.0011964	total: 34.8s	remaining: 4.83s
878:	learn: 0.0011964	total: 34.8s	remaining: 4.79s
879:	learn: 0.0011964	total: 34.8s	remaining: 4.75s
880:	learn: 0.0011964	total: 34.9s	remaining: 4.71s
881:	learn: 0.0011964	total: 34.9s	remaining: 4.67s
882:	learn: 0.0011964	total: 34.9s	remaining: 4.63s
883:	learn: 0.0011963	total: 35s	remaining: 4.59s
884:	learn: 0.0011963	total: 35s	remaining: 4.55s
885:	learn: 0.0011963	total: 35s	remaining: 4.5s
886:	learn: 0.0011963	total: 35s	remaining: 4.46s
887:	learn: 0.0011963	total: 35.1s	remaining: 4.42s
888:	learn: 0.0011963	total: 35.1s	remaining: 4.38s
889:	learn: 0.0011963	total: 35.1s	remaining: 4.34s
890:	learn: 0.0011963	total: 35.1s	remaining: 4.3s
891:	learn: 0.0011963	total: 35.2s	remaining: 4.26s
892:	learn: 0.0011962	total: 35.2s	remaining: 4.22s
893:	learn: 0.0011962	total: 35.2s	remaining: 4.18s
894:	learn: 0.0011962	total: 35.3s	remaining: 4.14s
895:	learn: 0.0011962	total: 35.3s	remaining: 4.1s
896:	learn: 0.0011962	total: 35.3s	remaining: 4.05s
897:	learn: 0.0011962	total: 35.3s	remaining: 4.01s
898:	learn: 0.0011962	total: 35.4s	remaining: 3.97s
899:	learn: 0.0011962	total: 35.4s	remaining: 3.93s
900:	learn: 0.0011961	total: 35.4s	remaining: 3.89s
901:	learn: 0.0011961	total: 35.5s	remaining: 3.85s
902:	learn: 0.0011960	total: 35.5s	remaining: 3.81s
903:	learn: 0.0011960	total: 35.5s	remaining: 3.77s
904:	learn: 0.0011960	total: 35.5s	remaining: 3.73s
905:	learn: 0.0011960	total: 35.6s	remaining: 3.69s
906:	learn: 0.0011960	total: 35.6s	remaining: 3.65s
907:	learn: 0.0011960	total: 35.6s	remaining: 3.61s
908:	learn: 0.0011959	total: 35.7s	remaining: 3.57s
909:	learn: 0.0011959	total: 35.7s	remaining: 3.53s
910:	learn: 0.0011959	total: 35.7s	remaining: 3.49s
911:	learn: 0.0011959	total: 35.7s	remaining: 3.45s
912:	learn: 0.0011959	total: 35.8s	remaining: 3.41s
913:	learn: 0.0011959	total: 35.8s	remaining: 3.37s
914:	learn: 0.0011959	total: 35.8s	remaining: 3.33s
915:	learn: 0.0011959	total: 35.8s	remaining: 3.29s
916:	learn: 0.0011958	total: 35.9s	remaining: 3.25s
917:	learn: 0.0011958	total: 35.9s	remaining: 3.21s
918:	learn: 0.0011958	total: 35.9s	remaining: 3.17s
919:	learn: 0.0011958	total: 36s	remaining: 3.13s
920:	learn: 0.0011958	total: 36s	remaining: 3.09s
921:	learn: 0.0011958	total: 36s	remaining: 3.05s
922:	learn: 0.0011958	total: 36s	remaining: 3.01s
923:	learn: 0.0011958	total: 36.1s	remaining: 2.97s
924:	learn: 0.0011958	total: 36.1s	remaining: 2.93s
925:	learn: 0.0011958	total: 36.1s	remaining: 2.89s
926:	learn: 0.0011958	total: 36.2s	remaining: 2.85s
927:	learn: 0.0011958	total: 36.2s	remaining: 2.81s
928:	learn: 0.0011957	total: 36.2s	remaining: 2.77s
929:	learn: 0.0011957	total: 36.2s	remaining: 2.73s
930:	learn: 0.0011957	total: 36.3s	remaining: 2.69s
931:	learn: 0.0011957	total: 36.3s	remaining: 2.65s
932:	learn: 0.0011957	total: 36.3s	remaining: 2.61s
933:	learn: 0.0011957	total: 36.3s	remaining: 2.57s
934:	learn: 0.0011957	total: 36.4s	remaining: 2.53s
935:	learn: 0.0011957	total: 36.4s	remaining: 2.49s
936:	learn: 0.0011932	total: 36.4s	remaining: 2.45s
937:	learn: 0.0011932	total: 36.5s	remaining: 2.41s
938:	learn: 0.0011931	total: 36.5s	remaining: 2.37s
939:	learn: 0.0011931	total: 36.5s	remaining: 2.33s
940:	learn: 0.0011931	total: 36.5s	remaining: 2.29s
941:	learn: 0.0011931	total: 36.6s	remaining: 2.25s
942:	learn: 0.0011931	total: 36.6s	remaining: 2.21s
943:	learn: 0.0011931	total: 36.6s	remaining: 2.17s
944:	learn: 0.0011931	total: 36.7s	remaining: 2.13s
945:	learn: 0.0011931	total: 36.7s	remaining: 2.09s
946:	learn: 0.0011930	total: 36.7s	remaining: 2.05s
947:	learn: 0.0011930	total: 36.7s	remaining: 2.02s
948:	learn: 0.0011930	total: 36.8s	remaining: 1.98s
949:	learn: 0.0011930	total: 36.8s	remaining: 1.94s
950:	learn: 0.0011930	total: 36.8s	remaining: 1.9s
951:	learn: 0.0011930	total: 36.8s	remaining: 1.86s
952:	learn: 0.0011930	total: 36.9s	remaining: 1.82s
953:	learn: 0.0011930	total: 36.9s	remaining: 1.78s
954:	learn: 0.0011930	total: 36.9s	remaining: 1.74s
955:	learn: 0.0011930	total: 37s	remaining: 1.7s
956:	learn: 0.0011930	total: 37s	remaining: 1.66s
957:	learn: 0.0011930	total: 37s	remaining: 1.62s
958:	learn: 0.0011929	total: 37s	remaining: 1.58s
959:	learn: 0.0011929	total: 37.1s	remaining: 1.54s
960:	learn: 0.0011929	total: 37.1s	remaining: 1.5s
961:	learn: 0.0011929	total: 37.1s	remaining: 1.47s
962:	learn: 0.0011928	total: 37.2s	remaining: 1.43s
963:	learn: 0.0011928	total: 37.2s	remaining: 1.39s
964:	learn: 0.0011928	total: 37.2s	remaining: 1.35s
965:	learn: 0.0011928	total: 37.2s	remaining: 1.31s
966:	learn: 0.0011928	total: 37.3s	remaining: 1.27s
967:	learn: 0.0011928	total: 37.3s	remaining: 1.23s
968:	learn: 0.0011928	total: 37.3s	remaining: 1.19s
969:	learn: 0.0011928	total: 37.4s	remaining: 1.16s
970:	learn: 0.0011928	total: 37.4s	remaining: 1.12s
971:	learn: 0.0011928	total: 37.4s	remaining: 1.08s
972:	learn: 0.0011928	total: 37.5s	remaining: 1.04s
973:	learn: 0.0011928	total: 37.5s	remaining: 1s
974:	learn: 0.0011928	total: 37.5s	remaining: 962ms

975:	learn: 0.0011928	total: 37.5s	remaining: 923ms
976:	learn: 0.0011928	total: 37.6s	remaining: 884ms
977:	learn: 0.0011927	total: 37.6s	remaining: 846ms
978:	learn: 0.0011927	total: 37.6s	remaining: 807ms
979:	learn: 0.0011927	total: 37.6s	remaining: 768ms
980:	learn: 0.0011927	total: 37.7s	remaining: 730ms
981:	learn: 0.0011927	total: 37.7s	remaining: 691ms
982:	learn: 0.0011926	total: 37.7s	remaining: 652ms
983:	learn: 0.0011926	total: 37.8s	remaining: 614ms
984:	learn: 0.0011926	total: 37.8s	remaining: 576ms
985:	learn: 0.0011926	total: 37.8s	remaining: 537ms
986:	learn: 0.0011926	total: 37.8s	remaining: 498ms
987:	learn: 0.0011925	total: 37.9s	remaining: 460ms
988:	learn: 0.0011925	total: 37.9s	remaining: 422ms
989:	learn: 0.0011925	total: 37.9s	remaining: 383ms
990:	learn: 0.0011925	total: 38s	remaining: 345ms
991:	learn: 0.0011925	total: 38s	remaining: 306ms
992:	learn: 0.0011925	total: 38s	remaining: 268ms
993:	learn: 0.0011924	total: 38s	remaining: 230ms
994:	learn: 0.0011924	total: 38.1s	remaining: 191ms
995:	learn: 0.0011924	total: 38.1s	remaining: 153ms
996:	learn: 0.0011924	total: 38.1s	remaining: 115ms
997:	learn: 0.0011924	total: 38.2s	remaining: 76.5ms
998:	learn: 0.0011924	total: 38.2s	remaining: 38.2ms
999:	learn: 0.0011923	total: 38.2s	remaining: 0us

In [81]:
df = pd.read_csv('Test_Dataset.csv')
df

,EmployeeID,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,6110001,18.0,No,NaN,9.0,CA,Male,80.0,3,2,...,3,1,1,0,17.0,0.0,0.0,0.0,Single,16904.0
1,6110002,20.0,Rarely,Analytics,28.0,Statistics,Female,59.0,1,3,...,1,1,2,1,18.0,2.0,1.0,NaN,Single,18994.0
2,6110003,50.0,Rarely,Analytics,19.0,CA,Female,76.0,3,3,...,5,0,5,1,22.0,18.0,3.0,3.0,M,18587.0
3,6110004,32.0,Rarely,Sales,23.0,Statistics,Female,73.0,5,2,...,3,0,4,1,17.0,5.0,3.0,3.0,Married,20559.0
4,6110005,39.0,Rarely,Analytics,7.0,CA,Male,42.0,4,1,...,5,1,4,0,20.0,9.0,1.0,7.0,Married,24991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.0,Rarely,Sales,12.0,Marketing Diploma,Male,76.0,3,5,...,5,1,5,1,18.0,10.0,1.0,3.0,Married,26761.0
2626,6112627,29.0,Rarely,Analytics,22.0,CA,Male,80.0,4,4,...,5,0,2,0,18.0,7.0,4.0,4.0,Divorsed,19196.0
2627,6112628,44.0,Rarely,Analytics,8.0,CA,F,42.0,4,1,...,1,1,3,0,19.0,24.0,5.0,17.0,Married,25248.0
2628,6112629,NaN,Rarely,Analytics,11.0,Statistics,Female,NaN,4,3,...,4,0,2,0,18.0,2.0,1.0,1.0,Single,17261.0
2629,6112630,50.0,Yes,Analytics,1.0,Statistics,F,73.0,3,4,...,4,1,3,1,24.0,28.0,0.0,7.0,Married,33172.0

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmployeeID          2630 non-null   int64
 1   Age                 2488 non-null   float64
 2   TravelProfile       2630 non-null   object
 3   Department          2572 non-null   object
 4   HomeToWork          2504 non-null   float64
 5   EducationField      2630 non-null   object
 6   Gender              2600 non-null   object
 7   HourlnWeek          2494 non-null   float64
 8   Involvement         2630 non-null   int64
 9   WorkLifeBalance     2630 non-null   int64
 10  Designation         2600 non-null   object
 11  JobSatisfaction     2630 non-null   int64
 12  ESOPs               2630 non-null   int64
 13  NumCompaniesWorked  2630 non-null   int64
 14  OverTime            2630 non-null   int64
 15  SalaryHikelastYear  2536 non-null   float64
 16  WorkExperience      2508 non-null   float64
 17  LastPromotion       2573 non-null   float64
 18  CurrentProfile      2496 non-null   float64
 19  MaritalStatus       2630 non-null   object
 20  MonthlyIncome       2597 non-null   float64
dtypes: float64(8), int64(7), object(6)
memory usage: 431.6+ KB

In [83]:
df.isnull().sum()

EmployeeID              0
Age                   142
TravelProfile           0
Department             58
HomeToWork            126
EducationField          0
Gender                 30
HourlnWeek            136
Involvement             0
WorkLifeBalance         0
Designation            30
JobSatisfaction         0
ESOPs                   0
NumCompaniesWorked      0
OverTime                0
SalaryHikelastYear     94
WorkExperience        122
LastPromotion          57
CurrentProfile        134
MaritalStatus           0
MonthlyIncome          33
dtype: int64

In [84]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Department'].fillna(df['Department'].value_counts().index[0],inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)
df['SalaryHikelastYear'].fillna(df['SalaryHikelastYear'].mean(),inplace=True)
df['WorkExperience'].fillna(df['WorkExperience'].mean(),inplace=True)
df['LastPromotion'].fillna(df['LastPromotion'].mean(),inplace=True)
df['CurrentProfile'].fillna(df['CurrentProfile'].mean(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].mean(),inplace=True)

In [85]:
df.isnull().sum()

EmployeeID            0
Age                   0
TravelProfile         0
Department            0
HomeToWork            0
EducationField        0
Gender                0
HourlnWeek            0
Involvement           0
WorkLifeBalance       0
Designation           0
JobSatisfaction       0
ESOPs                 0
NumCompaniesWorked    0
OverTime              0
SalaryHikelastYear    0
WorkExperience        0
LastPromotion         0
CurrentProfile        0
MaritalStatus         0
MonthlyIncome         0
dtype: int64

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmployeeID          2630 non-null   int64
 1   Age                 2630 non-null   float64
 2   TravelProfile       2630 non-null   object
 3   Department          2630 non-null   object
 4   HomeToWork          2630 non-null   float64
 5   EducationField      2630 non-null   object
 6   Gender              2630 non-null   object
 7   HourlnWeek          2630 non-null   float64
 8   Involvement         2630 non-null   int64
 9   WorkLifeBalance     2630 non-null   int64
 10  Designation         2630 non-null   object
 11  JobSatisfaction     2630 non-null   int64
 12  ESOPs               2630 non-null   int64
 13  NumCompaniesWorked  2630 non-null   int64
 14  OverTime            2630 non-null   int64
 15  SalaryHikelastYear  2630 non-null   float64
 16  WorkExperience      2630 non-null   float64
 17  LastPromotion       2630 non-null   float64
 18  CurrentProfile      2630 non-null   float64
 19  MaritalStatus       2630 non-null   object
 20  MonthlyIncome       2630 non-null   float64
dtypes: float64(8), int64(7), object(6)
memory usage: 431.6+ KB

In [87]:
df = pd.get_dummies(df,drop_first=True)
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,EducationField_Statistics,Gender_Female,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,0,0,1,1,0,0,0,0,0,1
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,1,0,1,0,0,0,0,0,1
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,0,1,0,1,0,0,0,1,0,0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,1,1,0,0,1,0,0,0,1,0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,0,1,0,0,1,0,0,1,0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,0,0,1,1,0,0,0,0,0,0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,0,0,1,0,0,1,0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,1,0,1,0,0,0,0,0,1
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,1,0,0,0,0,0,1,0,1,0

In [88]:
df['Attrition1'] = model1.predict(df.drop('EmployeeID',axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Gender_Female,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition1
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,0,1,1,0,0,0,0,0,1,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,0,1,0,0,0,0,0,1,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,1,0,1,0,0,0,1,0,0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,1,0,0,1,0,0,0,1,0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,1,0,0,1,0,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,1,0,0,1,0,0,1,0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,0,1,1,0,0,0,0,0,0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,0,1,0,0,1,0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,0,1,0,0,0,0,0,1,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,0,0,1,0,1,0,0.0

In [89]:
df['Attrition3'] = model3.predict(df.drop(['EmployeeID','Attrition1'],axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition1,Attrition3
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,1,1,0,0,0,0,0,1,1.0,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,0,1,0,0,0,0,0,1,0.0,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,0,1,0,0,0,1,0,0,0.0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,0,0,1,0,0,0,1,0,1.0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,1,0,0,1,0,0,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,1,0,0,1,0,0,1,0,0.0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,1,1,0,0,0,0,0,0,0.0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,1,0,0,1,0,0.0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,0,1,0,0,0,0,0,1,1.0,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,0,1,0,1,0,0.0,0.0

In [90]:
df['Attrition4'] = model4.predict(df.drop(['EmployeeID','Attrition1','Attrition3'],axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition1,Attrition3,Attrition4
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,1,0,0,0,0,0,1,1.0,1.0,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,0,0,0,0,0,1,0.0,0.0,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,1,0,0,0,1,0,0,0.0,0.0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,0,1,0,0,0,1,0,1.0,1.0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,0,1,0,0,1,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,0,1,0,0,1,0,0.0,0.0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,1,0,0,0,0,0,0,0.0,0.0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,1,0,0,1,0,0.0,0.0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,0,0,0,0,0,1,1.0,1.0,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,1,0,1,0,0.0,0.0,0.0

In [91]:
df['Attrition'] = df['Attrition4'].copy()   # random assignment to 'df['Attrition']'

In [92]:
for i in range(0,2630):
    list1=[df['Attrition1'][i],df['Attrition3'][i],df['Attrition4'][i]]
    df['Attrition'][i]=max(set(list1), key=list1.count)

<ipython-input-92-cdce6e9a0f43>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Attrition'][i]=max(set(list1), key=list1.count)

In [93]:
df2=df[['EmployeeID','Attrition']]
df2['EmployeeID'] = df2['EmployeeID'].astype('int64')
df2['Attrition'] = df2['Attrition'].astype('int64')
df2

<ipython-input-93-6a5a3b235e5b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['EmployeeID'] = df2['EmployeeID'].astype('int64')
<ipython-input-93-6a5a3b235e5b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Attrition'] = df2['Attrition'].astype('int64')

      EmployeeID  Attrition
0        6110001          1
1        6110002          0
2        6110003          0
3        6110004          1
4        6110005          0
...          ...        ...
2625     6112626          0
2626     6112627          0
2627     6112628          0
2628     6112629          1
2629     6112630          0

[2630 rows x 2 columns]

In [94]:
df = pd.read_csv('Test_Dataset.csv')
df

,EmployeeID,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,6110001,18.0,No,NaN,9.0,CA,Male,80.0,3,2,...,3,1,1,0,17.0,0.0,0.0,0.0,Single,16904.0
1,6110002,20.0,Rarely,Analytics,28.0,Statistics,Female,59.0,1,3,...,1,1,2,1,18.0,2.0,1.0,NaN,Single,18994.0
2,6110003,50.0,Rarely,Analytics,19.0,CA,Female,76.0,3,3,...,5,0,5,1,22.0,18.0,3.0,3.0,M,18587.0
3,6110004,32.0,Rarely,Sales,23.0,Statistics,Female,73.0,5,2,...,3,0,4,1,17.0,5.0,3.0,3.0,Married,20559.0
4,6110005,39.0,Rarely,Analytics,7.0,CA,Male,42.0,4,1,...,5,1,4,0,20.0,9.0,1.0,7.0,Married,24991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.0,Rarely,Sales,12.0,Marketing Diploma,Male,76.0,3,5,...,5,1,5,1,18.0,10.0,1.0,3.0,Married,26761.0
2626,6112627,29.0,Rarely,Analytics,22.0,CA,Male,80.0,4,4,...,5,0,2,0,18.0,7.0,4.0,4.0,Divorsed,19196.0
2627,6112628,44.0,Rarely,Analytics,8.0,CA,F,42.0,4,1,...,1,1,3,0,19.0,24.0,5.0,17.0,Married,25248.0
2628,6112629,NaN,Rarely,Analytics,11.0,Statistics,Female,NaN,4,3,...,4,0,2,0,18.0,2.0,1.0,1.0,Single,17261.0
2629,6112630,50.0,Yes,Analytics,1.0,Statistics,F,73.0,3,4,...,4,1,3,1,24.0,28.0,0.0,7.0,Married,33172.0

In [95]:
df2['EmployeeID'] = df['EmployeeID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  2630 non-null   int64
 1   Attrition   2630 non-null   int64
dtypes: int64(2)
memory usage: 41.2 KB

<ipython-input-95-ede409ad4317>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['EmployeeID'] = df['EmployeeID']

In [96]:
df2.to_csv('file4.csv',index=0)