In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('Train_Dataset.csv')
df

,EmployeeID,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,5110001.0,0.0,35.0,Rarely,Analytics,5.0,CA,Male,69.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,NaN,M,18932.0
1,5110002.0,1.0,32.0,Yes,Sales,5.0,Statistics,Female,62.0,4.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,NaN,Single,18785.0
2,5110003.0,0.0,31.0,Rarely,Analytics,5.0,Statistics,F,45.0,5.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.0,Single,22091.0
3,5110004.0,0.0,34.0,Yes,Sales,10.0,Statistics,Female,32.0,3.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.0,Divorsed,20302.0
4,5110005.0,0.0,37.0,No,Analytics,27.0,Statistics,Female,49.0,3.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.0,Divorsed,21674.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df.drop('EmployeeID',axis=1,inplace=True)

In [61]:
df.isnull().sum()

Attrition             2630
Age                   2946
TravelProfile         2630
Department            2754
HomeToWork            2885
EducationField        2630
Gender                2676
HourlnWeek            2917
Involvement           2630
WorkLifeBalance       2630
Designation           2668
JobSatisfaction       2630
ESOPs                 2630
NumCompaniesWorked    2630
OverTime              2630
SalaryHikelastYear    2799
WorkExperience        2817
LastPromotion         2700
CurrentProfile        2941
MaritalStatus         2630
MonthlyIncome         2723
dtype: int64

In [62]:
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['Involvement'].fillna(df['Involvement'].mean(),inplace=True)
df['WorkLifeBalance'].fillna(df['WorkLifeBalance'].mean(),inplace=True)
df['JobSatisfaction'].fillna(df['JobSatisfaction'].mean(),inplace=True)
df['ESOPs'].fillna(df['ESOPs'].mean(),inplace=True)
df['NumCompaniesWorked'].fillna(df['NumCompaniesWorked'].mean(),inplace=True)
df['OverTime'].fillna(df['OverTime'].mean(),inplace=True)

df['Age'].fillna(df['Age'].mean(),inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['SalaryHikelastYear'].fillna(df['SalaryHikelastYear'].mean(),inplace=True)
df['WorkExperience'].fillna(df['WorkExperience'].mean(),inplace=True)
df['LastPromotion'].fillna(df['LastPromotion'].mean(),inplace=True)
df['CurrentProfile'].fillna(df['CurrentProfile'].mean(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].mean(),inplace=True)

df['Department'].fillna(df['Department'].value_counts().index[0],inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)
df['TravelProfile'].fillna(df['TravelProfile'].value_counts().index[0],inplace=True)
df['EducationField'].fillna(df['EducationField'].value_counts().index[0],inplace=True)
df['MaritalStatus'].fillna(df['MaritalStatus'].value_counts().index[0],inplace=True)

In [63]:
df.isnull().sum()

Attrition             2630
Age                      0
TravelProfile            0
Department               0
HomeToWork               0
EducationField           0
Gender                   0
HourlnWeek               0
Involvement              0
WorkLifeBalance          0
Designation              0
JobSatisfaction          0
ESOPs                    0
NumCompaniesWorked       0
OverTime                 0
SalaryHikelastYear       0
WorkExperience           0
LastPromotion            0
CurrentProfile           0
MaritalStatus            0
MonthlyIncome            0
dtype: int64

In [64]:
df.dropna(inplace=True)
df

,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,0.0,35.000000,Rarely,Analytics,5.000000,CA,Male,69.0,1.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,4.385295,M,18932.0
1,1.0,32.000000,Yes,Sales,5.000000,Statistics,Female,62.0,4.0,3.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,4.385295,Single,18785.0
2,0.0,31.000000,Rarely,Analytics,5.000000,Statistics,F,45.0,5.0,3.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.000000,Single,22091.0
3,0.0,34.000000,Yes,Sales,10.000000,Statistics,Female,32.0,3.0,2.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.000000,Divorsed,20302.0
4,0.0,37.000000,No,Analytics,27.000000,Statistics,Female,49.0,3.0,4.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.000000,Divorsed,21674.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5175,0.0,36.000000,Rarely,Analytics,13.000000,CA,F,53.0,3.0,3.0,...,3.0,0.0,4.0,1.0,22.0,11.0,1.0,5.000000,Single,22142.0
5176,0.0,37.108553,Rarely,Marketing,9.000000,CA,Female,66.0,1.0,4.0,...,4.0,1.0,9.0,0.0,23.0,8.0,0.0,2.000000,Single,17109.0
5177,0.0,29.000000,Rarely,Analytics,11.107411,CA,Female,62.0,4.0,2.0,...,1.0,1.0,6.0,0.0,19.0,8.0,0.0,3.000000,M,17532.0
5178,0.0,26.000000,Rarely,Marketing,26.000000,Statistics,Female,61.0,3.0,4.0,...,3.0,0.0,1.0,0.0,28.0,8.0,5.0,7.000000,Divorsed,17942.0
5179,1.0,37.108553,Yes,Sales,13.000000,Statistics,Male,74.0,4.0,3.0,...,5.0,1.0,1.0,0.0,23.0,1.0,0.0,0.000000,Divorsed,17033.0

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5180 entries, 0 to 5179
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Attrition           5180 non-null   float64
 1   Age                 5180 non-null   float64
 2   TravelProfile       5180 non-null   object
 3   Department          5180 non-null   object
 4   HomeToWork          5180 non-null   float64
 5   EducationField      5180 non-null   object
 6   Gender              5180 non-null   object
 7   HourlnWeek          5180 non-null   float64
 8   Involvement         5180 non-null   float64
 9   WorkLifeBalance     5180 non-null   float64
 10  Designation         5180 non-null   object
 11  JobSatisfaction     5180 non-null   float64
 12  ESOPs               5180 non-null   float64
 13  NumCompaniesWorked  5180 non-null   float64
 14  OverTime            5180 non-null   float64
 15  SalaryHikelastYear  5180 non-null   float64
 16  WorkExperience      5180 non-null   float64
 17  LastPromotion       5180 non-null   float64
 18  CurrentProfile      5180 non-null   float64
 19  MaritalStatus       5180 non-null   object
 20  MonthlyIncome       5180 non-null   float64
dtypes: float64(15), object(6)
memory usage: 890.3+ KB

In [66]:
df = pd.get_dummies(df,drop_first=True)
X = df.drop('Attrition', axis=1)

y = df['Attrition']

In [67]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1)
model2=clf.fit(X,y)

In [68]:
from lightgbm import LGBMClassifier
clf = LGBMClassifier(random_state=1)
model3=clf.fit(X,y)

In [69]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier(random_state=1,learning_rate=0.37,max_depth=10)   # learning_rate= 0.36, 0.38 give same result
model4=clf.fit(X,y)

0:	learn: 0.4849512	total: 38.2ms	remaining: 38.2s
1:	learn: 0.3246552	total: 56.1ms	remaining: 28s
2:	learn: 0.2477524	total: 73.7ms	remaining: 24.5s
3:	learn: 0.1963869	total: 92.4ms	remaining: 23s
4:	learn: 0.1703078	total: 109ms	remaining: 21.7s
5:	learn: 0.1515276	total: 127ms	remaining: 21s
6:	learn: 0.1203647	total: 144ms	remaining: 20.5s
7:	learn: 0.1041380	total: 162ms	remaining: 20.1s
8:	learn: 0.0921568	total: 179ms	remaining: 19.7s
9:	learn: 0.0835633	total: 197ms	remaining: 19.5s
10:	learn: 0.0781238	total: 214ms	remaining: 19.3s
11:	learn: 0.0735482	total: 232ms	remaining: 19.1s
12:	learn: 0.0643485	total: 251ms	remaining: 19s
13:	learn: 0.0565456	total: 268ms	remaining: 18.9s
14:	learn: 0.0498239	total: 286ms	remaining: 18.8s
15:	learn: 0.0456866	total: 304ms	remaining: 18.7s
16:	learn: 0.0428686	total: 323ms	remaining: 18.7s
17:	learn: 0.0394839	total: 341ms	remaining: 18.6s
18:	learn: 0.0361318	total: 359ms	remaining: 18.5s
19:	learn: 0.0339366	total: 378ms	remaining: 18.5s
20:	learn: 0.0315582	total: 397ms	remaining: 18.5s
21:	learn: 0.0284288	total: 436ms	remaining: 19.4s
22:	learn: 0.0268890	total: 460ms	remaining: 19.5s
23:	learn: 0.0244625	total: 481ms	remaining: 19.5s
24:	learn: 0.0226865	total: 499ms	remaining: 19.5s
25:	learn: 0.0208805	total: 517ms	remaining: 19.4s
26:	learn: 0.0202127	total: 535ms	remaining: 19.3s
27:	learn: 0.0191341	total: 553ms	remaining: 19.2s
28:	learn: 0.0184072	total: 570ms	remaining: 19.1s
29:	learn: 0.0179301	total: 588ms	remaining: 19s
30:	learn: 0.0169501	total: 605ms	remaining: 18.9s
31:	learn: 0.0158414	total: 623ms	remaining: 18.8s
32:	learn: 0.0148224	total: 641ms	remaining: 18.8s
33:	learn: 0.0139526	total: 659ms	remaining: 18.7s
34:	learn: 0.0131866	total: 677ms	remaining: 18.7s
35:	learn: 0.0123364	total: 695ms	remaining: 18.6s
36:	learn: 0.0116365	total: 712ms	remaining: 18.5s
37:	learn: 0.0112495	total: 731ms	remaining: 18.5s
38:	learn: 0.0109020	total: 750ms	remaining: 18.5s
39:	learn: 0.0105694	total: 768ms	remaining: 18.4s
40:	learn: 0.0102887	total: 786ms	remaining: 18.4s
41:	learn: 0.0098886	total: 804ms	remaining: 18.3s
42:	learn: 0.0094331	total: 821ms	remaining: 18.3s
43:	learn: 0.0089567	total: 839ms	remaining: 18.2s
44:	learn: 0.0085146	total: 860ms	remaining: 18.2s
45:	learn: 0.0081257	total: 880ms	remaining: 18.2s
46:	learn: 0.0078182	total: 899ms	remaining: 18.2s
47:	learn: 0.0075491	total: 916ms	remaining: 18.2s
48:	learn: 0.0072659	total: 934ms	remaining: 18.1s
49:	learn: 0.0070574	total: 952ms	remaining: 18.1s
50:	learn: 0.0068711	total: 969ms	remaining: 18s
51:	learn: 0.0065723	total: 986ms	remaining: 18s
52:	learn: 0.0063465	total: 1s	remaining: 17.9s
53:	learn: 0.0061301	total: 1.02s	remaining: 17.9s
54:	learn: 0.0059437	total: 1.04s	remaining: 17.9s
55:	learn: 0.0057518	total: 1.06s	remaining: 17.9s
56:	learn: 0.0055887	total: 1.08s	remaining: 17.9s
57:	learn: 0.0054419	total: 1.1s	remaining: 17.9s
58:	learn: 0.0053296	total: 1.12s	remaining: 17.9s
59:	learn: 0.0052202	total: 1.14s	remaining: 17.8s
60:	learn: 0.0050868	total: 1.16s	remaining: 17.8s
61:	learn: 0.0049681	total: 1.17s	remaining: 17.8s
62:	learn: 0.0048583	total: 1.2s	remaining: 17.8s
63:	learn: 0.0047231	total: 1.22s	remaining: 17.8s
64:	learn: 0.0045995	total: 1.24s	remaining: 17.8s
65:	learn: 0.0044960	total: 1.26s	remaining: 17.8s
66:	learn: 0.0043750	total: 1.28s	remaining: 17.8s
67:	learn: 0.0043075	total: 1.3s	remaining: 17.8s
68:	learn: 0.0042113	total: 1.32s	remaining: 17.8s
69:	learn: 0.0041216	total: 1.33s	remaining: 17.7s
70:	learn: 0.0040241	total: 1.35s	remaining: 17.7s
71:	learn: 0.0039257	total: 1.38s	remaining: 17.7s
72:	learn: 0.0038475	total: 1.4s	remaining: 17.7s
73:	learn: 0.0037522	total: 1.42s	remaining: 17.7s
74:	learn: 0.0036611	total: 1.44s	remaining: 17.7s
75:	learn: 0.0035820	total: 1.45s	remaining: 17.7s
76:	learn: 0.0035224	total: 1.47s	remaining: 17.6s
77:	learn: 0.0034559	total: 1.49s	remaining: 17.6s
78:	learn: 0.0033895	total: 1.51s	remaining: 17.6s
79:	learn: 0.0033393	total: 1.53s	remaining: 17.6s
80:	learn: 0.0032705	total: 1.55s	remaining: 17.5s
81:	learn: 0.0032114	total: 1.56s	remaining: 17.5s
82:	learn: 0.0031460	total: 1.58s	remaining: 17.5s
83:	learn: 0.0030854	total: 1.6s	remaining: 17.5s
84:	learn: 0.0030399	total: 1.62s	remaining: 17.4s
85:	learn: 0.0029921	total: 1.64s	remaining: 17.4s
86:	learn: 0.0029346	total: 1.66s	remaining: 17.4s
87:	learn: 0.0029016	total: 1.68s	remaining: 17.4s
88:	learn: 0.0028675	total: 1.7s	remaining: 17.4s
89:	learn: 0.0028321	total: 1.72s	remaining: 17.3s
90:	learn: 0.0027833	total: 1.73s	remaining: 17.3s
91:	learn: 0.0027513	total: 1.75s	remaining: 17.3s
92:	learn: 0.0027098	total: 1.77s	remaining: 17.3s
93:	learn: 0.0026739	total: 1.79s	remaining: 17.2s
94:	learn: 0.0026332	total: 1.8s	remaining: 17.2s
95:	learn: 0.0025944	total: 1.82s	remaining: 17.2s
96:	learn: 0.0025426	total: 1.84s	remaining: 17.2s
97:	learn: 0.0025171	total: 1.86s	remaining: 17.1s
98:	learn: 0.0024882	total: 1.88s	remaining: 17.1s
99:	learn: 0.0024465	total: 1.9s	remaining: 17.1s
100:	learn: 0.0024101	total: 1.92s	remaining: 17.1s
101:	learn: 0.0023802	total: 1.94s	remaining: 17.1s
102:	learn: 0.0023494	total: 1.96s	remaining: 17s
103:	learn: 0.0023188	total: 1.98s	remaining: 17s
104:	learn: 0.0022871	total: 1.99s	remaining: 17s
105:	learn: 0.0022564	total: 2.01s	remaining: 17s
106:	learn: 0.0022256	total: 2.03s	remaining: 16.9s
107:	learn: 0.0021908	total: 2.05s	remaining: 16.9s
108:	learn: 0.0021607	total: 2.07s	remaining: 16.9s
109:	learn: 0.0021322	total: 2.09s	remaining: 16.9s
110:	learn: 0.0021036	total: 2.11s	remaining: 16.9s
111:	learn: 0.0020765	total: 2.12s	remaining: 16.8s
112:	learn: 0.0020503	total: 2.14s	remaining: 16.8s
113:	learn: 0.0020282	total: 2.16s	remaining: 16.8s
114:	learn: 0.0020282	total: 2.18s	remaining: 16.7s
115:	learn: 0.0020085	total: 2.2s	remaining: 16.7s
116:	learn: 0.0019927	total: 2.21s	remaining: 16.7s
117:	learn: 0.0019682	total: 2.23s	remaining: 16.7s
118:	learn: 0.0019404	total: 2.25s	remaining: 16.7s
119:	learn: 0.0019172	total: 2.27s	remaining: 16.7s
120:	learn: 0.0018873	total: 2.29s	remaining: 16.6s
121:	learn: 0.0018873	total: 2.31s	remaining: 16.6s
122:	learn: 0.0018710	total: 2.33s	remaining: 16.6s
123:	learn: 0.0018591	total: 2.34s	remaining: 16.6s
124:	learn: 0.0018591	total: 2.36s	remaining: 16.5s
125:	learn: 0.0018590	total: 2.38s	remaining: 16.5s
126:	learn: 0.0018590	total: 2.4s	remaining: 16.5s
127:	learn: 0.0018407	total: 2.41s	remaining: 16.4s
128:	learn: 0.0018246	total: 2.43s	remaining: 16.4s
129:	learn: 0.0018045	total: 2.45s	remaining: 16.4s
130:	learn: 0.0017831	total: 2.47s	remaining: 16.4s
131:	learn: 0.0017832	total: 2.48s	remaining: 16.3s
132:	learn: 0.0017627	total: 2.5s	remaining: 16.3s
133:	learn: 0.0017481	total: 2.52s	remaining: 16.3s
134:	learn: 0.0017328	total: 2.54s	remaining: 16.3s
135:	learn: 0.0017058	total: 2.56s	remaining: 16.2s
136:	learn: 0.0017058	total: 2.57s	remaining: 16.2s
137:	learn: 0.0017058	total: 2.59s	remaining: 16.2s
138:	learn: 0.0017058	total: 2.61s	remaining: 16.1s
139:	learn: 0.0017058	total: 2.62s	remaining: 16.1s
140:	learn: 0.0017058	total: 2.64s	remaining: 16.1s
141:	learn: 0.0017058	total: 2.66s	remaining: 16.1s
142:	learn: 0.0017058	total: 2.68s	remaining: 16s
143:	learn: 0.0017058	total: 2.7s	remaining: 16.1s
144:	learn: 0.0017058	total: 2.72s	remaining: 16.1s
145:	learn: 0.0016881	total: 2.74s	remaining: 16s
146:	learn: 0.0016881	total: 2.76s	remaining: 16s
147:	learn: 0.0016725	total: 2.78s	remaining: 16s
148:	learn: 0.0016489	total: 2.8s	remaining: 16s
149:	learn: 0.0016254	total: 2.81s	remaining: 16s
150:	learn: 0.0016094	total: 2.83s	remaining: 15.9s
151:	learn: 0.0015980	total: 2.85s	remaining: 15.9s
152:	learn: 0.0015813	total: 2.87s	remaining: 15.9s
153:	learn: 0.0015812	total: 2.89s	remaining: 15.9s
154:	learn: 0.0015813	total: 2.9s	remaining: 15.8s
155:	learn: 0.0015610	total: 2.92s	remaining: 15.8s
156:	learn: 0.0015609	total: 2.94s	remaining: 15.8s
157:	learn: 0.0015609	total: 2.96s	remaining: 15.8s
158:	learn: 0.0015609	total: 2.97s	remaining: 15.7s
159:	learn: 0.0015609	total: 2.98s	remaining: 15.7s
160:	learn: 0.0015608	total: 3s	remaining: 15.6s
161:	learn: 0.0015608	total: 3.02s	remaining: 15.6s
162:	learn: 0.0015608	total: 3.04s	remaining: 15.6s

163:	learn: 0.0015608	total: 3.06s	remaining: 15.6s
164:	learn: 0.0015608	total: 3.07s	remaining: 15.6s
165:	learn: 0.0015608	total: 3.1s	remaining: 15.6s
166:	learn: 0.0015476	total: 3.12s	remaining: 15.6s
167:	learn: 0.0015335	total: 3.14s	remaining: 15.6s
168:	learn: 0.0015189	total: 3.16s	remaining: 15.5s
169:	learn: 0.0015189	total: 3.18s	remaining: 15.5s
170:	learn: 0.0015189	total: 3.19s	remaining: 15.5s
171:	learn: 0.0015189	total: 3.21s	remaining: 15.5s
172:	learn: 0.0015189	total: 3.23s	remaining: 15.4s
173:	learn: 0.0015189	total: 3.25s	remaining: 15.4s
174:	learn: 0.0015189	total: 3.25s	remaining: 15.3s
175:	learn: 0.0015188	total: 3.27s	remaining: 15.3s
176:	learn: 0.0015188	total: 3.29s	remaining: 15.3s
177:	learn: 0.0015188	total: 3.3s	remaining: 15.3s
178:	learn: 0.0015188	total: 3.32s	remaining: 15.2s
179:	learn: 0.0015188	total: 3.34s	remaining: 15.2s
180:	learn: 0.0015188	total: 3.35s	remaining: 15.2s
181:	learn: 0.0015187	total: 3.37s	remaining: 15.2s
182:	learn: 0.0015010	total: 3.39s	remaining: 15.1s
183:	learn: 0.0014880	total: 3.41s	remaining: 15.1s
184:	learn: 0.0014710	total: 3.43s	remaining: 15.1s
185:	learn: 0.0014710	total: 3.44s	remaining: 15.1s
186:	learn: 0.0014710	total: 3.46s	remaining: 15.1s
187:	learn: 0.0014577	total: 3.48s	remaining: 15s
188:	learn: 0.0014577	total: 3.5s	remaining: 15s
189:	learn: 0.0014462	total: 3.52s	remaining: 15s
190:	learn: 0.0014462	total: 3.54s	remaining: 15s
191:	learn: 0.0014462	total: 3.55s	remaining: 15s
192:	learn: 0.0014305	total: 3.57s	remaining: 14.9s
193:	learn: 0.0014305	total: 3.59s	remaining: 14.9s
194:	learn: 0.0014305	total: 3.61s	remaining: 14.9s
195:	learn: 0.0014181	total: 3.63s	remaining: 14.9s
196:	learn: 0.0014062	total: 3.65s	remaining: 14.9s
197:	learn: 0.0013927	total: 3.67s	remaining: 14.8s
198:	learn: 0.0013927	total: 3.68s	remaining: 14.8s
199:	learn: 0.0013788	total: 3.7s	remaining: 14.8s
200:	learn: 0.0013761	total: 3.72s	remaining: 14.8s
201:	learn: 0.0013761	total: 3.73s	remaining: 14.8s
202:	learn: 0.0013660	total: 3.75s	remaining: 14.7s
203:	learn: 0.0013641	total: 3.77s	remaining: 14.7s
204:	learn: 0.0013499	total: 3.79s	remaining: 14.7s
205:	learn: 0.0013391	total: 3.8s	remaining: 14.7s
206:	learn: 0.0013236	total: 3.82s	remaining: 14.7s
207:	learn: 0.0013096	total: 3.85s	remaining: 14.6s
208:	learn: 0.0013095	total: 3.87s	remaining: 14.6s
209:	learn: 0.0013095	total: 3.89s	remaining: 14.6s
210:	learn: 0.0013093	total: 3.91s	remaining: 14.6s
211:	learn: 0.0013093	total: 3.92s	remaining: 14.6s
212:	learn: 0.0013092	total: 3.94s	remaining: 14.6s
213:	learn: 0.0013092	total: 3.96s	remaining: 14.5s
214:	learn: 0.0012975	total: 3.97s	remaining: 14.5s
215:	learn: 0.0012975	total: 3.99s	remaining: 14.5s
216:	learn: 0.0012871	total: 4.01s	remaining: 14.5s
217:	learn: 0.0012871	total: 4.03s	remaining: 14.4s
218:	learn: 0.0012871	total: 4.04s	remaining: 14.4s
219:	learn: 0.0012748	total: 4.06s	remaining: 14.4s
220:	learn: 0.0012651	total: 4.08s	remaining: 14.4s
221:	learn: 0.0012649	total: 4.09s	remaining: 14.3s
222:	learn: 0.0012649	total: 4.11s	remaining: 14.3s
223:	learn: 0.0012610	total: 4.13s	remaining: 14.3s
224:	learn: 0.0012498	total: 4.14s	remaining: 14.3s
225:	learn: 0.0012496	total: 4.16s	remaining: 14.3s
226:	learn: 0.0012496	total: 4.18s	remaining: 14.2s
227:	learn: 0.0012496	total: 4.2s	remaining: 14.2s
228:	learn: 0.0012495	total: 4.22s	remaining: 14.2s
229:	learn: 0.0012495	total: 4.23s	remaining: 14.2s
230:	learn: 0.0012495	total: 4.25s	remaining: 14.2s
231:	learn: 0.0012495	total: 4.27s	remaining: 14.1s
232:	learn: 0.0012495	total: 4.29s	remaining: 14.1s
233:	learn: 0.0012495	total: 4.3s	remaining: 14.1s
234:	learn: 0.0012495	total: 4.32s	remaining: 14.1s
235:	learn: 0.0012495	total: 4.34s	remaining: 14s
236:	learn: 0.0012495	total: 4.36s	remaining: 14s
237:	learn: 0.0012495	total: 4.38s	remaining: 14s
238:	learn: 0.0012495	total: 4.4s	remaining: 14s
239:	learn: 0.0012495	total: 4.42s	remaining: 14s
240:	learn: 0.0012495	total: 4.44s	remaining: 14s
241:	learn: 0.0012495	total: 4.46s	remaining: 14s
242:	learn: 0.0012495	total: 4.48s	remaining: 14s
243:	learn: 0.0012495	total: 4.5s	remaining: 14s
244:	learn: 0.0012495	total: 4.52s	remaining: 13.9s
245:	learn: 0.0012463	total: 4.54s	remaining: 13.9s
246:	learn: 0.0012463	total: 4.56s	remaining: 13.9s
247:	learn: 0.0012463	total: 4.58s	remaining: 13.9s
248:	learn: 0.0012463	total: 4.59s	remaining: 13.9s
249:	learn: 0.0012463	total: 4.61s	remaining: 13.8s
250:	learn: 0.0012463	total: 4.63s	remaining: 13.8s
251:	learn: 0.0012463	total: 4.65s	remaining: 13.8s
252:	learn: 0.0012463	total: 4.67s	remaining: 13.8s
253:	learn: 0.0012463	total: 4.68s	remaining: 13.8s
254:	learn: 0.0012463	total: 4.7s	remaining: 13.7s
255:	learn: 0.0012463	total: 4.72s	remaining: 13.7s
256:	learn: 0.0012463	total: 4.74s	remaining: 13.7s
257:	learn: 0.0012463	total: 4.75s	remaining: 13.7s
258:	learn: 0.0012463	total: 4.77s	remaining: 13.7s
259:	learn: 0.0012462	total: 4.79s	remaining: 13.6s
260:	learn: 0.0012462	total: 4.81s	remaining: 13.6s
261:	learn: 0.0012462	total: 4.83s	remaining: 13.6s
262:	learn: 0.0012462	total: 4.84s	remaining: 13.6s
263:	learn: 0.0012462	total: 4.86s	remaining: 13.6s
264:	learn: 0.0012462	total: 4.88s	remaining: 13.5s
265:	learn: 0.0012462	total: 4.89s	remaining: 13.5s
266:	learn: 0.0012462	total: 4.91s	remaining: 13.5s
267:	learn: 0.0012462	total: 4.93s	remaining: 13.5s
268:	learn: 0.0012462	total: 4.95s	remaining: 13.5s
269:	learn: 0.0012462	total: 4.97s	remaining: 13.4s
270:	learn: 0.0012462	total: 4.99s	remaining: 13.4s
271:	learn: 0.0012462	total: 5.01s	remaining: 13.4s
272:	learn: 0.0012462	total: 5.03s	remaining: 13.4s
273:	learn: 0.0012462	total: 5.05s	remaining: 13.4s
274:	learn: 0.0012462	total: 5.07s	remaining: 13.4s
275:	learn: 0.0012461	total: 5.08s	remaining: 13.3s
276:	learn: 0.0012461	total: 5.1s	remaining: 13.3s
277:	learn: 0.0012461	total: 5.11s	remaining: 13.3s
278:	learn: 0.0012461	total: 5.13s	remaining: 13.3s
279:	learn: 0.0012461	total: 5.15s	remaining: 13.2s
280:	learn: 0.0012461	total: 5.16s	remaining: 13.2s
281:	learn: 0.0012461	total: 5.18s	remaining: 13.2s
282:	learn: 0.0012461	total: 5.2s	remaining: 13.2s
283:	learn: 0.0012461	total: 5.21s	remaining: 13.1s
284:	learn: 0.0012461	total: 5.23s	remaining: 13.1s
285:	learn: 0.0012461	total: 5.25s	remaining: 13.1s
286:	learn: 0.0012461	total: 5.26s	remaining: 13.1s
287:	learn: 0.0012461	total: 5.28s	remaining: 13.1s
288:	learn: 0.0012461	total: 5.3s	remaining: 13s
289:	learn: 0.0012461	total: 5.32s	remaining: 13s
290:	learn: 0.0012461	total: 5.34s	remaining: 13s
291:	learn: 0.0012461	total: 5.36s	remaining: 13s
292:	learn: 0.0012461	total: 5.38s	remaining: 13s
293:	learn: 0.0012461	total: 5.39s	remaining: 12.9s
294:	learn: 0.0012461	total: 5.41s	remaining: 12.9s
295:	learn: 0.0012461	total: 5.43s	remaining: 12.9s
296:	learn: 0.0012461	total: 5.44s	remaining: 12.9s
297:	learn: 0.0012461	total: 5.46s	remaining: 12.9s
298:	learn: 0.0012461	total: 5.48s	remaining: 12.8s
299:	learn: 0.0012461	total: 5.49s	remaining: 12.8s
300:	learn: 0.0012461	total: 5.51s	remaining: 12.8s
301:	learn: 0.0012461	total: 5.53s	remaining: 12.8s
302:	learn: 0.0012461	total: 5.54s	remaining: 12.8s
303:	learn: 0.0012461	total: 5.56s	remaining: 12.7s
304:	learn: 0.0012461	total: 5.58s	remaining: 12.7s
305:	learn: 0.0012461	total: 5.59s	remaining: 12.7s
306:	learn: 0.0012461	total: 5.61s	remaining: 12.7s
307:	learn: 0.0012461	total: 5.63s	remaining: 12.6s
308:	learn: 0.0012461	total: 5.64s	remaining: 12.6s
309:	learn: 0.0012461	total: 5.66s	remaining: 12.6s
310:	learn: 0.0012460	total: 5.68s	remaining: 12.6s
311:	learn: 0.0012460	total: 5.7s	remaining: 12.6s
312:	learn: 0.0012460	total: 5.71s	remaining: 12.5s
313:	learn: 0.0012460	total: 5.73s	remaining: 12.5s
314:	learn: 0.0012460	total: 5.75s	remaining: 12.5s
315:	learn: 0.0012460	total: 5.77s	remaining: 12.5s
316:	learn: 0.0012460	total: 5.79s	remaining: 12.5s
317:	learn: 0.0012460	total: 5.8s	remaining: 12.4s
318:	learn: 0.0012460	total: 5.82s	remaining: 12.4s
319:	learn: 0.0012460	total: 5.84s	remaining: 12.4s
320:	learn: 0.0012460	total: 5.86s	remaining: 12.4s
321:	learn: 0.0012460	total: 5.87s	remaining: 12.4s
322:	learn: 0.0012459	total: 5.89s	remaining: 12.3s
323:	learn: 0.0012459	total: 5.91s	remaining: 12.3s

324:	learn: 0.0012460	total: 5.92s	remaining: 12.3s
325:	learn: 0.0012459	total: 5.94s	remaining: 12.3s
326:	learn: 0.0012459	total: 5.96s	remaining: 12.3s
327:	learn: 0.0012459	total: 5.98s	remaining: 12.3s
328:	learn: 0.0012459	total: 6s	remaining: 12.2s
329:	learn: 0.0012459	total: 6.01s	remaining: 12.2s
330:	learn: 0.0012459	total: 6.03s	remaining: 12.2s
331:	learn: 0.0012459	total: 6.04s	remaining: 12.2s
332:	learn: 0.0012459	total: 6.06s	remaining: 12.1s
333:	learn: 0.0012458	total: 6.08s	remaining: 12.1s
334:	learn: 0.0012458	total: 6.09s	remaining: 12.1s
335:	learn: 0.0012458	total: 6.11s	remaining: 12.1s
336:	learn: 0.0012458	total: 6.13s	remaining: 12.1s
337:	learn: 0.0012458	total: 6.14s	remaining: 12s
338:	learn: 0.0012458	total: 6.16s	remaining: 12s
339:	learn: 0.0012458	total: 6.17s	remaining: 12s
340:	learn: 0.0012458	total: 6.19s	remaining: 12s
341:	learn: 0.0012458	total: 6.21s	remaining: 11.9s
342:	learn: 0.0012458	total: 6.22s	remaining: 11.9s
343:	learn: 0.0012458	total: 6.24s	remaining: 11.9s
344:	learn: 0.0012458	total: 6.26s	remaining: 11.9s
345:	learn: 0.0012458	total: 6.28s	remaining: 11.9s
346:	learn: 0.0012458	total: 6.29s	remaining: 11.8s
347:	learn: 0.0012458	total: 6.31s	remaining: 11.8s
348:	learn: 0.0012458	total: 6.33s	remaining: 11.8s
349:	learn: 0.0012458	total: 6.34s	remaining: 11.8s
350:	learn: 0.0012458	total: 6.36s	remaining: 11.8s
351:	learn: 0.0012458	total: 6.38s	remaining: 11.7s
352:	learn: 0.0012458	total: 6.39s	remaining: 11.7s
353:	learn: 0.0012458	total: 6.41s	remaining: 11.7s
354:	learn: 0.0012458	total: 6.43s	remaining: 11.7s
355:	learn: 0.0012458	total: 6.44s	remaining: 11.7s
356:	learn: 0.0012458	total: 6.46s	remaining: 11.6s
357:	learn: 0.0012458	total: 6.48s	remaining: 11.6s
358:	learn: 0.0012458	total: 6.5s	remaining: 11.6s
359:	learn: 0.0012457	total: 6.51s	remaining: 11.6s
360:	learn: 0.0012457	total: 6.53s	remaining: 11.6s
361:	learn: 0.0012457	total: 6.55s	remaining: 11.5s
362:	learn: 0.0012457	total: 6.57s	remaining: 11.5s
363:	learn: 0.0012457	total: 6.59s	remaining: 11.5s
364:	learn: 0.0012457	total: 6.6s	remaining: 11.5s
365:	learn: 0.0012457	total: 6.62s	remaining: 11.5s
366:	learn: 0.0012457	total: 6.64s	remaining: 11.5s
367:	learn: 0.0012457	total: 6.66s	remaining: 11.4s
368:	learn: 0.0012457	total: 6.67s	remaining: 11.4s
369:	learn: 0.0012456	total: 6.69s	remaining: 11.4s
370:	learn: 0.0012456	total: 6.71s	remaining: 11.4s
371:	learn: 0.0012455	total: 6.73s	remaining: 11.4s
372:	learn: 0.0012455	total: 6.75s	remaining: 11.3s
373:	learn: 0.0012455	total: 6.77s	remaining: 11.3s
374:	learn: 0.0012455	total: 6.79s	remaining: 11.3s
375:	learn: 0.0012455	total: 6.8s	remaining: 11.3s
376:	learn: 0.0012455	total: 6.82s	remaining: 11.3s
377:	learn: 0.0012455	total: 6.84s	remaining: 11.3s
378:	learn: 0.0012455	total: 6.86s	remaining: 11.2s
379:	learn: 0.0012454	total: 6.87s	remaining: 11.2s
380:	learn: 0.0012454	total: 6.89s	remaining: 11.2s
381:	learn: 0.0012454	total: 6.91s	remaining: 11.2s
382:	learn: 0.0012454	total: 6.92s	remaining: 11.2s
383:	learn: 0.0012454	total: 6.94s	remaining: 11.1s
384:	learn: 0.0012454	total: 6.96s	remaining: 11.1s
385:	learn: 0.0012454	total: 6.98s	remaining: 11.1s
386:	learn: 0.0012454	total: 7s	remaining: 11.1s
387:	learn: 0.0012454	total: 7.02s	remaining: 11.1s
388:	learn: 0.0012454	total: 7.04s	remaining: 11.1s
389:	learn: 0.0012454	total: 7.05s	remaining: 11s
390:	learn: 0.0012454	total: 7.07s	remaining: 11s
391:	learn: 0.0012454	total: 7.08s	remaining: 11s
392:	learn: 0.0012454	total: 7.1s	remaining: 11s
393:	learn: 0.0012454	total: 7.12s	remaining: 11s
394:	learn: 0.0012454	total: 7.14s	remaining: 10.9s
395:	learn: 0.0012453	total: 7.16s	remaining: 10.9s
396:	learn: 0.0012453	total: 7.17s	remaining: 10.9s
397:	learn: 0.0012453	total: 7.19s	remaining: 10.9s
398:	learn: 0.0012453	total: 7.21s	remaining: 10.9s
399:	learn: 0.0012453	total: 7.22s	remaining: 10.8s
400:	learn: 0.0012453	total: 7.24s	remaining: 10.8s
401:	learn: 0.0012453	total: 7.26s	remaining: 10.8s
402:	learn: 0.0012453	total: 7.28s	remaining: 10.8s
403:	learn: 0.0012453	total: 7.29s	remaining: 10.8s
404:	learn: 0.0012453	total: 7.31s	remaining: 10.7s
405:	learn: 0.0012453	total: 7.33s	remaining: 10.7s
406:	learn: 0.0012453	total: 7.35s	remaining: 10.7s
407:	learn: 0.0012453	total: 7.37s	remaining: 10.7s
408:	learn: 0.0012453	total: 7.38s	remaining: 10.7s
409:	learn: 0.0012453	total: 7.4s	remaining: 10.7s
410:	learn: 0.0012453	total: 7.42s	remaining: 10.6s
411:	learn: 0.0012453	total: 7.44s	remaining: 10.6s
412:	learn: 0.0012453	total: 7.45s	remaining: 10.6s
413:	learn: 0.0012453	total: 7.47s	remaining: 10.6s
414:	learn: 0.0012453	total: 7.48s	remaining: 10.6s
415:	learn: 0.0012453	total: 7.5s	remaining: 10.5s
416:	learn: 0.0012453	total: 7.52s	remaining: 10.5s
417:	learn: 0.0012453	total: 7.53s	remaining: 10.5s
418:	learn: 0.0012453	total: 7.55s	remaining: 10.5s
419:	learn: 0.0012453	total: 7.57s	remaining: 10.5s
420:	learn: 0.0012453	total: 7.59s	remaining: 10.4s
421:	learn: 0.0012453	total: 7.62s	remaining: 10.4s
422:	learn: 0.0012452	total: 7.64s	remaining: 10.4s
423:	learn: 0.0012452	total: 7.66s	remaining: 10.4s
424:	learn: 0.0012452	total: 7.68s	remaining: 10.4s
425:	learn: 0.0012452	total: 7.7s	remaining: 10.4s
426:	learn: 0.0012452	total: 7.72s	remaining: 10.4s
427:	learn: 0.0012452	total: 7.73s	remaining: 10.3s
428:	learn: 0.0012452	total: 7.75s	remaining: 10.3s
429:	learn: 0.0012452	total: 7.77s	remaining: 10.3s
430:	learn: 0.0012452	total: 7.79s	remaining: 10.3s
431:	learn: 0.0012452	total: 7.8s	remaining: 10.3s
432:	learn: 0.0012452	total: 7.82s	remaining: 10.2s
433:	learn: 0.0012452	total: 7.84s	remaining: 10.2s
434:	learn: 0.0012452	total: 7.86s	remaining: 10.2s
435:	learn: 0.0012452	total: 7.88s	remaining: 10.2s
436:	learn: 0.0012452	total: 7.89s	remaining: 10.2s
437:	learn: 0.0012452	total: 7.91s	remaining: 10.2s
438:	learn: 0.0012452	total: 7.93s	remaining: 10.1s
439:	learn: 0.0012452	total: 7.95s	remaining: 10.1s
440:	learn: 0.0012452	total: 7.97s	remaining: 10.1s
441:	learn: 0.0012452	total: 7.99s	remaining: 10.1s
442:	learn: 0.0012452	total: 8.02s	remaining: 10.1s
443:	learn: 0.0012452	total: 8.03s	remaining: 10.1s
444:	learn: 0.0012452	total: 8.05s	remaining: 10s
445:	learn: 0.0012452	total: 8.07s	remaining: 10s
446:	learn: 0.0012452	total: 8.09s	remaining: 10s
447:	learn: 0.0012452	total: 8.11s	remaining: 9.99s
448:	learn: 0.0012452	total: 8.13s	remaining: 9.97s
449:	learn: 0.0012452	total: 8.14s	remaining: 9.95s
450:	learn: 0.0012452	total: 8.16s	remaining: 9.93s
451:	learn: 0.0012452	total: 8.18s	remaining: 9.91s
452:	learn: 0.0012452	total: 8.2s	remaining: 9.9s
453:	learn: 0.0012452	total: 8.21s	remaining: 9.88s
454:	learn: 0.0012452	total: 8.23s	remaining: 9.86s
455:	learn: 0.0012452	total: 8.25s	remaining: 9.85s
456:	learn: 0.0012452	total: 8.27s	remaining: 9.83s
457:	learn: 0.0012452	total: 8.29s	remaining: 9.81s
458:	learn: 0.0012452	total: 8.31s	remaining: 9.79s
459:	learn: 0.0012452	total: 8.33s	remaining: 9.78s
460:	learn: 0.0012452	total: 8.35s	remaining: 9.76s
461:	learn: 0.0012452	total: 8.37s	remaining: 9.74s
462:	learn: 0.0012452	total: 8.39s	remaining: 9.73s
463:	learn: 0.0012452	total: 8.41s	remaining: 9.71s
464:	learn: 0.0012452	total: 8.43s	remaining: 9.7s
465:	learn: 0.0012452	total: 8.45s	remaining: 9.68s
466:	learn: 0.0012452	total: 8.47s	remaining: 9.66s
467:	learn: 0.0012452	total: 8.49s	remaining: 9.65s
468:	learn: 0.0012452	total: 8.51s	remaining: 9.63s
469:	learn: 0.0012452	total: 8.53s	remaining: 9.62s
470:	learn: 0.0012452	total: 8.55s	remaining: 9.6s
471:	learn: 0.0012452	total: 8.56s	remaining: 9.58s
472:	learn: 0.0012452	total: 8.58s	remaining: 9.56s
473:	learn: 0.0012452	total: 8.6s	remaining: 9.54s
474:	learn: 0.0012451	total: 8.62s	remaining: 9.53s
475:	learn: 0.0012451	total: 8.64s	remaining: 9.51s
476:	learn: 0.0012451	total: 8.66s	remaining: 9.49s
477:	learn: 0.0012451	total: 8.68s	remaining: 9.48s
478:	learn: 0.0012451	total: 8.7s	remaining: 9.46s
479:	learn: 0.0012451	total: 8.72s	remaining: 9.45s
480:	learn: 0.0012451	total: 8.74s	remaining: 9.43s
481:	learn: 0.0012451	total: 8.76s	remaining: 9.41s
482:	learn: 0.0012451	total: 8.78s	remaining: 9.4s
483:	learn: 0.0012451	total: 8.8s	remaining: 9.38s
484:	learn: 0.0012451	total: 8.82s	remaining: 9.36s
485:	learn: 0.0012451	total: 8.84s	remaining: 9.35s

486:	learn: 0.0012451	total: 8.86s	remaining: 9.33s
487:	learn: 0.0012450	total: 8.88s	remaining: 9.31s
488:	learn: 0.0012450	total: 8.9s	remaining: 9.3s
489:	learn: 0.0012450	total: 8.92s	remaining: 9.28s
490:	learn: 0.0012450	total: 8.94s	remaining: 9.27s
491:	learn: 0.0012450	total: 8.96s	remaining: 9.25s
492:	learn: 0.0012450	total: 8.97s	remaining: 9.23s
493:	learn: 0.0012450	total: 8.99s	remaining: 9.21s
494:	learn: 0.0012450	total: 9.01s	remaining: 9.19s
495:	learn: 0.0012450	total: 9.03s	remaining: 9.17s
496:	learn: 0.0012450	total: 9.04s	remaining: 9.15s
497:	learn: 0.0012450	total: 9.06s	remaining: 9.14s
498:	learn: 0.0012450	total: 9.08s	remaining: 9.12s
499:	learn: 0.0012450	total: 9.1s	remaining: 9.1s
500:	learn: 0.0012450	total: 9.12s	remaining: 9.08s
501:	learn: 0.0012450	total: 9.13s	remaining: 9.06s
502:	learn: 0.0012450	total: 9.15s	remaining: 9.04s
503:	learn: 0.0012449	total: 9.17s	remaining: 9.02s
504:	learn: 0.0012449	total: 9.19s	remaining: 9.01s
505:	learn: 0.0012411	total: 9.21s	remaining: 8.99s
506:	learn: 0.0012411	total: 9.23s	remaining: 8.97s
507:	learn: 0.0012411	total: 9.24s	remaining: 8.95s
508:	learn: 0.0012410	total: 9.27s	remaining: 8.95s
509:	learn: 0.0012410	total: 9.3s	remaining: 8.94s
510:	learn: 0.0012410	total: 9.42s	remaining: 9.01s
511:	learn: 0.0012410	total: 9.53s	remaining: 9.08s
512:	learn: 0.0012410	total: 9.64s	remaining: 9.15s
513:	learn: 0.0012410	total: 9.76s	remaining: 9.23s
514:	learn: 0.0012410	total: 9.88s	remaining: 9.3s
515:	learn: 0.0012410	total: 10s	remaining: 9.4s
516:	learn: 0.0012409	total: 10.1s	remaining: 9.46s
517:	learn: 0.0012409	total: 10.3s	remaining: 9.54s
518:	learn: 0.0012409	total: 10.4s	remaining: 9.62s
519:	learn: 0.0012409	total: 10.5s	remaining: 9.69s
520:	learn: 0.0012409	total: 10.6s	remaining: 9.76s
521:	learn: 0.0012409	total: 10.7s	remaining: 9.82s
522:	learn: 0.0012409	total: 10.8s	remaining: 9.88s
523:	learn: 0.0012408	total: 10.9s	remaining: 9.94s
524:	learn: 0.0012407	total: 11.1s	remaining: 10s
525:	learn: 0.0012407	total: 11.3s	remaining: 10.1s
526:	learn: 0.0012407	total: 11.4s	remaining: 10.2s
527:	learn: 0.0012407	total: 11.5s	remaining: 10.3s
528:	learn: 0.0012407	total: 11.6s	remaining: 10.3s
529:	learn: 0.0012407	total: 11.7s	remaining: 10.4s
530:	learn: 0.0012407	total: 11.8s	remaining: 10.5s
531:	learn: 0.0012407	total: 11.9s	remaining: 10.5s
532:	learn: 0.0012406	total: 12.1s	remaining: 10.6s
533:	learn: 0.0012406	total: 12.2s	remaining: 10.6s
534:	learn: 0.0012406	total: 12.3s	remaining: 10.7s
535:	learn: 0.0012406	total: 12.4s	remaining: 10.7s
536:	learn: 0.0012406	total: 12.5s	remaining: 10.8s
537:	learn: 0.0012406	total: 12.6s	remaining: 10.8s
538:	learn: 0.0012406	total: 12.7s	remaining: 10.9s
539:	learn: 0.0012406	total: 12.8s	remaining: 10.9s
540:	learn: 0.0012406	total: 12.9s	remaining: 11s
541:	learn: 0.0012406	total: 13s	remaining: 11s
542:	learn: 0.0012406	total: 13.2s	remaining: 11.1s
543:	learn: 0.0012406	total: 13.3s	remaining: 11.2s
544:	learn: 0.0012405	total: 13.4s	remaining: 11.2s
545:	learn: 0.0012405	total: 13.6s	remaining: 11.3s
546:	learn: 0.0012405	total: 13.7s	remaining: 11.3s
547:	learn: 0.0012405	total: 13.8s	remaining: 11.4s
548:	learn: 0.0012405	total: 13.9s	remaining: 11.5s
549:	learn: 0.0012405	total: 14.1s	remaining: 11.5s
550:	learn: 0.0012405	total: 14.2s	remaining: 11.6s
551:	learn: 0.0012405	total: 14.3s	remaining: 11.6s
552:	learn: 0.0012404	total: 14.4s	remaining: 11.7s
553:	learn: 0.0012404	total: 14.6s	remaining: 11.7s
554:	learn: 0.0012404	total: 14.7s	remaining: 11.8s
555:	learn: 0.0012403	total: 14.8s	remaining: 11.8s
556:	learn: 0.0012403	total: 14.9s	remaining: 11.9s
557:	learn: 0.0012403	total: 15.1s	remaining: 11.9s
558:	learn: 0.0012403	total: 15.2s	remaining: 12s
559:	learn: 0.0012403	total: 15.3s	remaining: 12s
560:	learn: 0.0012403	total: 15.4s	remaining: 12.1s
561:	learn: 0.0012403	total: 15.5s	remaining: 12.1s
562:	learn: 0.0012403	total: 15.6s	remaining: 12.1s
563:	learn: 0.0012403	total: 15.8s	remaining: 12.2s
564:	learn: 0.0012403	total: 16s	remaining: 12.3s
565:	learn: 0.0012403	total: 16.1s	remaining: 12.4s
566:	learn: 0.0012403	total: 16.2s	remaining: 12.4s
567:	learn: 0.0012403	total: 16.4s	remaining: 12.4s
568:	learn: 0.0012403	total: 16.5s	remaining: 12.5s
569:	learn: 0.0012403	total: 16.6s	remaining: 12.5s
570:	learn: 0.0012403	total: 16.7s	remaining: 12.6s
571:	learn: 0.0012403	total: 16.9s	remaining: 12.6s
572:	learn: 0.0012403	total: 17s	remaining: 12.7s
573:	learn: 0.0012403	total: 17.1s	remaining: 12.7s
574:	learn: 0.0012403	total: 17.3s	remaining: 12.8s
575:	learn: 0.0012402	total: 17.4s	remaining: 12.8s
576:	learn: 0.0012402	total: 17.5s	remaining: 12.8s
577:	learn: 0.0012402	total: 17.6s	remaining: 12.9s
578:	learn: 0.0012402	total: 17.7s	remaining: 12.9s
579:	learn: 0.0012402	total: 17.9s	remaining: 12.9s
580:	learn: 0.0012402	total: 18s	remaining: 13s
581:	learn: 0.0012402	total: 18.1s	remaining: 13s
582:	learn: 0.0012402	total: 18.3s	remaining: 13.1s
583:	learn: 0.0012402	total: 18.4s	remaining: 13.1s
584:	learn: 0.0012402	total: 18.5s	remaining: 13.1s
585:	learn: 0.0012401	total: 18.6s	remaining: 13.2s
586:	learn: 0.0012401	total: 18.8s	remaining: 13.2s
587:	learn: 0.0012401	total: 18.9s	remaining: 13.2s
588:	learn: 0.0012401	total: 19s	remaining: 13.3s
589:	learn: 0.0012401	total: 19.1s	remaining: 13.3s
590:	learn: 0.0012401	total: 19.5s	remaining: 13.5s
591:	learn: 0.0012401	total: 19.6s	remaining: 13.5s
592:	learn: 0.0012401	total: 19.8s	remaining: 13.6s
593:	learn: 0.0012401	total: 19.9s	remaining: 13.6s
594:	learn: 0.0012401	total: 20s	remaining: 13.6s
595:	learn: 0.0012401	total: 20.1s	remaining: 13.7s
596:	learn: 0.0012401	total: 20.3s	remaining: 13.7s
597:	learn: 0.0012401	total: 20.4s	remaining: 13.7s
598:	learn: 0.0012401	total: 20.6s	remaining: 13.8s
599:	learn: 0.0012400	total: 20.7s	remaining: 13.8s
600:	learn: 0.0012400	total: 20.8s	remaining: 13.8s
601:	learn: 0.0012400	total: 21s	remaining: 13.9s
602:	learn: 0.0012400	total: 21.1s	remaining: 13.9s
603:	learn: 0.0012400	total: 21.2s	remaining: 13.9s
604:	learn: 0.0012400	total: 21.3s	remaining: 13.9s
605:	learn: 0.0012400	total: 21.4s	remaining: 13.9s
606:	learn: 0.0012400	total: 21.6s	remaining: 14s
607:	learn: 0.0012399	total: 21.7s	remaining: 14s
608:	learn: 0.0012399	total: 21.8s	remaining: 14s
609:	learn: 0.0012399	total: 22s	remaining: 14s
610:	learn: 0.0012398	total: 22.1s	remaining: 14.1s
611:	learn: 0.0012398	total: 22.2s	remaining: 14.1s
612:	learn: 0.0012398	total: 22.3s	remaining: 14.1s
613:	learn: 0.0012398	total: 22.5s	remaining: 14.1s
614:	learn: 0.0012398	total: 22.6s	remaining: 14.2s
615:	learn: 0.0012397	total: 22.8s	remaining: 14.2s
616:	learn: 0.0012397	total: 22.9s	remaining: 14.2s
617:	learn: 0.0012397	total: 23s	remaining: 14.2s
618:	learn: 0.0012397	total: 23.2s	remaining: 14.3s
619:	learn: 0.0012397	total: 23.4s	remaining: 14.3s
620:	learn: 0.0012397	total: 23.5s	remaining: 14.3s
621:	learn: 0.0012397	total: 23.6s	remaining: 14.4s
622:	learn: 0.0012397	total: 23.8s	remaining: 14.4s
623:	learn: 0.0012397	total: 23.9s	remaining: 14.4s
624:	learn: 0.0012397	total: 24s	remaining: 14.4s
625:	learn: 0.0012397	total: 24.1s	remaining: 14.4s
626:	learn: 0.0012396	total: 24.1s	remaining: 14.4s
627:	learn: 0.0012397	total: 24.2s	remaining: 14.3s
628:	learn: 0.0012396	total: 24.2s	remaining: 14.3s
629:	learn: 0.0012396	total: 24.3s	remaining: 14.3s
630:	learn: 0.0012396	total: 24.3s	remaining: 14.2s
631:	learn: 0.0012396	total: 24.4s	remaining: 14.2s
632:	learn: 0.0012396	total: 24.4s	remaining: 14.1s
633:	learn: 0.0012396	total: 24.4s	remaining: 14.1s
634:	learn: 0.0012395	total: 24.5s	remaining: 14.1s
635:	learn: 0.0012395	total: 24.5s	remaining: 14s
636:	learn: 0.0012395	total: 24.6s	remaining: 14s
637:	learn: 0.0012395	total: 24.6s	remaining: 14s
638:	learn: 0.0012395	total: 24.7s	remaining: 13.9s
639:	learn: 0.0012395	total: 24.7s	remaining: 13.9s
640:	learn: 0.0012394	total: 24.8s	remaining: 13.9s
641:	learn: 0.0012394	total: 24.8s	remaining: 13.8s
642:	learn: 0.0012394	total: 24.9s	remaining: 13.8s
643:	learn: 0.0012394	total: 24.9s	remaining: 13.8s
644:	learn: 0.0012393	total: 25s	remaining: 13.7s
645:	learn: 0.0012393	total: 25s	remaining: 13.7s

646:	learn: 0.0012393	total: 25.1s	remaining: 13.7s
647:	learn: 0.0012393	total: 25.1s	remaining: 13.6s
648:	learn: 0.0012393	total: 25.1s	remaining: 13.6s
649:	learn: 0.0012393	total: 25.2s	remaining: 13.6s
650:	learn: 0.0012393	total: 25.2s	remaining: 13.5s
651:	learn: 0.0012393	total: 25.3s	remaining: 13.5s
652:	learn: 0.0012393	total: 25.3s	remaining: 13.5s
653:	learn: 0.0012393	total: 25.4s	remaining: 13.4s
654:	learn: 0.0012393	total: 25.4s	remaining: 13.4s
655:	learn: 0.0012392	total: 25.4s	remaining: 13.3s
656:	learn: 0.0012392	total: 25.5s	remaining: 13.3s
657:	learn: 0.0012392	total: 25.5s	remaining: 13.3s
658:	learn: 0.0012392	total: 25.6s	remaining: 13.2s
659:	learn: 0.0012392	total: 25.6s	remaining: 13.2s
660:	learn: 0.0012392	total: 25.7s	remaining: 13.2s
661:	learn: 0.0012392	total: 25.7s	remaining: 13.1s
662:	learn: 0.0012392	total: 25.8s	remaining: 13.1s
663:	learn: 0.0012392	total: 25.8s	remaining: 13.1s
664:	learn: 0.0012391	total: 25.8s	remaining: 13s
665:	learn: 0.0012391	total: 25.9s	remaining: 13s
666:	learn: 0.0012391	total: 25.9s	remaining: 12.9s
667:	learn: 0.0012391	total: 26s	remaining: 12.9s
668:	learn: 0.0012350	total: 26s	remaining: 12.9s
669:	learn: 0.0012350	total: 26s	remaining: 12.8s
670:	learn: 0.0012350	total: 26.1s	remaining: 12.8s
671:	learn: 0.0012350	total: 26.1s	remaining: 12.7s
672:	learn: 0.0012350	total: 26.2s	remaining: 12.7s
673:	learn: 0.0012350	total: 26.2s	remaining: 12.7s
674:	learn: 0.0012350	total: 26.2s	remaining: 12.6s
675:	learn: 0.0012350	total: 26.3s	remaining: 12.6s
676:	learn: 0.0012350	total: 26.3s	remaining: 12.6s
677:	learn: 0.0012350	total: 26.4s	remaining: 12.5s
678:	learn: 0.0012350	total: 26.4s	remaining: 12.5s
679:	learn: 0.0012350	total: 26.5s	remaining: 12.4s
680:	learn: 0.0012350	total: 26.5s	remaining: 12.4s
681:	learn: 0.0012350	total: 26.5s	remaining: 12.4s
682:	learn: 0.0012348	total: 26.6s	remaining: 12.3s
683:	learn: 0.0012348	total: 26.6s	remaining: 12.3s
684:	learn: 0.0012348	total: 26.7s	remaining: 12.3s
685:	learn: 0.0012348	total: 26.7s	remaining: 12.2s
686:	learn: 0.0012348	total: 26.7s	remaining: 12.2s
687:	learn: 0.0012348	total: 26.8s	remaining: 12.1s
688:	learn: 0.0012348	total: 26.8s	remaining: 12.1s
689:	learn: 0.0012347	total: 26.9s	remaining: 12.1s
690:	learn: 0.0012347	total: 26.9s	remaining: 12s
691:	learn: 0.0012347	total: 26.9s	remaining: 12s
692:	learn: 0.0012347	total: 27s	remaining: 12s
693:	learn: 0.0012347	total: 27s	remaining: 11.9s
694:	learn: 0.0012347	total: 27.1s	remaining: 11.9s
695:	learn: 0.0012346	total: 27.1s	remaining: 11.8s
696:	learn: 0.0012346	total: 27.1s	remaining: 11.8s
697:	learn: 0.0012346	total: 27.2s	remaining: 11.8s
698:	learn: 0.0012346	total: 27.2s	remaining: 11.7s
699:	learn: 0.0012346	total: 27.3s	remaining: 11.7s
700:	learn: 0.0012346	total: 27.3s	remaining: 11.7s
701:	learn: 0.0012346	total: 27.4s	remaining: 11.6s
702:	learn: 0.0012346	total: 27.4s	remaining: 11.6s
703:	learn: 0.0012345	total: 27.4s	remaining: 11.5s
704:	learn: 0.0012345	total: 27.5s	remaining: 11.5s
705:	learn: 0.0012345	total: 27.5s	remaining: 11.5s
706:	learn: 0.0012345	total: 27.6s	remaining: 11.4s
707:	learn: 0.0012345	total: 27.6s	remaining: 11.4s
708:	learn: 0.0012344	total: 27.7s	remaining: 11.4s
709:	learn: 0.0012344	total: 27.7s	remaining: 11.3s
710:	learn: 0.0012344	total: 27.7s	remaining: 11.3s
711:	learn: 0.0012344	total: 27.8s	remaining: 11.2s
712:	learn: 0.0012344	total: 27.8s	remaining: 11.2s
713:	learn: 0.0012344	total: 27.9s	remaining: 11.2s
714:	learn: 0.0012344	total: 27.9s	remaining: 11.1s
715:	learn: 0.0012344	total: 28s	remaining: 11.1s
716:	learn: 0.0012344	total: 28s	remaining: 11.1s
717:	learn: 0.0012344	total: 28.1s	remaining: 11s
718:	learn: 0.0012344	total: 28.1s	remaining: 11s
719:	learn: 0.0012344	total: 28.2s	remaining: 10.9s
720:	learn: 0.0012344	total: 28.2s	remaining: 10.9s
721:	learn: 0.0012344	total: 28.2s	remaining: 10.9s
722:	learn: 0.0012343	total: 28.3s	remaining: 10.8s
723:	learn: 0.0012343	total: 28.3s	remaining: 10.8s
724:	learn: 0.0012343	total: 28.4s	remaining: 10.8s
725:	learn: 0.0012343	total: 28.4s	remaining: 10.7s
726:	learn: 0.0012275	total: 28.5s	remaining: 10.7s
727:	learn: 0.0012149	total: 28.5s	remaining: 10.7s
728:	learn: 0.0012148	total: 28.6s	remaining: 10.6s
729:	learn: 0.0012148	total: 28.6s	remaining: 10.6s
730:	learn: 0.0012148	total: 28.7s	remaining: 10.5s
731:	learn: 0.0012147	total: 28.7s	remaining: 10.5s
732:	learn: 0.0012147	total: 28.8s	remaining: 10.5s
733:	learn: 0.0012147	total: 28.8s	remaining: 10.4s
734:	learn: 0.0012147	total: 28.8s	remaining: 10.4s
735:	learn: 0.0012147	total: 28.9s	remaining: 10.4s
736:	learn: 0.0012146	total: 28.9s	remaining: 10.3s
737:	learn: 0.0012146	total: 29s	remaining: 10.3s
738:	learn: 0.0012146	total: 29s	remaining: 10.3s
739:	learn: 0.0012146	total: 29.1s	remaining: 10.2s
740:	learn: 0.0012146	total: 29.1s	remaining: 10.2s
741:	learn: 0.0012144	total: 29.2s	remaining: 10.1s
742:	learn: 0.0012144	total: 29.2s	remaining: 10.1s
743:	learn: 0.0012144	total: 29.3s	remaining: 10.1s
744:	learn: 0.0012144	total: 29.3s	remaining: 10s
745:	learn: 0.0012144	total: 29.4s	remaining: 9.99s
746:	learn: 0.0012144	total: 29.4s	remaining: 9.96s
747:	learn: 0.0012144	total: 29.4s	remaining: 9.92s
748:	learn: 0.0012144	total: 29.5s	remaining: 9.88s
749:	learn: 0.0012144	total: 29.5s	remaining: 9.84s
750:	learn: 0.0012144	total: 29.6s	remaining: 9.8s
751:	learn: 0.0012144	total: 29.6s	remaining: 9.77s
752:	learn: 0.0012144	total: 29.7s	remaining: 9.73s
753:	learn: 0.0012144	total: 29.7s	remaining: 9.69s
754:	learn: 0.0012143	total: 29.8s	remaining: 9.65s
755:	learn: 0.0012143	total: 29.8s	remaining: 9.62s
756:	learn: 0.0012143	total: 29.8s	remaining: 9.58s
757:	learn: 0.0012143	total: 29.9s	remaining: 9.54s
758:	learn: 0.0012143	total: 29.9s	remaining: 9.5s
759:	learn: 0.0012143	total: 30s	remaining: 9.46s
760:	learn: 0.0012143	total: 30s	remaining: 9.43s
761:	learn: 0.0012143	total: 30.1s	remaining: 9.39s
762:	learn: 0.0012143	total: 30.1s	remaining: 9.35s
763:	learn: 0.0012143	total: 30.1s	remaining: 9.31s
764:	learn: 0.0012143	total: 30.2s	remaining: 9.27s
765:	learn: 0.0012143	total: 30.2s	remaining: 9.23s
766:	learn: 0.0012143	total: 30.3s	remaining: 9.19s
767:	learn: 0.0012142	total: 30.3s	remaining: 9.15s
768:	learn: 0.0012142	total: 30.4s	remaining: 9.12s
769:	learn: 0.0012142	total: 30.4s	remaining: 9.08s
770:	learn: 0.0012142	total: 30.4s	remaining: 9.04s
771:	learn: 0.0012142	total: 30.5s	remaining: 9.01s
772:	learn: 0.0012142	total: 30.5s	remaining: 8.97s
773:	learn: 0.0012142	total: 30.6s	remaining: 8.93s
774:	learn: 0.0012142	total: 30.6s	remaining: 8.89s
775:	learn: 0.0012142	total: 30.7s	remaining: 8.85s
776:	learn: 0.0012142	total: 30.7s	remaining: 8.81s
777:	learn: 0.0012142	total: 30.8s	remaining: 8.78s
778:	learn: 0.0012142	total: 30.8s	remaining: 8.74s
779:	learn: 0.0012142	total: 30.8s	remaining: 8.7s
780:	learn: 0.0012142	total: 30.9s	remaining: 8.66s
781:	learn: 0.0012142	total: 30.9s	remaining: 8.62s
782:	learn: 0.0012142	total: 31s	remaining: 8.58s
783:	learn: 0.0012142	total: 31s	remaining: 8.54s
784:	learn: 0.0012142	total: 31.1s	remaining: 8.51s
785:	learn: 0.0012142	total: 31.1s	remaining: 8.47s
786:	learn: 0.0012142	total: 31.2s	remaining: 8.43s
787:	learn: 0.0012142	total: 31.2s	remaining: 8.4s
788:	learn: 0.0012142	total: 31.3s	remaining: 8.36s
789:	learn: 0.0012141	total: 31.3s	remaining: 8.32s
790:	learn: 0.0012141	total: 31.4s	remaining: 8.29s
791:	learn: 0.0012141	total: 31.4s	remaining: 8.25s
792:	learn: 0.0012141	total: 31.5s	remaining: 8.21s
793:	learn: 0.0012141	total: 31.5s	remaining: 8.17s
794:	learn: 0.0012141	total: 31.6s	remaining: 8.13s
795:	learn: 0.0012141	total: 31.6s	remaining: 8.1s
796:	learn: 0.0012140	total: 31.6s	remaining: 8.06s
797:	learn: 0.0012140	total: 31.7s	remaining: 8.02s
798:	learn: 0.0012140	total: 31.7s	remaining: 7.99s
799:	learn: 0.0012140	total: 31.8s	remaining: 7.95s
800:	learn: 0.0012140	total: 31.8s	remaining: 7.91s
801:	learn: 0.0012140	total: 31.9s	remaining: 7.87s
802:	learn: 0.0012140	total: 31.9s	remaining: 7.83s
803:	learn: 0.0012140	total: 32s	remaining: 7.8s
804:	learn: 0.0012140	total: 32s	remaining: 7.76s
805:	learn: 0.0012140	total: 32.1s	remaining: 7.72s
806:	learn: 0.0012139	total: 32.1s	remaining: 7.68s
807:	learn: 0.0012139	total: 32.2s	remaining: 7.64s
808:	learn: 0.0012139	total: 32.2s	remaining: 7.6s

809:	learn: 0.0012139	total: 32.2s	remaining: 7.56s
810:	learn: 0.0012139	total: 32.3s	remaining: 7.53s
811:	learn: 0.0012133	total: 32.3s	remaining: 7.49s
812:	learn: 0.0012132	total: 32.4s	remaining: 7.45s
813:	learn: 0.0012132	total: 32.4s	remaining: 7.41s
814:	learn: 0.0012131	total: 32.5s	remaining: 7.38s
815:	learn: 0.0012131	total: 32.5s	remaining: 7.34s
816:	learn: 0.0012131	total: 32.6s	remaining: 7.3s
817:	learn: 0.0012130	total: 32.6s	remaining: 7.26s
818:	learn: 0.0012130	total: 32.7s	remaining: 7.22s
819:	learn: 0.0012033	total: 32.7s	remaining: 7.18s
820:	learn: 0.0012033	total: 32.8s	remaining: 7.14s
821:	learn: 0.0012008	total: 32.8s	remaining: 7.11s
822:	learn: 0.0012008	total: 32.9s	remaining: 7.07s
823:	learn: 0.0012008	total: 32.9s	remaining: 7.03s
824:	learn: 0.0012008	total: 33s	remaining: 6.99s
825:	learn: 0.0012008	total: 33s	remaining: 6.95s
826:	learn: 0.0012008	total: 33s	remaining: 6.91s
827:	learn: 0.0012008	total: 33.1s	remaining: 6.87s
828:	learn: 0.0012008	total: 33.1s	remaining: 6.83s
829:	learn: 0.0012008	total: 33.2s	remaining: 6.8s
830:	learn: 0.0012008	total: 33.2s	remaining: 6.76s
831:	learn: 0.0012007	total: 33.3s	remaining: 6.72s
832:	learn: 0.0012005	total: 33.3s	remaining: 6.68s
833:	learn: 0.0012005	total: 33.4s	remaining: 6.64s
834:	learn: 0.0012004	total: 33.4s	remaining: 6.6s
835:	learn: 0.0012004	total: 33.4s	remaining: 6.56s
836:	learn: 0.0011971	total: 33.5s	remaining: 6.52s
837:	learn: 0.0011971	total: 33.5s	remaining: 6.48s
838:	learn: 0.0011971	total: 33.6s	remaining: 6.44s
839:	learn: 0.0011970	total: 33.6s	remaining: 6.4s
840:	learn: 0.0011970	total: 33.7s	remaining: 6.36s
841:	learn: 0.0011970	total: 33.7s	remaining: 6.32s
842:	learn: 0.0011968	total: 33.7s	remaining: 6.28s
843:	learn: 0.0011968	total: 33.8s	remaining: 6.24s
844:	learn: 0.0011968	total: 33.8s	remaining: 6.21s
845:	learn: 0.0011968	total: 33.9s	remaining: 6.17s
846:	learn: 0.0011968	total: 33.9s	remaining: 6.13s
847:	learn: 0.0011968	total: 34s	remaining: 6.09s
848:	learn: 0.0011967	total: 34s	remaining: 6.05s
849:	learn: 0.0011967	total: 34.1s	remaining: 6.01s
850:	learn: 0.0011967	total: 34.1s	remaining: 5.97s
851:	learn: 0.0011967	total: 34.2s	remaining: 5.93s
852:	learn: 0.0011967	total: 34.2s	remaining: 5.9s
853:	learn: 0.0011967	total: 34.3s	remaining: 5.86s
854:	learn: 0.0011967	total: 34.3s	remaining: 5.82s
855:	learn: 0.0011967	total: 34.4s	remaining: 5.78s
856:	learn: 0.0011967	total: 34.4s	remaining: 5.74s
857:	learn: 0.0011967	total: 34.5s	remaining: 5.7s
858:	learn: 0.0011967	total: 34.5s	remaining: 5.66s
859:	learn: 0.0011967	total: 34.6s	remaining: 5.62s
860:	learn: 0.0011967	total: 34.6s	remaining: 5.58s
861:	learn: 0.0011967	total: 34.6s	remaining: 5.54s
862:	learn: 0.0011967	total: 34.7s	remaining: 5.5s
863:	learn: 0.0011967	total: 34.7s	remaining: 5.47s
864:	learn: 0.0011967	total: 34.8s	remaining: 5.43s
865:	learn: 0.0011967	total: 34.8s	remaining: 5.39s
866:	learn: 0.0011967	total: 34.8s	remaining: 5.34s
867:	learn: 0.0011967	total: 34.9s	remaining: 5.3s
868:	learn: 0.0011967	total: 34.9s	remaining: 5.26s
869:	learn: 0.0011967	total: 35s	remaining: 5.23s
870:	learn: 0.0011965	total: 35s	remaining: 5.19s
871:	learn: 0.0011966	total: 35.1s	remaining: 5.15s
872:	learn: 0.0011965	total: 35.1s	remaining: 5.11s
873:	learn: 0.0011965	total: 35.2s	remaining: 5.07s
874:	learn: 0.0011965	total: 35.2s	remaining: 5.03s
875:	learn: 0.0011965	total: 35.3s	remaining: 4.99s
876:	learn: 0.0011964	total: 35.3s	remaining: 4.95s
877:	learn: 0.0011964	total: 35.3s	remaining: 4.91s
878:	learn: 0.0011964	total: 35.4s	remaining: 4.87s
879:	learn: 0.0011964	total: 35.4s	remaining: 4.83s
880:	learn: 0.0011964	total: 35.5s	remaining: 4.79s
881:	learn: 0.0011964	total: 35.5s	remaining: 4.75s
882:	learn: 0.0011964	total: 35.5s	remaining: 4.71s
883:	learn: 0.0011963	total: 35.6s	remaining: 4.67s
884:	learn: 0.0011963	total: 35.6s	remaining: 4.63s
885:	learn: 0.0011963	total: 35.7s	remaining: 4.59s
886:	learn: 0.0011963	total: 35.7s	remaining: 4.55s
887:	learn: 0.0011963	total: 35.8s	remaining: 4.51s
888:	learn: 0.0011963	total: 35.8s	remaining: 4.47s
889:	learn: 0.0011963	total: 35.8s	remaining: 4.43s
890:	learn: 0.0011963	total: 35.9s	remaining: 4.39s
891:	learn: 0.0011963	total: 35.9s	remaining: 4.35s
892:	learn: 0.0011962	total: 35.9s	remaining: 4.31s
893:	learn: 0.0011962	total: 36s	remaining: 4.27s
894:	learn: 0.0011962	total: 36s	remaining: 4.23s
895:	learn: 0.0011962	total: 36.1s	remaining: 4.19s
896:	learn: 0.0011962	total: 36.1s	remaining: 4.15s
897:	learn: 0.0011962	total: 36.2s	remaining: 4.11s
898:	learn: 0.0011962	total: 36.2s	remaining: 4.07s
899:	learn: 0.0011962	total: 36.3s	remaining: 4.03s
900:	learn: 0.0011961	total: 36.3s	remaining: 3.99s
901:	learn: 0.0011961	total: 36.3s	remaining: 3.95s
902:	learn: 0.0011960	total: 36.4s	remaining: 3.91s
903:	learn: 0.0011960	total: 36.4s	remaining: 3.87s
904:	learn: 0.0011960	total: 36.5s	remaining: 3.83s
905:	learn: 0.0011960	total: 36.5s	remaining: 3.79s
906:	learn: 0.0011960	total: 36.6s	remaining: 3.75s
907:	learn: 0.0011960	total: 36.6s	remaining: 3.71s
908:	learn: 0.0011959	total: 36.6s	remaining: 3.67s
909:	learn: 0.0011959	total: 36.7s	remaining: 3.63s
910:	learn: 0.0011959	total: 36.7s	remaining: 3.59s
911:	learn: 0.0011959	total: 36.8s	remaining: 3.55s
912:	learn: 0.0011959	total: 36.8s	remaining: 3.51s
913:	learn: 0.0011959	total: 36.8s	remaining: 3.47s
914:	learn: 0.0011959	total: 36.9s	remaining: 3.42s
915:	learn: 0.0011959	total: 36.9s	remaining: 3.38s
916:	learn: 0.0011958	total: 37s	remaining: 3.35s
917:	learn: 0.0011958	total: 37s	remaining: 3.31s
918:	learn: 0.0011958	total: 37.1s	remaining: 3.27s
919:	learn: 0.0011958	total: 37.1s	remaining: 3.23s
920:	learn: 0.0011958	total: 37.1s	remaining: 3.19s
921:	learn: 0.0011958	total: 37.2s	remaining: 3.15s
922:	learn: 0.0011958	total: 37.3s	remaining: 3.11s
923:	learn: 0.0011958	total: 37.3s	remaining: 3.07s
924:	learn: 0.0011958	total: 37.3s	remaining: 3.03s
925:	learn: 0.0011958	total: 37.4s	remaining: 2.99s
926:	learn: 0.0011958	total: 37.4s	remaining: 2.95s
927:	learn: 0.0011958	total: 37.5s	remaining: 2.91s
928:	learn: 0.0011957	total: 37.5s	remaining: 2.87s
929:	learn: 0.0011957	total: 37.6s	remaining: 2.83s
930:	learn: 0.0011957	total: 37.6s	remaining: 2.79s
931:	learn: 0.0011957	total: 37.7s	remaining: 2.75s
932:	learn: 0.0011957	total: 37.7s	remaining: 2.71s
933:	learn: 0.0011957	total: 37.7s	remaining: 2.67s
934:	learn: 0.0011957	total: 37.8s	remaining: 2.63s
935:	learn: 0.0011957	total: 37.8s	remaining: 2.59s
936:	learn: 0.0011932	total: 37.9s	remaining: 2.55s
937:	learn: 0.0011932	total: 37.9s	remaining: 2.51s
938:	learn: 0.0011931	total: 38s	remaining: 2.46s
939:	learn: 0.0011931	total: 38s	remaining: 2.42s
940:	learn: 0.0011931	total: 38s	remaining: 2.38s
941:	learn: 0.0011931	total: 38.1s	remaining: 2.34s
942:	learn: 0.0011931	total: 38.1s	remaining: 2.3s
943:	learn: 0.0011931	total: 38.2s	remaining: 2.26s
944:	learn: 0.0011931	total: 38.2s	remaining: 2.22s
945:	learn: 0.0011931	total: 38.2s	remaining: 2.18s
946:	learn: 0.0011930	total: 38.3s	remaining: 2.14s
947:	learn: 0.0011930	total: 38.3s	remaining: 2.1s
948:	learn: 0.0011930	total: 38.4s	remaining: 2.06s
949:	learn: 0.0011930	total: 38.4s	remaining: 2.02s
950:	learn: 0.0011930	total: 38.5s	remaining: 1.98s
951:	learn: 0.0011930	total: 38.5s	remaining: 1.94s
952:	learn: 0.0011930	total: 38.6s	remaining: 1.9s
953:	learn: 0.0011930	total: 38.6s	remaining: 1.86s
954:	learn: 0.0011930	total: 38.6s	remaining: 1.82s
955:	learn: 0.0011930	total: 38.7s	remaining: 1.78s
956:	learn: 0.0011930	total: 38.7s	remaining: 1.74s
957:	learn: 0.0011930	total: 38.8s	remaining: 1.7s
958:	learn: 0.0011929	total: 38.8s	remaining: 1.66s
959:	learn: 0.0011929	total: 38.9s	remaining: 1.62s
960:	learn: 0.0011929	total: 38.9s	remaining: 1.58s
961:	learn: 0.0011929	total: 39s	remaining: 1.54s
962:	learn: 0.0011928	total: 39s	remaining: 1.5s
963:	learn: 0.0011928	total: 39.1s	remaining: 1.46s
964:	learn: 0.0011928	total: 39.1s	remaining: 1.42s
965:	learn: 0.0011928	total: 39.2s	remaining: 1.38s
966:	learn: 0.0011928	total: 39.3s	remaining: 1.34s
967:	learn: 0.0011928	total: 39.3s	remaining: 1.3s
968:	learn: 0.0011928	total: 39.4s	remaining: 1.26s
969:	learn: 0.0011928	total: 39.4s	remaining: 1.22s

970:	learn: 0.0011928	total: 39.5s	remaining: 1.18s
971:	learn: 0.0011928	total: 39.5s	remaining: 1.14s
972:	learn: 0.0011928	total: 39.6s	remaining: 1.1s
973:	learn: 0.0011928	total: 39.6s	remaining: 1.06s
974:	learn: 0.0011928	total: 39.7s	remaining: 1.02s
975:	learn: 0.0011928	total: 39.7s	remaining: 977ms
976:	learn: 0.0011928	total: 39.8s	remaining: 937ms
977:	learn: 0.0011927	total: 39.8s	remaining: 896ms
978:	learn: 0.0011927	total: 39.9s	remaining: 856ms
979:	learn: 0.0011927	total: 39.9s	remaining: 815ms
980:	learn: 0.0011927	total: 40s	remaining: 775ms
981:	learn: 0.0011927	total: 40s	remaining: 734ms
982:	learn: 0.0011926	total: 40.1s	remaining: 693ms
983:	learn: 0.0011926	total: 40.2s	remaining: 653ms
984:	learn: 0.0011926	total: 40.2s	remaining: 612ms
985:	learn: 0.0011926	total: 40.3s	remaining: 572ms
986:	learn: 0.0011926	total: 40.3s	remaining: 531ms
987:	learn: 0.0011925	total: 40.4s	remaining: 490ms
988:	learn: 0.0011925	total: 40.4s	remaining: 450ms
989:	learn: 0.0011925	total: 40.5s	remaining: 409ms
990:	learn: 0.0011925	total: 40.5s	remaining: 368ms
991:	learn: 0.0011925	total: 40.6s	remaining: 327ms
992:	learn: 0.0011925	total: 40.6s	remaining: 286ms
993:	learn: 0.0011924	total: 40.7s	remaining: 246ms
994:	learn: 0.0011924	total: 40.7s	remaining: 205ms
995:	learn: 0.0011924	total: 40.8s	remaining: 164ms
996:	learn: 0.0011924	total: 40.8s	remaining: 123ms
997:	learn: 0.0011924	total: 40.9s	remaining: 82ms
998:	learn: 0.0011924	total: 41s	remaining: 41ms
999:	learn: 0.0011923	total: 41s	remaining: 0us

In [70]:
df = pd.read_csv('Test_Dataset.csv')
df

,EmployeeID,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,6110001,18.0,No,NaN,9.0,CA,Male,80.0,3,2,...,3,1,1,0,17.0,0.0,0.0,0.0,Single,16904.0
1,6110002,20.0,Rarely,Analytics,28.0,Statistics,Female,59.0,1,3,...,1,1,2,1,18.0,2.0,1.0,NaN,Single,18994.0
2,6110003,50.0,Rarely,Analytics,19.0,CA,Female,76.0,3,3,...,5,0,5,1,22.0,18.0,3.0,3.0,M,18587.0
3,6110004,32.0,Rarely,Sales,23.0,Statistics,Female,73.0,5,2,...,3,0,4,1,17.0,5.0,3.0,3.0,Married,20559.0
4,6110005,39.0,Rarely,Analytics,7.0,CA,Male,42.0,4,1,...,5,1,4,0,20.0,9.0,1.0,7.0,Married,24991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.0,Rarely,Sales,12.0,Marketing Diploma,Male,76.0,3,5,...,5,1,5,1,18.0,10.0,1.0,3.0,Married,26761.0
2626,6112627,29.0,Rarely,Analytics,22.0,CA,Male,80.0,4,4,...,5,0,2,0,18.0,7.0,4.0,4.0,Divorsed,19196.0
2627,6112628,44.0,Rarely,Analytics,8.0,CA,F,42.0,4,1,...,1,1,3,0,19.0,24.0,5.0,17.0,Married,25248.0
2628,6112629,NaN,Rarely,Analytics,11.0,Statistics,Female,NaN,4,3,...,4,0,2,0,18.0,2.0,1.0,1.0,Single,17261.0
2629,6112630,50.0,Yes,Analytics,1.0,Statistics,F,73.0,3,4,...,4,1,3,1,24.0,28.0,0.0,7.0,Married,33172.0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmployeeID          2630 non-null   int64
 1   Age                 2488 non-null   float64
 2   TravelProfile       2630 non-null   object
 3   Department          2572 non-null   object
 4   HomeToWork          2504 non-null   float64
 5   EducationField      2630 non-null   object
 6   Gender              2600 non-null   object
 7   HourlnWeek          2494 non-null   float64
 8   Involvement         2630 non-null   int64
 9   WorkLifeBalance     2630 non-null   int64
 10  Designation         2600 non-null   object
 11  JobSatisfaction     2630 non-null   int64
 12  ESOPs               2630 non-null   int64
 13  NumCompaniesWorked  2630 non-null   int64
 14  OverTime            2630 non-null   int64
 15  SalaryHikelastYear  2536 non-null   float64
 16  WorkExperience      2508 non-null   float64
 17  LastPromotion       2573 non-null   float64
 18  CurrentProfile      2496 non-null   float64
 19  MaritalStatus       2630 non-null   object
 20  MonthlyIncome       2597 non-null   float64
dtypes: float64(8), int64(7), object(6)
memory usage: 431.6+ KB

In [72]:
df.isnull().sum()

EmployeeID              0
Age                   142
TravelProfile           0
Department             58
HomeToWork            126
EducationField          0
Gender                 30
HourlnWeek            136
Involvement             0
WorkLifeBalance         0
Designation            30
JobSatisfaction         0
ESOPs                   0
NumCompaniesWorked      0
OverTime                0
SalaryHikelastYear     94
WorkExperience        122
LastPromotion          57
CurrentProfile        134
MaritalStatus           0
MonthlyIncome          33
dtype: int64

In [73]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Department'].fillna(df['Department'].value_counts().index[0],inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)
df['SalaryHikelastYear'].fillna(df['SalaryHikelastYear'].mean(),inplace=True)
df['WorkExperience'].fillna(df['WorkExperience'].mean(),inplace=True)
df['LastPromotion'].fillna(df['LastPromotion'].mean(),inplace=True)
df['CurrentProfile'].fillna(df['CurrentProfile'].mean(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].mean(),inplace=True)

In [74]:
df.isnull().sum()

EmployeeID            0
Age                   0
TravelProfile         0
Department            0
HomeToWork            0
EducationField        0
Gender                0
HourlnWeek            0
Involvement           0
WorkLifeBalance       0
Designation           0
JobSatisfaction       0
ESOPs                 0
NumCompaniesWorked    0
OverTime              0
SalaryHikelastYear    0
WorkExperience        0
LastPromotion         0
CurrentProfile        0
MaritalStatus         0
MonthlyIncome         0
dtype: int64

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmployeeID          2630 non-null   int64
 1   Age                 2630 non-null   float64
 2   TravelProfile       2630 non-null   object
 3   Department          2630 non-null   object
 4   HomeToWork          2630 non-null   float64
 5   EducationField      2630 non-null   object
 6   Gender              2630 non-null   object
 7   HourlnWeek          2630 non-null   float64
 8   Involvement         2630 non-null   int64
 9   WorkLifeBalance     2630 non-null   int64
 10  Designation         2630 non-null   object
 11  JobSatisfaction     2630 non-null   int64
 12  ESOPs               2630 non-null   int64
 13  NumCompaniesWorked  2630 non-null   int64
 14  OverTime            2630 non-null   int64
 15  SalaryHikelastYear  2630 non-null   float64
 16  WorkExperience      2630 non-null   float64
 17  LastPromotion       2630 non-null   float64
 18  CurrentProfile      2630 non-null   float64
 19  MaritalStatus       2630 non-null   object
 20  MonthlyIncome       2630 non-null   float64
dtypes: float64(8), int64(7), object(6)
memory usage: 431.6+ KB

In [76]:
df = pd.get_dummies(df,drop_first=True)
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,EducationField_Statistics,Gender_Female,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,0,0,1,1,0,0,0,0,0,1
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,1,0,1,0,0,0,0,0,1
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,0,1,0,1,0,0,0,1,0,0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,1,1,0,0,1,0,0,0,1,0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,0,1,0,0,1,0,0,1,0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,0,0,1,1,0,0,0,0,0,0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,0,0,1,0,0,1,0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,1,0,1,0,0,0,0,0,1
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,1,0,0,0,0,0,1,0,1,0

In [77]:
df['Attrition2'] = model2.predict(df.drop('EmployeeID',axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Gender_Female,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition2
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,0,1,1,0,0,0,0,0,1,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,0,1,0,0,0,0,0,1,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,1,0,1,0,0,0,1,0,0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,1,0,0,1,0,0,0,1,0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,1,0,0,1,0,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,1,0,0,1,0,0,1,0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,0,1,1,0,0,0,0,0,0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,0,1,0,0,1,0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,0,1,0,0,0,0,0,1,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,0,0,1,0,1,0,0.0

In [78]:
df['Attrition3'] = model3.predict(df.drop(['EmployeeID','Attrition2'],axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition2,Attrition3
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,1,1,0,0,0,0,0,1,1.0,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,0,1,0,0,0,0,0,1,0.0,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,0,1,0,0,0,1,0,0,0.0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,0,0,1,0,0,0,1,0,1.0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,1,0,0,1,0,0,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,1,0,0,1,0,0,1,0,0.0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,1,1,0,0,0,0,0,0,0.0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,1,0,0,1,0,0.0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,0,1,0,0,0,0,0,1,1.0,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,0,1,0,1,0,0.0,0.0

In [79]:
df['Attrition4'] = model4.predict(df.drop(['EmployeeID','Attrition2','Attrition3'],axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition2,Attrition3,Attrition4
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,1,0,0,0,0,0,1,1.0,1.0,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,0,0,0,0,0,1,0.0,0.0,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,1,0,0,0,1,0,0,0.0,0.0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,0,1,0,0,0,1,0,1.0,1.0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,0,1,0,0,1,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,0,1,0,0,1,0,0.0,0.0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,1,0,0,0,0,0,0,0.0,0.0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,1,0,0,1,0,0.0,0.0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,0,0,0,0,0,1,1.0,1.0,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,1,0,1,0,0.0,0.0,0.0

In [80]:
df['Attrition'] = df['Attrition4'].copy()   # random assignment to 'df['Attrition']'

In [81]:
for i in range(0,2630):
    list1=[df['Attrition2'][i],df['Attrition3'][i],df['Attrition4'][i]]
    df['Attrition'][i]=max(set(list1), key=list1.count)

<ipython-input-81-ad05598de68f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Attrition'][i]=max(set(list1), key=list1.count)

In [82]:
df2=df[['EmployeeID','Attrition']]
df2['EmployeeID'] = df2['EmployeeID'].astype('int64')
df2['Attrition'] = df2['Attrition'].astype('int64')
df2

<ipython-input-82-6a5a3b235e5b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['EmployeeID'] = df2['EmployeeID'].astype('int64')
<ipython-input-82-6a5a3b235e5b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Attrition'] = df2['Attrition'].astype('int64')

      EmployeeID  Attrition
0        6110001          1
1        6110002          0
2        6110003          0
3        6110004          1
4        6110005          0
...          ...        ...
2625     6112626          0
2626     6112627          0
2627     6112628          0
2628     6112629          1
2629     6112630          0

[2630 rows x 2 columns]

In [83]:
df = pd.read_csv('Test_Dataset.csv')
df

,EmployeeID,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,6110001,18.0,No,NaN,9.0,CA,Male,80.0,3,2,...,3,1,1,0,17.0,0.0,0.0,0.0,Single,16904.0
1,6110002,20.0,Rarely,Analytics,28.0,Statistics,Female,59.0,1,3,...,1,1,2,1,18.0,2.0,1.0,NaN,Single,18994.0
2,6110003,50.0,Rarely,Analytics,19.0,CA,Female,76.0,3,3,...,5,0,5,1,22.0,18.0,3.0,3.0,M,18587.0
3,6110004,32.0,Rarely,Sales,23.0,Statistics,Female,73.0,5,2,...,3,0,4,1,17.0,5.0,3.0,3.0,Married,20559.0
4,6110005,39.0,Rarely,Analytics,7.0,CA,Male,42.0,4,1,...,5,1,4,0,20.0,9.0,1.0,7.0,Married,24991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.0,Rarely,Sales,12.0,Marketing Diploma,Male,76.0,3,5,...,5,1,5,1,18.0,10.0,1.0,3.0,Married,26761.0
2626,6112627,29.0,Rarely,Analytics,22.0,CA,Male,80.0,4,4,...,5,0,2,0,18.0,7.0,4.0,4.0,Divorsed,19196.0
2627,6112628,44.0,Rarely,Analytics,8.0,CA,F,42.0,4,1,...,1,1,3,0,19.0,24.0,5.0,17.0,Married,25248.0
2628,6112629,NaN,Rarely,Analytics,11.0,Statistics,Female,NaN,4,3,...,4,0,2,0,18.0,2.0,1.0,1.0,Single,17261.0
2629,6112630,50.0,Yes,Analytics,1.0,Statistics,F,73.0,3,4,...,4,1,3,1,24.0,28.0,0.0,7.0,Married,33172.0

In [84]:
df2['EmployeeID'] = df['EmployeeID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  2630 non-null   int64
 1   Attrition   2630 non-null   int64
dtypes: int64(2)
memory usage: 41.2 KB

<ipython-input-84-ede409ad4317>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['EmployeeID'] = df['EmployeeID']

In [85]:
df2.to_csv('file3.csv',index=0)