In [83]:
import pandas as pd
import numpy as np

In [84]:
df = pd.read_csv('Train_Dataset.csv')
df

,EmployeeID,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,5110001.0,0.0,35.0,Rarely,Analytics,5.0,CA,Male,69.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,NaN,M,18932.0
1,5110002.0,1.0,32.0,Yes,Sales,5.0,Statistics,Female,62.0,4.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,NaN,Single,18785.0
2,5110003.0,0.0,31.0,Rarely,Analytics,5.0,Statistics,F,45.0,5.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.0,Single,22091.0
3,5110004.0,0.0,34.0,Yes,Sales,10.0,Statistics,Female,32.0,3.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.0,Divorsed,20302.0
4,5110005.0,0.0,37.0,No,Analytics,27.0,Statistics,Female,49.0,3.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.0,Divorsed,21674.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df.drop('EmployeeID',axis=1,inplace=True)

In [86]:
df.isnull().sum()

Attrition             2630
Age                   2946
TravelProfile         2630
Department            2754
HomeToWork            2885
EducationField        2630
Gender                2676
HourlnWeek            2917
Involvement           2630
WorkLifeBalance       2630
Designation           2668
JobSatisfaction       2630
ESOPs                 2630
NumCompaniesWorked    2630
OverTime              2630
SalaryHikelastYear    2799
WorkExperience        2817
LastPromotion         2700
CurrentProfile        2941
MaritalStatus         2630
MonthlyIncome         2723
dtype: int64

In [87]:
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['Involvement'].fillna(df['Involvement'].mean(),inplace=True)
df['WorkLifeBalance'].fillna(df['WorkLifeBalance'].mean(),inplace=True)
df['JobSatisfaction'].fillna(df['JobSatisfaction'].mean(),inplace=True)
df['ESOPs'].fillna(df['ESOPs'].mean(),inplace=True)
df['NumCompaniesWorked'].fillna(df['NumCompaniesWorked'].mean(),inplace=True)
df['OverTime'].fillna(df['OverTime'].mean(),inplace=True)

df['Age'].fillna(df['Age'].mean(),inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['SalaryHikelastYear'].fillna(df['SalaryHikelastYear'].mean(),inplace=True)
df['WorkExperience'].fillna(df['WorkExperience'].mean(),inplace=True)
df['LastPromotion'].fillna(df['LastPromotion'].mean(),inplace=True)
df['CurrentProfile'].fillna(df['CurrentProfile'].mean(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].mean(),inplace=True)

df['Department'].fillna(df['Department'].value_counts().index[0],inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)
df['TravelProfile'].fillna(df['TravelProfile'].value_counts().index[0],inplace=True)
df['EducationField'].fillna(df['EducationField'].value_counts().index[0],inplace=True)
df['MaritalStatus'].fillna(df['MaritalStatus'].value_counts().index[0],inplace=True)

In [88]:
df.isnull().sum()

Attrition             2630
Age                      0
TravelProfile            0
Department               0
HomeToWork               0
EducationField           0
Gender                   0
HourlnWeek               0
Involvement              0
WorkLifeBalance          0
Designation              0
JobSatisfaction          0
ESOPs                    0
NumCompaniesWorked       0
OverTime                 0
SalaryHikelastYear       0
WorkExperience           0
LastPromotion            0
CurrentProfile           0
MaritalStatus            0
MonthlyIncome            0
dtype: int64

In [89]:
df.dropna(inplace=True)
df

,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,0.0,35.000000,Rarely,Analytics,5.000000,CA,Male,69.0,1.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,4.385295,M,18932.0
1,1.0,32.000000,Yes,Sales,5.000000,Statistics,Female,62.0,4.0,3.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,4.385295,Single,18785.0
2,0.0,31.000000,Rarely,Analytics,5.000000,Statistics,F,45.0,5.0,3.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.000000,Single,22091.0
3,0.0,34.000000,Yes,Sales,10.000000,Statistics,Female,32.0,3.0,2.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.000000,Divorsed,20302.0
4,0.0,37.000000,No,Analytics,27.000000,Statistics,Female,49.0,3.0,4.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.000000,Divorsed,21674.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5175,0.0,36.000000,Rarely,Analytics,13.000000,CA,F,53.0,3.0,3.0,...,3.0,0.0,4.0,1.0,22.0,11.0,1.0,5.000000,Single,22142.0
5176,0.0,37.108553,Rarely,Marketing,9.000000,CA,Female,66.0,1.0,4.0,...,4.0,1.0,9.0,0.0,23.0,8.0,0.0,2.000000,Single,17109.0
5177,0.0,29.000000,Rarely,Analytics,11.107411,CA,Female,62.0,4.0,2.0,...,1.0,1.0,6.0,0.0,19.0,8.0,0.0,3.000000,M,17532.0
5178,0.0,26.000000,Rarely,Marketing,26.000000,Statistics,Female,61.0,3.0,4.0,...,3.0,0.0,1.0,0.0,28.0,8.0,5.0,7.000000,Divorsed,17942.0
5179,1.0,37.108553,Yes,Sales,13.000000,Statistics,Male,74.0,4.0,3.0,...,5.0,1.0,1.0,0.0,23.0,1.0,0.0,0.000000,Divorsed,17033.0

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5180 entries, 0 to 5179
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Attrition           5180 non-null   float64
 1   Age                 5180 non-null   float64
 2   TravelProfile       5180 non-null   object
 3   Department          5180 non-null   object
 4   HomeToWork          5180 non-null   float64
 5   EducationField      5180 non-null   object
 6   Gender              5180 non-null   object
 7   HourlnWeek          5180 non-null   float64
 8   Involvement         5180 non-null   float64
 9   WorkLifeBalance     5180 non-null   float64
 10  Designation         5180 non-null   object
 11  JobSatisfaction     5180 non-null   float64
 12  ESOPs               5180 non-null   float64
 13  NumCompaniesWorked  5180 non-null   float64
 14  OverTime            5180 non-null   float64
 15  SalaryHikelastYear  5180 non-null   float64
 16  WorkExperience      5180 non-null   float64
 17  LastPromotion       5180 non-null   float64
 18  CurrentProfile      5180 non-null   float64
 19  MaritalStatus       5180 non-null   object
 20  MonthlyIncome       5180 non-null   float64
dtypes: float64(15), object(6)
memory usage: 890.3+ KB

In [91]:
df = pd.get_dummies(df,drop_first=True)
X = df.drop('Attrition', axis=1)

y = df['Attrition']

In [92]:
from xgboost import XGBClassifier
clf = XGBClassifier(random_state=1)
model1=clf.fit(X,y)

C:\Users\Jitu\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[14:21:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [93]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1)
model2=clf.fit(X,y)

In [94]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier(random_state=1,learning_rate=0.37,max_depth=10)   # learning_rate= 0.36, 0.38 give same result
model4=clf.fit(X,y)

0:	learn: 0.4849512	total: 50.3ms	remaining: 50.3s
1:	learn: 0.3246552	total: 72.9ms	remaining: 36.4s
2:	learn: 0.2477524	total: 90.5ms	remaining: 30.1s
3:	learn: 0.1963869	total: 108ms	remaining: 27s
4:	learn: 0.1703078	total: 127ms	remaining: 25.3s
5:	learn: 0.1515276	total: 147ms	remaining: 24.3s
6:	learn: 0.1203647	total: 166ms	remaining: 23.5s
7:	learn: 0.1041380	total: 183ms	remaining: 22.7s
8:	learn: 0.0921568	total: 202ms	remaining: 22.2s
9:	learn: 0.0835633	total: 220ms	remaining: 21.8s
10:	learn: 0.0781238	total: 238ms	remaining: 21.4s
11:	learn: 0.0735482	total: 258ms	remaining: 21.2s
12:	learn: 0.0643485	total: 276ms	remaining: 20.9s
13:	learn: 0.0565456	total: 294ms	remaining: 20.7s
14:	learn: 0.0498239	total: 311ms	remaining: 20.4s
15:	learn: 0.0456866	total: 329ms	remaining: 20.3s
16:	learn: 0.0428686	total: 351ms	remaining: 20.3s
17:	learn: 0.0394839	total: 370ms	remaining: 20.2s
18:	learn: 0.0361318	total: 387ms	remaining: 20s
19:	learn: 0.0339366	total: 405ms	remaining: 19.8s
20:	learn: 0.0315582	total: 424ms	remaining: 19.7s
21:	learn: 0.0284288	total: 442ms	remaining: 19.6s
22:	learn: 0.0268890	total: 462ms	remaining: 19.6s
23:	learn: 0.0244625	total: 480ms	remaining: 19.5s
24:	learn: 0.0226865	total: 498ms	remaining: 19.4s
25:	learn: 0.0208805	total: 516ms	remaining: 19.3s
26:	learn: 0.0202127	total: 534ms	remaining: 19.2s
27:	learn: 0.0191341	total: 552ms	remaining: 19.2s
28:	learn: 0.0184072	total: 569ms	remaining: 19.1s
29:	learn: 0.0179301	total: 588ms	remaining: 19s
30:	learn: 0.0169501	total: 605ms	remaining: 18.9s
31:	learn: 0.0158414	total: 623ms	remaining: 18.8s
32:	learn: 0.0148224	total: 640ms	remaining: 18.8s
33:	learn: 0.0139526	total: 658ms	remaining: 18.7s
34:	learn: 0.0131866	total: 693ms	remaining: 19.1s
35:	learn: 0.0123364	total: 710ms	remaining: 19s
36:	learn: 0.0116365	total: 729ms	remaining: 19s
37:	learn: 0.0112495	total: 747ms	remaining: 18.9s
38:	learn: 0.0109020	total: 765ms	remaining: 18.9s
39:	learn: 0.0105694	total: 783ms	remaining: 18.8s
40:	learn: 0.0102887	total: 801ms	remaining: 18.7s
41:	learn: 0.0098886	total: 819ms	remaining: 18.7s
42:	learn: 0.0094331	total: 836ms	remaining: 18.6s
43:	learn: 0.0089567	total: 854ms	remaining: 18.6s
44:	learn: 0.0085146	total: 872ms	remaining: 18.5s
45:	learn: 0.0081257	total: 890ms	remaining: 18.5s
46:	learn: 0.0078182	total: 911ms	remaining: 18.5s
47:	learn: 0.0075491	total: 930ms	remaining: 18.5s
48:	learn: 0.0072659	total: 948ms	remaining: 18.4s
49:	learn: 0.0070574	total: 980ms	remaining: 18.6s
50:	learn: 0.0068711	total: 998ms	remaining: 18.6s
51:	learn: 0.0065723	total: 1.01s	remaining: 18.5s
52:	learn: 0.0063465	total: 1.03s	remaining: 18.5s
53:	learn: 0.0061301	total: 1.05s	remaining: 18.4s
54:	learn: 0.0059437	total: 1.07s	remaining: 18.4s
55:	learn: 0.0057518	total: 1.09s	remaining: 18.3s
56:	learn: 0.0055887	total: 1.1s	remaining: 18.3s
57:	learn: 0.0054419	total: 1.12s	remaining: 18.2s
58:	learn: 0.0053296	total: 1.14s	remaining: 18.2s
59:	learn: 0.0052202	total: 1.16s	remaining: 18.1s
60:	learn: 0.0050868	total: 1.18s	remaining: 18.1s
61:	learn: 0.0049681	total: 1.2s	remaining: 18.1s
62:	learn: 0.0048583	total: 1.22s	remaining: 18.1s
63:	learn: 0.0047231	total: 1.24s	remaining: 18.1s
64:	learn: 0.0045995	total: 1.26s	remaining: 18.1s
65:	learn: 0.0044960	total: 1.28s	remaining: 18.1s
66:	learn: 0.0043750	total: 1.3s	remaining: 18.1s
67:	learn: 0.0043075	total: 1.32s	remaining: 18.1s
68:	learn: 0.0042113	total: 1.34s	remaining: 18s
69:	learn: 0.0041216	total: 1.36s	remaining: 18s
70:	learn: 0.0040241	total: 1.37s	remaining: 18s
71:	learn: 0.0039257	total: 1.4s	remaining: 18s
72:	learn: 0.0038475	total: 1.42s	remaining: 18s
73:	learn: 0.0037522	total: 1.44s	remaining: 18s
74:	learn: 0.0036611	total: 1.46s	remaining: 18s
75:	learn: 0.0035820	total: 1.48s	remaining: 17.9s
76:	learn: 0.0035224	total: 1.49s	remaining: 17.9s
77:	learn: 0.0034559	total: 1.51s	remaining: 17.9s
78:	learn: 0.0033895	total: 1.53s	remaining: 17.9s
79:	learn: 0.0033393	total: 1.55s	remaining: 17.9s
80:	learn: 0.0032705	total: 1.57s	remaining: 17.8s
81:	learn: 0.0032114	total: 1.59s	remaining: 17.8s
82:	learn: 0.0031460	total: 1.61s	remaining: 17.8s
83:	learn: 0.0030854	total: 1.63s	remaining: 17.8s
84:	learn: 0.0030399	total: 1.65s	remaining: 17.7s
85:	learn: 0.0029921	total: 1.67s	remaining: 17.7s
86:	learn: 0.0029346	total: 1.69s	remaining: 17.7s
87:	learn: 0.0029016	total: 1.71s	remaining: 17.7s
88:	learn: 0.0028675	total: 1.73s	remaining: 17.7s
89:	learn: 0.0028321	total: 1.75s	remaining: 17.7s
90:	learn: 0.0027833	total: 1.76s	remaining: 17.6s
91:	learn: 0.0027513	total: 1.78s	remaining: 17.6s
92:	learn: 0.0027098	total: 1.8s	remaining: 17.6s
93:	learn: 0.0026739	total: 1.82s	remaining: 17.6s
94:	learn: 0.0026332	total: 1.84s	remaining: 17.6s
95:	learn: 0.0025944	total: 1.86s	remaining: 17.6s
96:	learn: 0.0025426	total: 1.88s	remaining: 17.5s
97:	learn: 0.0025171	total: 1.9s	remaining: 17.5s
98:	learn: 0.0024882	total: 1.93s	remaining: 17.5s
99:	learn: 0.0024465	total: 1.95s	remaining: 17.5s
100:	learn: 0.0024101	total: 1.97s	remaining: 17.5s
101:	learn: 0.0023802	total: 1.98s	remaining: 17.5s
102:	learn: 0.0023494	total: 2s	remaining: 17.4s
103:	learn: 0.0023188	total: 2.02s	remaining: 17.4s
104:	learn: 0.0022871	total: 2.04s	remaining: 17.4s
105:	learn: 0.0022564	total: 2.06s	remaining: 17.4s
106:	learn: 0.0022256	total: 2.08s	remaining: 17.4s
107:	learn: 0.0021908	total: 2.1s	remaining: 17.4s
108:	learn: 0.0021607	total: 2.13s	remaining: 17.4s
109:	learn: 0.0021322	total: 2.15s	remaining: 17.4s
110:	learn: 0.0021036	total: 2.17s	remaining: 17.4s
111:	learn: 0.0020765	total: 2.19s	remaining: 17.3s
112:	learn: 0.0020503	total: 2.21s	remaining: 17.3s
113:	learn: 0.0020282	total: 2.23s	remaining: 17.3s
114:	learn: 0.0020282	total: 2.25s	remaining: 17.3s
115:	learn: 0.0020085	total: 2.27s	remaining: 17.3s
116:	learn: 0.0019927	total: 2.28s	remaining: 17.2s
117:	learn: 0.0019682	total: 2.3s	remaining: 17.2s
118:	learn: 0.0019404	total: 2.32s	remaining: 17.2s
119:	learn: 0.0019172	total: 2.34s	remaining: 17.2s
120:	learn: 0.0018873	total: 2.36s	remaining: 17.1s
121:	learn: 0.0018873	total: 2.38s	remaining: 17.1s
122:	learn: 0.0018710	total: 2.39s	remaining: 17.1s
123:	learn: 0.0018591	total: 2.41s	remaining: 17s
124:	learn: 0.0018591	total: 2.43s	remaining: 17s
125:	learn: 0.0018590	total: 2.44s	remaining: 17s
126:	learn: 0.0018590	total: 2.46s	remaining: 16.9s
127:	learn: 0.0018407	total: 2.48s	remaining: 16.9s
128:	learn: 0.0018246	total: 2.5s	remaining: 16.9s
129:	learn: 0.0018045	total: 2.52s	remaining: 16.9s
130:	learn: 0.0017831	total: 2.54s	remaining: 16.8s
131:	learn: 0.0017832	total: 2.56s	remaining: 16.8s
132:	learn: 0.0017627	total: 2.57s	remaining: 16.8s
133:	learn: 0.0017481	total: 2.59s	remaining: 16.8s
134:	learn: 0.0017328	total: 2.61s	remaining: 16.7s
135:	learn: 0.0017058	total: 2.63s	remaining: 16.7s
136:	learn: 0.0017058	total: 2.65s	remaining: 16.7s
137:	learn: 0.0017058	total: 2.67s	remaining: 16.7s
138:	learn: 0.0017058	total: 2.69s	remaining: 16.7s
139:	learn: 0.0017058	total: 2.71s	remaining: 16.7s
140:	learn: 0.0017058	total: 2.73s	remaining: 16.6s
141:	learn: 0.0017058	total: 2.75s	remaining: 16.6s
142:	learn: 0.0017058	total: 2.77s	remaining: 16.6s
143:	learn: 0.0017058	total: 2.79s	remaining: 16.6s
144:	learn: 0.0017058	total: 2.81s	remaining: 16.5s
145:	learn: 0.0016881	total: 2.83s	remaining: 16.5s
146:	learn: 0.0016881	total: 2.85s	remaining: 16.5s
147:	learn: 0.0016725	total: 2.87s	remaining: 16.5s
148:	learn: 0.0016489	total: 2.89s	remaining: 16.5s
149:	learn: 0.0016254	total: 2.91s	remaining: 16.5s
150:	learn: 0.0016094	total: 2.94s	remaining: 16.5s
151:	learn: 0.0015980	total: 2.96s	remaining: 16.5s
152:	learn: 0.0015813	total: 2.98s	remaining: 16.5s
153:	learn: 0.0015812	total: 3s	remaining: 16.5s
154:	learn: 0.0015813	total: 3.01s	remaining: 16.4s
155:	learn: 0.0015610	total: 3.03s	remaining: 16.4s
156:	learn: 0.0015609	total: 3.05s	remaining: 16.4s
157:	learn: 0.0015609	total: 3.06s	remaining: 16.3s
158:	learn: 0.0015609	total: 3.08s	remaining: 16.3s
159:	learn: 0.0015609	total: 3.09s	remaining: 16.2s
160:	learn: 0.0015608	total: 3.11s	remaining: 16.2s
161:	learn: 0.0015608	total: 3.13s	remaining: 16.2s
162:	learn: 0.0015608	total: 3.17s	remaining: 16.3s
163:	learn: 0.0015608	total: 3.19s	remaining: 16.3s
164:	learn: 0.0015608	total: 3.21s	remaining: 16.2s
165:	learn: 0.0015608	total: 3.23s	remaining: 16.2s
166:	learn: 0.0015476	total: 3.25s	remaining: 16.2s
167:	learn: 0.0015335	total: 3.28s	remaining: 16.3s

168:	learn: 0.0015189	total: 3.31s	remaining: 16.3s
169:	learn: 0.0015189	total: 3.33s	remaining: 16.3s
170:	learn: 0.0015189	total: 3.35s	remaining: 16.2s
171:	learn: 0.0015189	total: 3.37s	remaining: 16.2s
172:	learn: 0.0015189	total: 3.39s	remaining: 16.2s
173:	learn: 0.0015189	total: 3.41s	remaining: 16.2s
174:	learn: 0.0015189	total: 3.42s	remaining: 16.1s
175:	learn: 0.0015188	total: 3.44s	remaining: 16.1s
176:	learn: 0.0015188	total: 3.46s	remaining: 16.1s
177:	learn: 0.0015188	total: 3.47s	remaining: 16s
178:	learn: 0.0015188	total: 3.49s	remaining: 16s
179:	learn: 0.0015188	total: 3.51s	remaining: 16s
180:	learn: 0.0015188	total: 3.53s	remaining: 16s
181:	learn: 0.0015187	total: 3.55s	remaining: 16s
182:	learn: 0.0015010	total: 3.57s	remaining: 15.9s
183:	learn: 0.0014880	total: 3.59s	remaining: 15.9s
184:	learn: 0.0014710	total: 3.61s	remaining: 15.9s
185:	learn: 0.0014710	total: 3.63s	remaining: 15.9s
186:	learn: 0.0014710	total: 3.66s	remaining: 15.9s
187:	learn: 0.0014577	total: 3.68s	remaining: 15.9s
188:	learn: 0.0014577	total: 3.7s	remaining: 15.9s
189:	learn: 0.0014462	total: 3.72s	remaining: 15.9s
190:	learn: 0.0014462	total: 3.74s	remaining: 15.8s
191:	learn: 0.0014462	total: 3.76s	remaining: 15.8s
192:	learn: 0.0014305	total: 3.78s	remaining: 15.8s
193:	learn: 0.0014305	total: 3.8s	remaining: 15.8s
194:	learn: 0.0014305	total: 3.82s	remaining: 15.8s
195:	learn: 0.0014181	total: 3.84s	remaining: 15.8s
196:	learn: 0.0014062	total: 3.87s	remaining: 15.8s
197:	learn: 0.0013927	total: 3.89s	remaining: 15.7s
198:	learn: 0.0013927	total: 3.91s	remaining: 15.7s
199:	learn: 0.0013788	total: 3.93s	remaining: 15.7s
200:	learn: 0.0013761	total: 3.95s	remaining: 15.7s
201:	learn: 0.0013761	total: 3.97s	remaining: 15.7s
202:	learn: 0.0013660	total: 3.99s	remaining: 15.7s
203:	learn: 0.0013641	total: 4.01s	remaining: 15.6s
204:	learn: 0.0013499	total: 4.04s	remaining: 15.7s
205:	learn: 0.0013391	total: 4.06s	remaining: 15.7s
206:	learn: 0.0013236	total: 4.08s	remaining: 15.7s
207:	learn: 0.0013096	total: 4.11s	remaining: 15.6s
208:	learn: 0.0013095	total: 4.13s	remaining: 15.6s
209:	learn: 0.0013095	total: 4.15s	remaining: 15.6s
210:	learn: 0.0013093	total: 4.17s	remaining: 15.6s
211:	learn: 0.0013093	total: 4.2s	remaining: 15.6s
212:	learn: 0.0013092	total: 4.22s	remaining: 15.6s
213:	learn: 0.0013092	total: 4.24s	remaining: 15.6s
214:	learn: 0.0012975	total: 4.26s	remaining: 15.6s
215:	learn: 0.0012975	total: 4.28s	remaining: 15.5s
216:	learn: 0.0012871	total: 4.3s	remaining: 15.5s
217:	learn: 0.0012871	total: 4.32s	remaining: 15.5s
218:	learn: 0.0012871	total: 4.34s	remaining: 15.5s
219:	learn: 0.0012748	total: 4.37s	remaining: 15.5s
220:	learn: 0.0012651	total: 4.39s	remaining: 15.5s
221:	learn: 0.0012649	total: 4.41s	remaining: 15.4s
222:	learn: 0.0012649	total: 4.43s	remaining: 15.4s
223:	learn: 0.0012610	total: 4.45s	remaining: 15.4s
224:	learn: 0.0012498	total: 4.47s	remaining: 15.4s
225:	learn: 0.0012496	total: 4.49s	remaining: 15.4s
226:	learn: 0.0012496	total: 4.51s	remaining: 15.4s
227:	learn: 0.0012496	total: 4.53s	remaining: 15.3s
228:	learn: 0.0012495	total: 4.55s	remaining: 15.3s
229:	learn: 0.0012495	total: 4.57s	remaining: 15.3s
230:	learn: 0.0012495	total: 4.58s	remaining: 15.3s
231:	learn: 0.0012495	total: 4.6s	remaining: 15.2s
232:	learn: 0.0012495	total: 4.62s	remaining: 15.2s
233:	learn: 0.0012495	total: 4.63s	remaining: 15.2s
234:	learn: 0.0012495	total: 4.65s	remaining: 15.1s
235:	learn: 0.0012495	total: 4.67s	remaining: 15.1s
236:	learn: 0.0012495	total: 4.68s	remaining: 15.1s
237:	learn: 0.0012495	total: 4.7s	remaining: 15.1s
238:	learn: 0.0012495	total: 4.72s	remaining: 15s
239:	learn: 0.0012495	total: 4.74s	remaining: 15s
240:	learn: 0.0012495	total: 4.76s	remaining: 15s
241:	learn: 0.0012495	total: 4.77s	remaining: 15s
242:	learn: 0.0012495	total: 4.79s	remaining: 14.9s
243:	learn: 0.0012495	total: 4.81s	remaining: 14.9s
244:	learn: 0.0012495	total: 4.83s	remaining: 14.9s
245:	learn: 0.0012463	total: 4.84s	remaining: 14.8s
246:	learn: 0.0012463	total: 4.86s	remaining: 14.8s
247:	learn: 0.0012463	total: 4.88s	remaining: 14.8s
248:	learn: 0.0012463	total: 4.9s	remaining: 14.8s
249:	learn: 0.0012463	total: 4.91s	remaining: 14.7s
250:	learn: 0.0012463	total: 4.93s	remaining: 14.7s
251:	learn: 0.0012463	total: 4.95s	remaining: 14.7s
252:	learn: 0.0012463	total: 4.97s	remaining: 14.7s
253:	learn: 0.0012463	total: 4.99s	remaining: 14.6s
254:	learn: 0.0012463	total: 5.01s	remaining: 14.6s
255:	learn: 0.0012463	total: 5.03s	remaining: 14.6s
256:	learn: 0.0012463	total: 5.05s	remaining: 14.6s
257:	learn: 0.0012463	total: 5.06s	remaining: 14.6s
258:	learn: 0.0012463	total: 5.08s	remaining: 14.5s
259:	learn: 0.0012462	total: 5.1s	remaining: 14.5s
260:	learn: 0.0012462	total: 5.12s	remaining: 14.5s
261:	learn: 0.0012462	total: 5.13s	remaining: 14.5s
262:	learn: 0.0012462	total: 5.16s	remaining: 14.4s
263:	learn: 0.0012462	total: 5.17s	remaining: 14.4s
264:	learn: 0.0012462	total: 5.2s	remaining: 14.4s
265:	learn: 0.0012462	total: 5.21s	remaining: 14.4s
266:	learn: 0.0012462	total: 5.23s	remaining: 14.4s
267:	learn: 0.0012462	total: 5.25s	remaining: 14.3s
268:	learn: 0.0012462	total: 5.27s	remaining: 14.3s
269:	learn: 0.0012462	total: 5.29s	remaining: 14.3s
270:	learn: 0.0012462	total: 5.3s	remaining: 14.3s
271:	learn: 0.0012462	total: 5.32s	remaining: 14.2s
272:	learn: 0.0012462	total: 5.34s	remaining: 14.2s
273:	learn: 0.0012462	total: 5.36s	remaining: 14.2s
274:	learn: 0.0012462	total: 5.38s	remaining: 14.2s
275:	learn: 0.0012461	total: 5.4s	remaining: 14.2s
276:	learn: 0.0012461	total: 5.42s	remaining: 14.1s
277:	learn: 0.0012461	total: 5.43s	remaining: 14.1s
278:	learn: 0.0012461	total: 5.45s	remaining: 14.1s
279:	learn: 0.0012461	total: 5.47s	remaining: 14.1s
280:	learn: 0.0012461	total: 5.48s	remaining: 14s
281:	learn: 0.0012461	total: 5.5s	remaining: 14s
282:	learn: 0.0012461	total: 5.52s	remaining: 14s
283:	learn: 0.0012461	total: 5.54s	remaining: 14s
284:	learn: 0.0012461	total: 5.55s	remaining: 13.9s
285:	learn: 0.0012461	total: 5.57s	remaining: 13.9s
286:	learn: 0.0012461	total: 5.59s	remaining: 13.9s
287:	learn: 0.0012461	total: 5.6s	remaining: 13.9s
288:	learn: 0.0012461	total: 5.62s	remaining: 13.8s
289:	learn: 0.0012461	total: 5.64s	remaining: 13.8s
290:	learn: 0.0012461	total: 5.66s	remaining: 13.8s
291:	learn: 0.0012461	total: 5.68s	remaining: 13.8s
292:	learn: 0.0012461	total: 5.7s	remaining: 13.7s
293:	learn: 0.0012461	total: 5.71s	remaining: 13.7s
294:	learn: 0.0012461	total: 5.73s	remaining: 13.7s
295:	learn: 0.0012461	total: 5.75s	remaining: 13.7s
296:	learn: 0.0012461	total: 5.77s	remaining: 13.7s
297:	learn: 0.0012461	total: 5.79s	remaining: 13.6s
298:	learn: 0.0012461	total: 5.81s	remaining: 13.6s
299:	learn: 0.0012461	total: 5.83s	remaining: 13.6s
300:	learn: 0.0012461	total: 5.85s	remaining: 13.6s
301:	learn: 0.0012461	total: 5.87s	remaining: 13.6s
302:	learn: 0.0012461	total: 5.89s	remaining: 13.5s
303:	learn: 0.0012461	total: 5.91s	remaining: 13.5s
304:	learn: 0.0012461	total: 5.92s	remaining: 13.5s
305:	learn: 0.0012461	total: 5.95s	remaining: 13.5s
306:	learn: 0.0012461	total: 5.97s	remaining: 13.5s
307:	learn: 0.0012461	total: 6s	remaining: 13.5s
308:	learn: 0.0012461	total: 6.02s	remaining: 13.5s
309:	learn: 0.0012461	total: 6.04s	remaining: 13.4s
310:	learn: 0.0012460	total: 6.07s	remaining: 13.4s
311:	learn: 0.0012460	total: 6.09s	remaining: 13.4s
312:	learn: 0.0012460	total: 6.12s	remaining: 13.4s
313:	learn: 0.0012460	total: 6.15s	remaining: 13.4s
314:	learn: 0.0012460	total: 6.17s	remaining: 13.4s
315:	learn: 0.0012460	total: 6.19s	remaining: 13.4s
316:	learn: 0.0012460	total: 6.21s	remaining: 13.4s
317:	learn: 0.0012460	total: 6.23s	remaining: 13.4s
318:	learn: 0.0012460	total: 6.26s	remaining: 13.4s
319:	learn: 0.0012460	total: 6.28s	remaining: 13.3s
320:	learn: 0.0012460	total: 6.3s	remaining: 13.3s
321:	learn: 0.0012460	total: 6.32s	remaining: 13.3s
322:	learn: 0.0012459	total: 6.34s	remaining: 13.3s
323:	learn: 0.0012459	total: 6.36s	remaining: 13.3s
324:	learn: 0.0012460	total: 6.38s	remaining: 13.3s
325:	learn: 0.0012459	total: 6.41s	remaining: 13.2s
326:	learn: 0.0012459	total: 6.43s	remaining: 13.2s
327:	learn: 0.0012459	total: 6.45s	remaining: 13.2s
328:	learn: 0.0012459	total: 6.47s	remaining: 13.2s
329:	learn: 0.0012459	total: 6.49s	remaining: 13.2s
330:	learn: 0.0012459	total: 6.51s	remaining: 13.2s
331:	learn: 0.0012459	total: 6.53s	remaining: 13.1s
332:	learn: 0.0012459	total: 6.55s	remaining: 13.1s
333:	learn: 0.0012458	total: 6.58s	remaining: 13.1s
334:	learn: 0.0012458	total: 6.59s	remaining: 13.1s

335:	learn: 0.0012458	total: 6.62s	remaining: 13.1s
336:	learn: 0.0012458	total: 6.64s	remaining: 13.1s
337:	learn: 0.0012458	total: 6.66s	remaining: 13s
338:	learn: 0.0012458	total: 6.68s	remaining: 13s
339:	learn: 0.0012458	total: 6.7s	remaining: 13s
340:	learn: 0.0012458	total: 6.72s	remaining: 13s
341:	learn: 0.0012458	total: 6.74s	remaining: 13s
342:	learn: 0.0012458	total: 6.76s	remaining: 12.9s
343:	learn: 0.0012458	total: 6.78s	remaining: 12.9s
344:	learn: 0.0012458	total: 6.79s	remaining: 12.9s
345:	learn: 0.0012458	total: 6.81s	remaining: 12.9s
346:	learn: 0.0012458	total: 6.83s	remaining: 12.9s
347:	learn: 0.0012458	total: 6.86s	remaining: 12.8s
348:	learn: 0.0012458	total: 6.88s	remaining: 12.8s
349:	learn: 0.0012458	total: 6.9s	remaining: 12.8s
350:	learn: 0.0012458	total: 6.92s	remaining: 12.8s
351:	learn: 0.0012458	total: 6.94s	remaining: 12.8s
352:	learn: 0.0012458	total: 6.96s	remaining: 12.8s
353:	learn: 0.0012458	total: 6.98s	remaining: 12.7s
354:	learn: 0.0012458	total: 7s	remaining: 12.7s
355:	learn: 0.0012458	total: 7.04s	remaining: 12.7s
356:	learn: 0.0012458	total: 7.06s	remaining: 12.7s
357:	learn: 0.0012458	total: 7.08s	remaining: 12.7s
358:	learn: 0.0012458	total: 7.1s	remaining: 12.7s
359:	learn: 0.0012457	total: 7.13s	remaining: 12.7s
360:	learn: 0.0012457	total: 7.15s	remaining: 12.7s
361:	learn: 0.0012457	total: 7.17s	remaining: 12.6s
362:	learn: 0.0012457	total: 7.2s	remaining: 12.6s
363:	learn: 0.0012457	total: 7.22s	remaining: 12.6s
364:	learn: 0.0012457	total: 7.24s	remaining: 12.6s
365:	learn: 0.0012457	total: 7.26s	remaining: 12.6s
366:	learn: 0.0012457	total: 7.28s	remaining: 12.6s
367:	learn: 0.0012457	total: 7.3s	remaining: 12.5s
368:	learn: 0.0012457	total: 7.32s	remaining: 12.5s
369:	learn: 0.0012456	total: 7.35s	remaining: 12.5s
370:	learn: 0.0012456	total: 7.39s	remaining: 12.5s
371:	learn: 0.0012455	total: 7.41s	remaining: 12.5s
372:	learn: 0.0012455	total: 7.44s	remaining: 12.5s
373:	learn: 0.0012455	total: 7.47s	remaining: 12.5s
374:	learn: 0.0012455	total: 7.49s	remaining: 12.5s
375:	learn: 0.0012455	total: 7.52s	remaining: 12.5s
376:	learn: 0.0012455	total: 7.54s	remaining: 12.5s
377:	learn: 0.0012455	total: 7.56s	remaining: 12.4s
378:	learn: 0.0012455	total: 7.58s	remaining: 12.4s
379:	learn: 0.0012454	total: 7.6s	remaining: 12.4s
380:	learn: 0.0012454	total: 7.63s	remaining: 12.4s
381:	learn: 0.0012454	total: 7.65s	remaining: 12.4s
382:	learn: 0.0012454	total: 7.67s	remaining: 12.4s
383:	learn: 0.0012454	total: 7.7s	remaining: 12.3s
384:	learn: 0.0012454	total: 7.72s	remaining: 12.3s
385:	learn: 0.0012454	total: 7.74s	remaining: 12.3s
386:	learn: 0.0012454	total: 7.75s	remaining: 12.3s
387:	learn: 0.0012454	total: 7.77s	remaining: 12.3s
388:	learn: 0.0012454	total: 7.79s	remaining: 12.2s
389:	learn: 0.0012454	total: 7.81s	remaining: 12.2s
390:	learn: 0.0012454	total: 7.83s	remaining: 12.2s
391:	learn: 0.0012454	total: 7.85s	remaining: 12.2s
392:	learn: 0.0012454	total: 7.87s	remaining: 12.2s
393:	learn: 0.0012454	total: 7.89s	remaining: 12.1s
394:	learn: 0.0012454	total: 7.91s	remaining: 12.1s
395:	learn: 0.0012453	total: 7.93s	remaining: 12.1s
396:	learn: 0.0012453	total: 7.95s	remaining: 12.1s
397:	learn: 0.0012453	total: 7.97s	remaining: 12.1s
398:	learn: 0.0012453	total: 7.99s	remaining: 12s
399:	learn: 0.0012453	total: 8.01s	remaining: 12s
400:	learn: 0.0012453	total: 8.03s	remaining: 12s
401:	learn: 0.0012453	total: 8.05s	remaining: 12s
402:	learn: 0.0012453	total: 8.07s	remaining: 12s
403:	learn: 0.0012453	total: 8.1s	remaining: 11.9s
404:	learn: 0.0012453	total: 8.12s	remaining: 11.9s
405:	learn: 0.0012453	total: 8.15s	remaining: 11.9s
406:	learn: 0.0012453	total: 8.17s	remaining: 11.9s
407:	learn: 0.0012453	total: 8.19s	remaining: 11.9s
408:	learn: 0.0012453	total: 8.21s	remaining: 11.9s
409:	learn: 0.0012453	total: 8.23s	remaining: 11.8s
410:	learn: 0.0012453	total: 8.25s	remaining: 11.8s
411:	learn: 0.0012453	total: 8.27s	remaining: 11.8s
412:	learn: 0.0012453	total: 8.29s	remaining: 11.8s
413:	learn: 0.0012453	total: 8.31s	remaining: 11.8s
414:	learn: 0.0012453	total: 8.33s	remaining: 11.7s
415:	learn: 0.0012453	total: 8.35s	remaining: 11.7s
416:	learn: 0.0012453	total: 8.37s	remaining: 11.7s
417:	learn: 0.0012453	total: 8.39s	remaining: 11.7s
418:	learn: 0.0012453	total: 8.41s	remaining: 11.7s
419:	learn: 0.0012453	total: 8.43s	remaining: 11.6s
420:	learn: 0.0012453	total: 8.45s	remaining: 11.6s
421:	learn: 0.0012453	total: 8.47s	remaining: 11.6s
422:	learn: 0.0012452	total: 8.49s	remaining: 11.6s
423:	learn: 0.0012452	total: 8.51s	remaining: 11.6s
424:	learn: 0.0012452	total: 8.53s	remaining: 11.5s
425:	learn: 0.0012452	total: 8.55s	remaining: 11.5s
426:	learn: 0.0012452	total: 8.57s	remaining: 11.5s
427:	learn: 0.0012452	total: 8.6s	remaining: 11.5s
428:	learn: 0.0012452	total: 8.61s	remaining: 11.5s
429:	learn: 0.0012452	total: 8.63s	remaining: 11.4s
430:	learn: 0.0012452	total: 8.66s	remaining: 11.4s
431:	learn: 0.0012452	total: 8.68s	remaining: 11.4s
432:	learn: 0.0012452	total: 8.7s	remaining: 11.4s
433:	learn: 0.0012452	total: 8.72s	remaining: 11.4s
434:	learn: 0.0012452	total: 8.74s	remaining: 11.4s
435:	learn: 0.0012452	total: 8.76s	remaining: 11.3s
436:	learn: 0.0012452	total: 8.78s	remaining: 11.3s
437:	learn: 0.0012452	total: 8.8s	remaining: 11.3s
438:	learn: 0.0012452	total: 8.83s	remaining: 11.3s
439:	learn: 0.0012452	total: 8.85s	remaining: 11.3s
440:	learn: 0.0012452	total: 8.87s	remaining: 11.2s
441:	learn: 0.0012452	total: 8.89s	remaining: 11.2s
442:	learn: 0.0012452	total: 8.91s	remaining: 11.2s
443:	learn: 0.0012452	total: 8.93s	remaining: 11.2s
444:	learn: 0.0012452	total: 8.95s	remaining: 11.2s
445:	learn: 0.0012452	total: 8.96s	remaining: 11.1s
446:	learn: 0.0012452	total: 8.98s	remaining: 11.1s
447:	learn: 0.0012452	total: 9s	remaining: 11.1s
448:	learn: 0.0012452	total: 9.02s	remaining: 11.1s
449:	learn: 0.0012452	total: 9.04s	remaining: 11s
450:	learn: 0.0012452	total: 9.06s	remaining: 11s
451:	learn: 0.0012452	total: 9.07s	remaining: 11s
452:	learn: 0.0012452	total: 9.09s	remaining: 11s
453:	learn: 0.0012452	total: 9.11s	remaining: 11s
454:	learn: 0.0012452	total: 9.13s	remaining: 10.9s
455:	learn: 0.0012452	total: 9.14s	remaining: 10.9s
456:	learn: 0.0012452	total: 9.16s	remaining: 10.9s
457:	learn: 0.0012452	total: 9.18s	remaining: 10.9s
458:	learn: 0.0012452	total: 9.2s	remaining: 10.8s
459:	learn: 0.0012452	total: 9.21s	remaining: 10.8s
460:	learn: 0.0012452	total: 9.23s	remaining: 10.8s
461:	learn: 0.0012452	total: 9.25s	remaining: 10.8s
462:	learn: 0.0012452	total: 9.27s	remaining: 10.7s
463:	learn: 0.0012452	total: 9.29s	remaining: 10.7s
464:	learn: 0.0012452	total: 9.3s	remaining: 10.7s
465:	learn: 0.0012452	total: 9.32s	remaining: 10.7s
466:	learn: 0.0012452	total: 9.34s	remaining: 10.7s
467:	learn: 0.0012452	total: 9.36s	remaining: 10.6s
468:	learn: 0.0012452	total: 9.38s	remaining: 10.6s
469:	learn: 0.0012452	total: 9.4s	remaining: 10.6s
470:	learn: 0.0012452	total: 9.42s	remaining: 10.6s
471:	learn: 0.0012452	total: 9.44s	remaining: 10.6s
472:	learn: 0.0012452	total: 9.46s	remaining: 10.5s
473:	learn: 0.0012452	total: 9.48s	remaining: 10.5s
474:	learn: 0.0012451	total: 9.5s	remaining: 10.5s
475:	learn: 0.0012451	total: 9.52s	remaining: 10.5s
476:	learn: 0.0012451	total: 9.54s	remaining: 10.5s
477:	learn: 0.0012451	total: 9.55s	remaining: 10.4s
478:	learn: 0.0012451	total: 9.57s	remaining: 10.4s
479:	learn: 0.0012451	total: 9.59s	remaining: 10.4s
480:	learn: 0.0012451	total: 9.6s	remaining: 10.4s
481:	learn: 0.0012451	total: 9.62s	remaining: 10.3s
482:	learn: 0.0012451	total: 9.64s	remaining: 10.3s
483:	learn: 0.0012451	total: 9.65s	remaining: 10.3s
484:	learn: 0.0012451	total: 9.67s	remaining: 10.3s
485:	learn: 0.0012451	total: 9.69s	remaining: 10.2s
486:	learn: 0.0012451	total: 9.71s	remaining: 10.2s
487:	learn: 0.0012450	total: 9.72s	remaining: 10.2s
488:	learn: 0.0012450	total: 9.74s	remaining: 10.2s
489:	learn: 0.0012450	total: 9.76s	remaining: 10.2s
490:	learn: 0.0012450	total: 9.78s	remaining: 10.1s
491:	learn: 0.0012450	total: 9.79s	remaining: 10.1s
492:	learn: 0.0012450	total: 9.81s	remaining: 10.1s
493:	learn: 0.0012450	total: 9.83s	remaining: 10.1s
494:	learn: 0.0012450	total: 9.85s	remaining: 10s
495:	learn: 0.0012450	total: 9.87s	remaining: 10s
496:	learn: 0.0012450	total: 9.89s	remaining: 10s

497:	learn: 0.0012450	total: 9.91s	remaining: 9.99s
498:	learn: 0.0012450	total: 9.93s	remaining: 9.97s
499:	learn: 0.0012450	total: 9.95s	remaining: 9.95s
500:	learn: 0.0012450	total: 9.97s	remaining: 9.93s
501:	learn: 0.0012450	total: 9.98s	remaining: 9.9s
502:	learn: 0.0012450	total: 10s	remaining: 9.88s
503:	learn: 0.0012449	total: 10s	remaining: 9.86s
504:	learn: 0.0012449	total: 10s	remaining: 9.84s
505:	learn: 0.0012411	total: 10.1s	remaining: 9.82s
506:	learn: 0.0012411	total: 10.1s	remaining: 9.79s
507:	learn: 0.0012411	total: 10.1s	remaining: 9.77s
508:	learn: 0.0012410	total: 10.1s	remaining: 9.75s
509:	learn: 0.0012410	total: 10.1s	remaining: 9.73s
510:	learn: 0.0012410	total: 10.1s	remaining: 9.7s
511:	learn: 0.0012410	total: 10.2s	remaining: 9.68s
512:	learn: 0.0012410	total: 10.2s	remaining: 9.66s
513:	learn: 0.0012410	total: 10.2s	remaining: 9.63s
514:	learn: 0.0012410	total: 10.2s	remaining: 9.61s
515:	learn: 0.0012410	total: 10.2s	remaining: 9.59s
516:	learn: 0.0012409	total: 10.2s	remaining: 9.57s
517:	learn: 0.0012409	total: 10.3s	remaining: 9.54s
518:	learn: 0.0012409	total: 10.3s	remaining: 9.52s
519:	learn: 0.0012409	total: 10.3s	remaining: 9.5s
520:	learn: 0.0012409	total: 10.3s	remaining: 9.48s
521:	learn: 0.0012409	total: 10.3s	remaining: 9.46s
522:	learn: 0.0012409	total: 10.3s	remaining: 9.44s
523:	learn: 0.0012408	total: 10.4s	remaining: 9.42s
524:	learn: 0.0012407	total: 10.4s	remaining: 9.4s
525:	learn: 0.0012407	total: 10.4s	remaining: 9.38s
526:	learn: 0.0012407	total: 10.4s	remaining: 9.36s
527:	learn: 0.0012407	total: 10.4s	remaining: 9.34s
528:	learn: 0.0012407	total: 10.5s	remaining: 9.32s
529:	learn: 0.0012407	total: 10.5s	remaining: 9.3s
530:	learn: 0.0012407	total: 10.5s	remaining: 9.28s
531:	learn: 0.0012407	total: 10.5s	remaining: 9.26s
532:	learn: 0.0012406	total: 10.5s	remaining: 9.24s
533:	learn: 0.0012406	total: 10.6s	remaining: 9.22s
534:	learn: 0.0012406	total: 10.6s	remaining: 9.2s
535:	learn: 0.0012406	total: 10.6s	remaining: 9.18s
536:	learn: 0.0012406	total: 10.6s	remaining: 9.15s
537:	learn: 0.0012406	total: 10.6s	remaining: 9.13s
538:	learn: 0.0012406	total: 10.7s	remaining: 9.11s
539:	learn: 0.0012406	total: 10.7s	remaining: 9.09s
540:	learn: 0.0012406	total: 10.7s	remaining: 9.07s
541:	learn: 0.0012406	total: 10.7s	remaining: 9.05s
542:	learn: 0.0012406	total: 10.7s	remaining: 9.02s
543:	learn: 0.0012406	total: 10.7s	remaining: 9s
544:	learn: 0.0012405	total: 10.8s	remaining: 8.98s
545:	learn: 0.0012405	total: 10.8s	remaining: 8.96s
546:	learn: 0.0012405	total: 10.8s	remaining: 8.94s
547:	learn: 0.0012405	total: 10.8s	remaining: 8.91s
548:	learn: 0.0012405	total: 10.8s	remaining: 8.89s
549:	learn: 0.0012405	total: 10.8s	remaining: 8.87s
550:	learn: 0.0012405	total: 10.9s	remaining: 8.85s
551:	learn: 0.0012405	total: 10.9s	remaining: 8.83s
552:	learn: 0.0012404	total: 10.9s	remaining: 8.81s
553:	learn: 0.0012404	total: 10.9s	remaining: 8.79s
554:	learn: 0.0012404	total: 10.9s	remaining: 8.78s
555:	learn: 0.0012403	total: 11s	remaining: 8.76s
556:	learn: 0.0012403	total: 11s	remaining: 8.73s
557:	learn: 0.0012403	total: 11s	remaining: 8.72s
558:	learn: 0.0012403	total: 11s	remaining: 8.7s
559:	learn: 0.0012403	total: 11s	remaining: 8.68s
560:	learn: 0.0012403	total: 11.1s	remaining: 8.65s
561:	learn: 0.0012403	total: 11.1s	remaining: 8.63s
562:	learn: 0.0012403	total: 11.1s	remaining: 8.61s
563:	learn: 0.0012403	total: 11.1s	remaining: 8.59s
564:	learn: 0.0012403	total: 11.1s	remaining: 8.56s
565:	learn: 0.0012403	total: 11.1s	remaining: 8.54s
566:	learn: 0.0012403	total: 11.2s	remaining: 8.52s
567:	learn: 0.0012403	total: 11.2s	remaining: 8.5s
568:	learn: 0.0012403	total: 11.2s	remaining: 8.48s
569:	learn: 0.0012403	total: 11.2s	remaining: 8.46s
570:	learn: 0.0012403	total: 11.2s	remaining: 8.43s
571:	learn: 0.0012403	total: 11.2s	remaining: 8.41s
572:	learn: 0.0012403	total: 11.3s	remaining: 8.39s
573:	learn: 0.0012403	total: 11.3s	remaining: 8.37s
574:	learn: 0.0012403	total: 11.3s	remaining: 8.35s
575:	learn: 0.0012402	total: 11.3s	remaining: 8.32s
576:	learn: 0.0012402	total: 11.3s	remaining: 8.3s
577:	learn: 0.0012402	total: 11.3s	remaining: 8.28s
578:	learn: 0.0012402	total: 11.4s	remaining: 8.26s
579:	learn: 0.0012402	total: 11.4s	remaining: 8.24s
580:	learn: 0.0012402	total: 11.4s	remaining: 8.22s
581:	learn: 0.0012402	total: 11.4s	remaining: 8.2s
582:	learn: 0.0012402	total: 11.4s	remaining: 8.17s
583:	learn: 0.0012402	total: 11.4s	remaining: 8.15s
584:	learn: 0.0012402	total: 11.5s	remaining: 8.13s
585:	learn: 0.0012401	total: 11.5s	remaining: 8.11s
586:	learn: 0.0012401	total: 11.5s	remaining: 8.09s
587:	learn: 0.0012401	total: 11.5s	remaining: 8.06s
588:	learn: 0.0012401	total: 11.5s	remaining: 8.04s
589:	learn: 0.0012401	total: 11.5s	remaining: 8.02s
590:	learn: 0.0012401	total: 11.6s	remaining: 8s
591:	learn: 0.0012401	total: 11.6s	remaining: 7.98s
592:	learn: 0.0012401	total: 11.6s	remaining: 7.96s
593:	learn: 0.0012401	total: 11.6s	remaining: 7.94s
594:	learn: 0.0012401	total: 11.6s	remaining: 7.92s
595:	learn: 0.0012401	total: 11.6s	remaining: 7.9s
596:	learn: 0.0012401	total: 11.7s	remaining: 7.88s
597:	learn: 0.0012401	total: 11.7s	remaining: 7.86s
598:	learn: 0.0012401	total: 11.7s	remaining: 7.84s
599:	learn: 0.0012400	total: 11.7s	remaining: 7.82s
600:	learn: 0.0012400	total: 11.7s	remaining: 7.8s
601:	learn: 0.0012400	total: 11.8s	remaining: 7.78s
602:	learn: 0.0012400	total: 11.8s	remaining: 7.76s
603:	learn: 0.0012400	total: 11.8s	remaining: 7.74s
604:	learn: 0.0012400	total: 11.8s	remaining: 7.72s
605:	learn: 0.0012400	total: 11.8s	remaining: 7.7s
606:	learn: 0.0012400	total: 11.9s	remaining: 7.68s
607:	learn: 0.0012399	total: 11.9s	remaining: 7.66s
608:	learn: 0.0012399	total: 11.9s	remaining: 7.64s
609:	learn: 0.0012399	total: 11.9s	remaining: 7.62s
610:	learn: 0.0012398	total: 11.9s	remaining: 7.6s
611:	learn: 0.0012398	total: 12s	remaining: 7.58s
612:	learn: 0.0012398	total: 12s	remaining: 7.56s
613:	learn: 0.0012398	total: 12s	remaining: 7.54s
614:	learn: 0.0012398	total: 12s	remaining: 7.52s
615:	learn: 0.0012397	total: 12s	remaining: 7.5s
616:	learn: 0.0012397	total: 12s	remaining: 7.48s
617:	learn: 0.0012397	total: 12.1s	remaining: 7.46s
618:	learn: 0.0012397	total: 12.1s	remaining: 7.44s
619:	learn: 0.0012397	total: 12.1s	remaining: 7.42s
620:	learn: 0.0012397	total: 12.1s	remaining: 7.39s
621:	learn: 0.0012397	total: 12.1s	remaining: 7.37s
622:	learn: 0.0012397	total: 12.2s	remaining: 7.35s
623:	learn: 0.0012397	total: 12.2s	remaining: 7.33s
624:	learn: 0.0012397	total: 12.2s	remaining: 7.31s
625:	learn: 0.0012397	total: 12.2s	remaining: 7.29s
626:	learn: 0.0012396	total: 12.2s	remaining: 7.27s
627:	learn: 0.0012397	total: 12.2s	remaining: 7.25s
628:	learn: 0.0012396	total: 12.3s	remaining: 7.23s
629:	learn: 0.0012396	total: 12.3s	remaining: 7.21s
630:	learn: 0.0012396	total: 12.3s	remaining: 7.18s
631:	learn: 0.0012396	total: 12.3s	remaining: 7.16s
632:	learn: 0.0012396	total: 12.3s	remaining: 7.14s
633:	learn: 0.0012396	total: 12.3s	remaining: 7.12s
634:	learn: 0.0012395	total: 12.4s	remaining: 7.1s
635:	learn: 0.0012395	total: 12.4s	remaining: 7.08s
636:	learn: 0.0012395	total: 12.4s	remaining: 7.06s
637:	learn: 0.0012395	total: 12.4s	remaining: 7.04s
638:	learn: 0.0012395	total: 12.4s	remaining: 7.02s
639:	learn: 0.0012395	total: 12.4s	remaining: 7s
640:	learn: 0.0012394	total: 12.5s	remaining: 6.98s
641:	learn: 0.0012394	total: 12.5s	remaining: 6.96s
642:	learn: 0.0012394	total: 12.5s	remaining: 6.94s
643:	learn: 0.0012394	total: 12.5s	remaining: 6.92s
644:	learn: 0.0012393	total: 12.5s	remaining: 6.9s
645:	learn: 0.0012393	total: 12.6s	remaining: 6.88s
646:	learn: 0.0012393	total: 12.6s	remaining: 6.86s
647:	learn: 0.0012393	total: 12.6s	remaining: 6.84s
648:	learn: 0.0012393	total: 12.6s	remaining: 6.82s
649:	learn: 0.0012393	total: 12.6s	remaining: 6.8s
650:	learn: 0.0012393	total: 12.7s	remaining: 6.78s
651:	learn: 0.0012393	total: 12.7s	remaining: 6.76s
652:	learn: 0.0012393	total: 12.7s	remaining: 6.74s
653:	learn: 0.0012393	total: 12.7s	remaining: 6.72s
654:	learn: 0.0012393	total: 12.7s	remaining: 6.71s
655:	learn: 0.0012392	total: 12.8s	remaining: 6.69s

656:	learn: 0.0012392	total: 12.8s	remaining: 6.67s
657:	learn: 0.0012392	total: 12.8s	remaining: 6.65s
658:	learn: 0.0012392	total: 12.8s	remaining: 6.63s
659:	learn: 0.0012392	total: 12.8s	remaining: 6.61s
660:	learn: 0.0012392	total: 12.8s	remaining: 6.59s
661:	learn: 0.0012392	total: 12.9s	remaining: 6.57s
662:	learn: 0.0012392	total: 12.9s	remaining: 6.54s
663:	learn: 0.0012392	total: 12.9s	remaining: 6.52s
664:	learn: 0.0012391	total: 12.9s	remaining: 6.5s
665:	learn: 0.0012391	total: 12.9s	remaining: 6.48s
666:	learn: 0.0012391	total: 12.9s	remaining: 6.46s
667:	learn: 0.0012391	total: 13s	remaining: 6.44s
668:	learn: 0.0012350	total: 13s	remaining: 6.42s
669:	learn: 0.0012350	total: 13s	remaining: 6.4s
670:	learn: 0.0012350	total: 13s	remaining: 6.38s
671:	learn: 0.0012350	total: 13s	remaining: 6.36s
672:	learn: 0.0012350	total: 13.1s	remaining: 6.34s
673:	learn: 0.0012350	total: 13.1s	remaining: 6.32s
674:	learn: 0.0012350	total: 13.1s	remaining: 6.3s
675:	learn: 0.0012350	total: 13.1s	remaining: 6.28s
676:	learn: 0.0012350	total: 13.1s	remaining: 6.26s
677:	learn: 0.0012350	total: 13.1s	remaining: 6.24s
678:	learn: 0.0012350	total: 13.2s	remaining: 6.22s
679:	learn: 0.0012350	total: 13.2s	remaining: 6.2s
680:	learn: 0.0012350	total: 13.2s	remaining: 6.18s
681:	learn: 0.0012350	total: 13.2s	remaining: 6.16s
682:	learn: 0.0012348	total: 13.2s	remaining: 6.14s
683:	learn: 0.0012348	total: 13.2s	remaining: 6.12s
684:	learn: 0.0012348	total: 13.3s	remaining: 6.1s
685:	learn: 0.0012348	total: 13.3s	remaining: 6.08s
686:	learn: 0.0012348	total: 13.3s	remaining: 6.06s
687:	learn: 0.0012348	total: 13.3s	remaining: 6.04s
688:	learn: 0.0012348	total: 13.3s	remaining: 6.01s
689:	learn: 0.0012347	total: 13.3s	remaining: 6s
690:	learn: 0.0012347	total: 13.4s	remaining: 5.97s
691:	learn: 0.0012347	total: 13.4s	remaining: 5.96s
692:	learn: 0.0012347	total: 13.4s	remaining: 5.93s
693:	learn: 0.0012347	total: 13.4s	remaining: 5.91s
694:	learn: 0.0012347	total: 13.4s	remaining: 5.89s
695:	learn: 0.0012346	total: 13.4s	remaining: 5.87s
696:	learn: 0.0012346	total: 13.5s	remaining: 5.85s
697:	learn: 0.0012346	total: 13.5s	remaining: 5.83s
698:	learn: 0.0012346	total: 13.5s	remaining: 5.81s
699:	learn: 0.0012346	total: 13.5s	remaining: 5.79s
700:	learn: 0.0012346	total: 13.5s	remaining: 5.77s
701:	learn: 0.0012346	total: 13.6s	remaining: 5.75s
702:	learn: 0.0012346	total: 13.6s	remaining: 5.73s
703:	learn: 0.0012345	total: 13.6s	remaining: 5.71s
704:	learn: 0.0012345	total: 13.6s	remaining: 5.69s
705:	learn: 0.0012345	total: 13.6s	remaining: 5.67s
706:	learn: 0.0012345	total: 13.6s	remaining: 5.65s
707:	learn: 0.0012345	total: 13.7s	remaining: 5.63s
708:	learn: 0.0012344	total: 13.7s	remaining: 5.61s
709:	learn: 0.0012344	total: 13.7s	remaining: 5.59s
710:	learn: 0.0012344	total: 13.7s	remaining: 5.57s
711:	learn: 0.0012344	total: 13.7s	remaining: 5.55s
712:	learn: 0.0012344	total: 13.7s	remaining: 5.53s
713:	learn: 0.0012344	total: 13.8s	remaining: 5.51s
714:	learn: 0.0012344	total: 13.8s	remaining: 5.49s
715:	learn: 0.0012344	total: 13.8s	remaining: 5.47s
716:	learn: 0.0012344	total: 13.8s	remaining: 5.45s
717:	learn: 0.0012344	total: 13.8s	remaining: 5.43s
718:	learn: 0.0012344	total: 13.8s	remaining: 5.41s
719:	learn: 0.0012344	total: 13.9s	remaining: 5.39s
720:	learn: 0.0012344	total: 13.9s	remaining: 5.37s
721:	learn: 0.0012344	total: 13.9s	remaining: 5.35s
722:	learn: 0.0012343	total: 13.9s	remaining: 5.33s
723:	learn: 0.0012343	total: 13.9s	remaining: 5.31s
724:	learn: 0.0012343	total: 13.9s	remaining: 5.29s
725:	learn: 0.0012343	total: 14s	remaining: 5.27s
726:	learn: 0.0012275	total: 14s	remaining: 5.25s
727:	learn: 0.0012149	total: 14s	remaining: 5.23s
728:	learn: 0.0012148	total: 14s	remaining: 5.21s
729:	learn: 0.0012148	total: 14s	remaining: 5.19s
730:	learn: 0.0012148	total: 14.1s	remaining: 5.17s
731:	learn: 0.0012147	total: 14.1s	remaining: 5.15s
732:	learn: 0.0012147	total: 14.1s	remaining: 5.13s
733:	learn: 0.0012147	total: 14.1s	remaining: 5.11s
734:	learn: 0.0012147	total: 14.1s	remaining: 5.09s
735:	learn: 0.0012147	total: 14.1s	remaining: 5.07s
736:	learn: 0.0012146	total: 14.2s	remaining: 5.05s
737:	learn: 0.0012146	total: 14.2s	remaining: 5.03s
738:	learn: 0.0012146	total: 14.2s	remaining: 5.01s
739:	learn: 0.0012146	total: 14.2s	remaining: 4.99s
740:	learn: 0.0012146	total: 14.2s	remaining: 4.97s
741:	learn: 0.0012144	total: 14.2s	remaining: 4.95s
742:	learn: 0.0012144	total: 14.3s	remaining: 4.93s
743:	learn: 0.0012144	total: 14.3s	remaining: 4.91s
744:	learn: 0.0012144	total: 14.3s	remaining: 4.89s
745:	learn: 0.0012144	total: 14.3s	remaining: 4.87s
746:	learn: 0.0012144	total: 14.3s	remaining: 4.85s
747:	learn: 0.0012144	total: 14.3s	remaining: 4.83s
748:	learn: 0.0012144	total: 14.4s	remaining: 4.81s
749:	learn: 0.0012144	total: 14.4s	remaining: 4.79s
750:	learn: 0.0012144	total: 14.4s	remaining: 4.77s
751:	learn: 0.0012144	total: 14.4s	remaining: 4.75s
752:	learn: 0.0012144	total: 14.4s	remaining: 4.73s
753:	learn: 0.0012144	total: 14.4s	remaining: 4.71s
754:	learn: 0.0012143	total: 14.5s	remaining: 4.69s
755:	learn: 0.0012143	total: 14.5s	remaining: 4.67s
756:	learn: 0.0012143	total: 14.5s	remaining: 4.65s
757:	learn: 0.0012143	total: 14.5s	remaining: 4.63s
758:	learn: 0.0012143	total: 14.5s	remaining: 4.61s
759:	learn: 0.0012143	total: 14.5s	remaining: 4.59s
760:	learn: 0.0012143	total: 14.6s	remaining: 4.57s
761:	learn: 0.0012143	total: 14.6s	remaining: 4.55s
762:	learn: 0.0012143	total: 14.6s	remaining: 4.53s
763:	learn: 0.0012143	total: 14.6s	remaining: 4.51s
764:	learn: 0.0012143	total: 14.6s	remaining: 4.5s
765:	learn: 0.0012143	total: 14.7s	remaining: 4.47s
766:	learn: 0.0012143	total: 14.7s	remaining: 4.46s
767:	learn: 0.0012142	total: 14.7s	remaining: 4.44s
768:	learn: 0.0012142	total: 14.7s	remaining: 4.42s
769:	learn: 0.0012142	total: 14.7s	remaining: 4.4s
770:	learn: 0.0012142	total: 14.7s	remaining: 4.38s
771:	learn: 0.0012142	total: 14.8s	remaining: 4.36s
772:	learn: 0.0012142	total: 14.8s	remaining: 4.34s
773:	learn: 0.0012142	total: 14.8s	remaining: 4.32s
774:	learn: 0.0012142	total: 14.8s	remaining: 4.3s
775:	learn: 0.0012142	total: 14.8s	remaining: 4.28s
776:	learn: 0.0012142	total: 14.9s	remaining: 4.26s
777:	learn: 0.0012142	total: 14.9s	remaining: 4.24s
778:	learn: 0.0012142	total: 14.9s	remaining: 4.22s
779:	learn: 0.0012142	total: 14.9s	remaining: 4.2s
780:	learn: 0.0012142	total: 14.9s	remaining: 4.18s
781:	learn: 0.0012142	total: 14.9s	remaining: 4.16s
782:	learn: 0.0012142	total: 15s	remaining: 4.14s
783:	learn: 0.0012142	total: 15s	remaining: 4.13s
784:	learn: 0.0012142	total: 15s	remaining: 4.11s
785:	learn: 0.0012142	total: 15s	remaining: 4.09s
786:	learn: 0.0012142	total: 15s	remaining: 4.07s
787:	learn: 0.0012142	total: 15s	remaining: 4.05s
788:	learn: 0.0012142	total: 15.1s	remaining: 4.03s
789:	learn: 0.0012141	total: 15.1s	remaining: 4.01s
790:	learn: 0.0012141	total: 15.1s	remaining: 3.99s
791:	learn: 0.0012141	total: 15.1s	remaining: 3.97s
792:	learn: 0.0012141	total: 15.1s	remaining: 3.95s
793:	learn: 0.0012141	total: 15.1s	remaining: 3.93s
794:	learn: 0.0012141	total: 15.2s	remaining: 3.91s
795:	learn: 0.0012141	total: 15.2s	remaining: 3.89s
796:	learn: 0.0012140	total: 15.2s	remaining: 3.87s
797:	learn: 0.0012140	total: 15.2s	remaining: 3.85s
798:	learn: 0.0012140	total: 15.2s	remaining: 3.83s
799:	learn: 0.0012140	total: 15.3s	remaining: 3.81s
800:	learn: 0.0012140	total: 15.3s	remaining: 3.79s
801:	learn: 0.0012140	total: 15.3s	remaining: 3.77s
802:	learn: 0.0012140	total: 15.3s	remaining: 3.75s
803:	learn: 0.0012140	total: 15.3s	remaining: 3.73s
804:	learn: 0.0012140	total: 15.3s	remaining: 3.72s
805:	learn: 0.0012140	total: 15.4s	remaining: 3.7s
806:	learn: 0.0012139	total: 15.4s	remaining: 3.68s
807:	learn: 0.0012139	total: 15.4s	remaining: 3.66s
808:	learn: 0.0012139	total: 15.4s	remaining: 3.64s
809:	learn: 0.0012139	total: 15.4s	remaining: 3.62s
810:	learn: 0.0012139	total: 15.5s	remaining: 3.6s
811:	learn: 0.0012133	total: 15.5s	remaining: 3.58s
812:	learn: 0.0012132	total: 15.5s	remaining: 3.56s
813:	learn: 0.0012132	total: 15.5s	remaining: 3.54s
814:	learn: 0.0012131	total: 15.5s	remaining: 3.52s

815:	learn: 0.0012131	total: 15.5s	remaining: 3.5s
816:	learn: 0.0012131	total: 15.6s	remaining: 3.48s
817:	learn: 0.0012130	total: 15.6s	remaining: 3.46s
818:	learn: 0.0012130	total: 15.6s	remaining: 3.44s
819:	learn: 0.0012033	total: 15.6s	remaining: 3.43s
820:	learn: 0.0012033	total: 15.6s	remaining: 3.41s
821:	learn: 0.0012008	total: 15.6s	remaining: 3.39s
822:	learn: 0.0012008	total: 15.7s	remaining: 3.37s
823:	learn: 0.0012008	total: 15.7s	remaining: 3.35s
824:	learn: 0.0012008	total: 15.7s	remaining: 3.33s
825:	learn: 0.0012008	total: 15.7s	remaining: 3.31s
826:	learn: 0.0012008	total: 15.7s	remaining: 3.29s
827:	learn: 0.0012008	total: 15.8s	remaining: 3.27s
828:	learn: 0.0012008	total: 15.8s	remaining: 3.25s
829:	learn: 0.0012008	total: 15.8s	remaining: 3.23s
830:	learn: 0.0012008	total: 15.8s	remaining: 3.21s
831:	learn: 0.0012007	total: 15.8s	remaining: 3.19s
832:	learn: 0.0012005	total: 15.8s	remaining: 3.18s
833:	learn: 0.0012005	total: 15.9s	remaining: 3.16s
834:	learn: 0.0012004	total: 15.9s	remaining: 3.14s
835:	learn: 0.0012004	total: 15.9s	remaining: 3.12s
836:	learn: 0.0011971	total: 15.9s	remaining: 3.1s
837:	learn: 0.0011971	total: 15.9s	remaining: 3.08s
838:	learn: 0.0011971	total: 15.9s	remaining: 3.06s
839:	learn: 0.0011970	total: 16s	remaining: 3.04s
840:	learn: 0.0011970	total: 16s	remaining: 3.02s
841:	learn: 0.0011970	total: 16s	remaining: 3s
842:	learn: 0.0011968	total: 16s	remaining: 2.98s
843:	learn: 0.0011968	total: 16s	remaining: 2.96s
844:	learn: 0.0011968	total: 16.1s	remaining: 2.94s
845:	learn: 0.0011968	total: 16.1s	remaining: 2.93s
846:	learn: 0.0011968	total: 16.1s	remaining: 2.91s
847:	learn: 0.0011968	total: 16.1s	remaining: 2.89s
848:	learn: 0.0011967	total: 16.1s	remaining: 2.87s
849:	learn: 0.0011967	total: 16.1s	remaining: 2.85s
850:	learn: 0.0011967	total: 16.2s	remaining: 2.83s
851:	learn: 0.0011967	total: 16.2s	remaining: 2.81s
852:	learn: 0.0011967	total: 16.2s	remaining: 2.79s
853:	learn: 0.0011967	total: 16.2s	remaining: 2.77s
854:	learn: 0.0011967	total: 16.2s	remaining: 2.75s
855:	learn: 0.0011967	total: 16.3s	remaining: 2.73s
856:	learn: 0.0011967	total: 16.3s	remaining: 2.71s
857:	learn: 0.0011967	total: 16.3s	remaining: 2.69s
858:	learn: 0.0011967	total: 16.3s	remaining: 2.68s
859:	learn: 0.0011967	total: 16.3s	remaining: 2.66s
860:	learn: 0.0011967	total: 16.3s	remaining: 2.64s
861:	learn: 0.0011967	total: 16.4s	remaining: 2.62s
862:	learn: 0.0011967	total: 16.4s	remaining: 2.6s
863:	learn: 0.0011967	total: 16.4s	remaining: 2.58s
864:	learn: 0.0011967	total: 16.4s	remaining: 2.56s
865:	learn: 0.0011967	total: 16.4s	remaining: 2.54s
866:	learn: 0.0011967	total: 16.4s	remaining: 2.52s
867:	learn: 0.0011967	total: 16.5s	remaining: 2.5s
868:	learn: 0.0011967	total: 16.5s	remaining: 2.48s
869:	learn: 0.0011967	total: 16.5s	remaining: 2.46s
870:	learn: 0.0011965	total: 16.5s	remaining: 2.44s
871:	learn: 0.0011966	total: 16.5s	remaining: 2.43s
872:	learn: 0.0011965	total: 16.5s	remaining: 2.41s
873:	learn: 0.0011965	total: 16.6s	remaining: 2.39s
874:	learn: 0.0011965	total: 16.6s	remaining: 2.37s
875:	learn: 0.0011965	total: 16.6s	remaining: 2.35s
876:	learn: 0.0011964	total: 16.6s	remaining: 2.33s
877:	learn: 0.0011964	total: 16.6s	remaining: 2.31s
878:	learn: 0.0011964	total: 16.6s	remaining: 2.29s
879:	learn: 0.0011964	total: 16.7s	remaining: 2.27s
880:	learn: 0.0011964	total: 16.7s	remaining: 2.25s
881:	learn: 0.0011964	total: 16.7s	remaining: 2.23s
882:	learn: 0.0011964	total: 16.7s	remaining: 2.21s
883:	learn: 0.0011963	total: 16.7s	remaining: 2.19s
884:	learn: 0.0011963	total: 16.7s	remaining: 2.18s
885:	learn: 0.0011963	total: 16.8s	remaining: 2.16s
886:	learn: 0.0011963	total: 16.8s	remaining: 2.14s
887:	learn: 0.0011963	total: 16.8s	remaining: 2.12s
888:	learn: 0.0011963	total: 16.8s	remaining: 2.1s
889:	learn: 0.0011963	total: 16.8s	remaining: 2.08s
890:	learn: 0.0011963	total: 16.9s	remaining: 2.06s
891:	learn: 0.0011963	total: 16.9s	remaining: 2.04s
892:	learn: 0.0011962	total: 16.9s	remaining: 2.02s
893:	learn: 0.0011962	total: 16.9s	remaining: 2s
894:	learn: 0.0011962	total: 16.9s	remaining: 1.99s
895:	learn: 0.0011962	total: 16.9s	remaining: 1.97s
896:	learn: 0.0011962	total: 17s	remaining: 1.95s
897:	learn: 0.0011962	total: 17s	remaining: 1.93s
898:	learn: 0.0011962	total: 17s	remaining: 1.91s
899:	learn: 0.0011962	total: 17s	remaining: 1.89s
900:	learn: 0.0011961	total: 17s	remaining: 1.87s
901:	learn: 0.0011961	total: 17.1s	remaining: 1.85s
902:	learn: 0.0011960	total: 17.1s	remaining: 1.83s
903:	learn: 0.0011960	total: 17.1s	remaining: 1.81s
904:	learn: 0.0011960	total: 17.1s	remaining: 1.79s
905:	learn: 0.0011960	total: 17.1s	remaining: 1.78s
906:	learn: 0.0011960	total: 17.1s	remaining: 1.76s
907:	learn: 0.0011960	total: 17.2s	remaining: 1.74s
908:	learn: 0.0011959	total: 17.2s	remaining: 1.72s
909:	learn: 0.0011959	total: 17.2s	remaining: 1.7s
910:	learn: 0.0011959	total: 17.2s	remaining: 1.68s
911:	learn: 0.0011959	total: 17.2s	remaining: 1.66s
912:	learn: 0.0011959	total: 17.3s	remaining: 1.64s
913:	learn: 0.0011959	total: 17.3s	remaining: 1.63s
914:	learn: 0.0011959	total: 17.3s	remaining: 1.61s
915:	learn: 0.0011959	total: 17.3s	remaining: 1.59s
916:	learn: 0.0011958	total: 17.3s	remaining: 1.57s
917:	learn: 0.0011958	total: 17.3s	remaining: 1.55s
918:	learn: 0.0011958	total: 17.4s	remaining: 1.53s
919:	learn: 0.0011958	total: 17.4s	remaining: 1.51s
920:	learn: 0.0011958	total: 17.4s	remaining: 1.49s
921:	learn: 0.0011958	total: 17.4s	remaining: 1.47s
922:	learn: 0.0011958	total: 17.4s	remaining: 1.46s
923:	learn: 0.0011958	total: 17.5s	remaining: 1.44s
924:	learn: 0.0011958	total: 17.5s	remaining: 1.42s
925:	learn: 0.0011958	total: 17.5s	remaining: 1.4s
926:	learn: 0.0011958	total: 17.5s	remaining: 1.38s
927:	learn: 0.0011958	total: 17.5s	remaining: 1.36s
928:	learn: 0.0011957	total: 17.6s	remaining: 1.34s
929:	learn: 0.0011957	total: 17.6s	remaining: 1.32s
930:	learn: 0.0011957	total: 17.6s	remaining: 1.3s
931:	learn: 0.0011957	total: 17.6s	remaining: 1.28s
932:	learn: 0.0011957	total: 17.6s	remaining: 1.26s
933:	learn: 0.0011957	total: 17.6s	remaining: 1.25s
934:	learn: 0.0011957	total: 17.7s	remaining: 1.23s
935:	learn: 0.0011957	total: 17.7s	remaining: 1.21s
936:	learn: 0.0011932	total: 17.7s	remaining: 1.19s
937:	learn: 0.0011932	total: 17.7s	remaining: 1.17s
938:	learn: 0.0011931	total: 17.7s	remaining: 1.15s
939:	learn: 0.0011931	total: 17.8s	remaining: 1.13s
940:	learn: 0.0011931	total: 17.8s	remaining: 1.11s
941:	learn: 0.0011931	total: 17.8s	remaining: 1.09s
942:	learn: 0.0011931	total: 17.8s	remaining: 1.08s
943:	learn: 0.0011931	total: 17.8s	remaining: 1.06s
944:	learn: 0.0011931	total: 17.9s	remaining: 1.04s
945:	learn: 0.0011931	total: 17.9s	remaining: 1.02s
946:	learn: 0.0011930	total: 17.9s	remaining: 1s
947:	learn: 0.0011930	total: 17.9s	remaining: 983ms
948:	learn: 0.0011930	total: 17.9s	remaining: 964ms
949:	learn: 0.0011930	total: 18s	remaining: 945ms
950:	learn: 0.0011930	total: 18s	remaining: 926ms
951:	learn: 0.0011930	total: 18s	remaining: 907ms
952:	learn: 0.0011930	total: 18s	remaining: 888ms
953:	learn: 0.0011930	total: 18s	remaining: 869ms
954:	learn: 0.0011930	total: 18s	remaining: 851ms
955:	learn: 0.0011930	total: 18.1s	remaining: 832ms
956:	learn: 0.0011930	total: 18.1s	remaining: 813ms
957:	learn: 0.0011930	total: 18.1s	remaining: 794ms
958:	learn: 0.0011929	total: 18.1s	remaining: 775ms
959:	learn: 0.0011929	total: 18.1s	remaining: 756ms
960:	learn: 0.0011929	total: 18.2s	remaining: 737ms
961:	learn: 0.0011929	total: 18.2s	remaining: 718ms
962:	learn: 0.0011928	total: 18.2s	remaining: 699ms
963:	learn: 0.0011928	total: 18.2s	remaining: 680ms
964:	learn: 0.0011928	total: 18.2s	remaining: 661ms
965:	learn: 0.0011928	total: 18.3s	remaining: 642ms
966:	learn: 0.0011928	total: 18.3s	remaining: 623ms
967:	learn: 0.0011928	total: 18.3s	remaining: 605ms
968:	learn: 0.0011928	total: 18.3s	remaining: 586ms
969:	learn: 0.0011928	total: 18.3s	remaining: 567ms
970:	learn: 0.0011928	total: 18.4s	remaining: 548ms
971:	learn: 0.0011928	total: 18.4s	remaining: 529ms
972:	learn: 0.0011928	total: 18.4s	remaining: 511ms
973:	learn: 0.0011928	total: 18.4s	remaining: 492ms
974:	learn: 0.0011928	total: 18.4s	remaining: 473ms
975:	learn: 0.0011928	total: 18.5s	remaining: 454ms
976:	learn: 0.0011928	total: 18.5s	remaining: 435ms
977:	learn: 0.0011927	total: 18.5s	remaining: 416ms
978:	learn: 0.0011927	total: 18.5s	remaining: 397ms
979:	learn: 0.0011927	total: 18.5s	remaining: 378ms

980:	learn: 0.0011927	total: 18.5s	remaining: 359ms
981:	learn: 0.0011927	total: 18.6s	remaining: 340ms
982:	learn: 0.0011926	total: 18.6s	remaining: 321ms
983:	learn: 0.0011926	total: 18.6s	remaining: 302ms
984:	learn: 0.0011926	total: 18.6s	remaining: 284ms
985:	learn: 0.0011926	total: 18.6s	remaining: 265ms
986:	learn: 0.0011926	total: 18.7s	remaining: 246ms
987:	learn: 0.0011925	total: 18.7s	remaining: 227ms
988:	learn: 0.0011925	total: 18.7s	remaining: 208ms
989:	learn: 0.0011925	total: 18.7s	remaining: 189ms
990:	learn: 0.0011925	total: 18.7s	remaining: 170ms
991:	learn: 0.0011925	total: 18.8s	remaining: 151ms
992:	learn: 0.0011925	total: 18.8s	remaining: 132ms
993:	learn: 0.0011924	total: 18.8s	remaining: 114ms
994:	learn: 0.0011924	total: 18.8s	remaining: 94.6ms
995:	learn: 0.0011924	total: 18.8s	remaining: 75.7ms
996:	learn: 0.0011924	total: 18.9s	remaining: 56.8ms
997:	learn: 0.0011924	total: 18.9s	remaining: 37.8ms
998:	learn: 0.0011924	total: 18.9s	remaining: 18.9ms
999:	learn: 0.0011923	total: 18.9s	remaining: 0us

In [95]:
df = pd.read_csv('Test_Dataset.csv')
df

,EmployeeID,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,6110001,18.0,No,NaN,9.0,CA,Male,80.0,3,2,...,3,1,1,0,17.0,0.0,0.0,0.0,Single,16904.0
1,6110002,20.0,Rarely,Analytics,28.0,Statistics,Female,59.0,1,3,...,1,1,2,1,18.0,2.0,1.0,NaN,Single,18994.0
2,6110003,50.0,Rarely,Analytics,19.0,CA,Female,76.0,3,3,...,5,0,5,1,22.0,18.0,3.0,3.0,M,18587.0
3,6110004,32.0,Rarely,Sales,23.0,Statistics,Female,73.0,5,2,...,3,0,4,1,17.0,5.0,3.0,3.0,Married,20559.0
4,6110005,39.0,Rarely,Analytics,7.0,CA,Male,42.0,4,1,...,5,1,4,0,20.0,9.0,1.0,7.0,Married,24991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.0,Rarely,Sales,12.0,Marketing Diploma,Male,76.0,3,5,...,5,1,5,1,18.0,10.0,1.0,3.0,Married,26761.0
2626,6112627,29.0,Rarely,Analytics,22.0,CA,Male,80.0,4,4,...,5,0,2,0,18.0,7.0,4.0,4.0,Divorsed,19196.0
2627,6112628,44.0,Rarely,Analytics,8.0,CA,F,42.0,4,1,...,1,1,3,0,19.0,24.0,5.0,17.0,Married,25248.0
2628,6112629,NaN,Rarely,Analytics,11.0,Statistics,Female,NaN,4,3,...,4,0,2,0,18.0,2.0,1.0,1.0,Single,17261.0
2629,6112630,50.0,Yes,Analytics,1.0,Statistics,F,73.0,3,4,...,4,1,3,1,24.0,28.0,0.0,7.0,Married,33172.0

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmployeeID          2630 non-null   int64
 1   Age                 2488 non-null   float64
 2   TravelProfile       2630 non-null   object
 3   Department          2572 non-null   object
 4   HomeToWork          2504 non-null   float64
 5   EducationField      2630 non-null   object
 6   Gender              2600 non-null   object
 7   HourlnWeek          2494 non-null   float64
 8   Involvement         2630 non-null   int64
 9   WorkLifeBalance     2630 non-null   int64
 10  Designation         2600 non-null   object
 11  JobSatisfaction     2630 non-null   int64
 12  ESOPs               2630 non-null   int64
 13  NumCompaniesWorked  2630 non-null   int64
 14  OverTime            2630 non-null   int64
 15  SalaryHikelastYear  2536 non-null   float64
 16  WorkExperience      2508 non-null   float64
 17  LastPromotion       2573 non-null   float64
 18  CurrentProfile      2496 non-null   float64
 19  MaritalStatus       2630 non-null   object
 20  MonthlyIncome       2597 non-null   float64
dtypes: float64(8), int64(7), object(6)
memory usage: 431.6+ KB

In [97]:
df.isnull().sum()

EmployeeID              0
Age                   142
TravelProfile           0
Department             58
HomeToWork            126
EducationField          0
Gender                 30
HourlnWeek            136
Involvement             0
WorkLifeBalance         0
Designation            30
JobSatisfaction         0
ESOPs                   0
NumCompaniesWorked      0
OverTime                0
SalaryHikelastYear     94
WorkExperience        122
LastPromotion          57
CurrentProfile        134
MaritalStatus           0
MonthlyIncome          33
dtype: int64

In [98]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Department'].fillna(df['Department'].value_counts().index[0],inplace=True)
df['HomeToWork'].fillna(df['HomeToWork'].mean(),inplace=True)
df['Gender'].fillna(df['Gender'].value_counts().index[0],inplace=True)
df['HourlnWeek'].fillna(df['HourlnWeek'].mean(),inplace=True)
df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)
df['SalaryHikelastYear'].fillna(df['SalaryHikelastYear'].mean(),inplace=True)
df['WorkExperience'].fillna(df['WorkExperience'].mean(),inplace=True)
df['LastPromotion'].fillna(df['LastPromotion'].mean(),inplace=True)
df['CurrentProfile'].fillna(df['CurrentProfile'].mean(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].mean(),inplace=True)

In [99]:
df.isnull().sum()

EmployeeID            0
Age                   0
TravelProfile         0
Department            0
HomeToWork            0
EducationField        0
Gender                0
HourlnWeek            0
Involvement           0
WorkLifeBalance       0
Designation           0
JobSatisfaction       0
ESOPs                 0
NumCompaniesWorked    0
OverTime              0
SalaryHikelastYear    0
WorkExperience        0
LastPromotion         0
CurrentProfile        0
MaritalStatus         0
MonthlyIncome         0
dtype: int64

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmployeeID          2630 non-null   int64
 1   Age                 2630 non-null   float64
 2   TravelProfile       2630 non-null   object
 3   Department          2630 non-null   object
 4   HomeToWork          2630 non-null   float64
 5   EducationField      2630 non-null   object
 6   Gender              2630 non-null   object
 7   HourlnWeek          2630 non-null   float64
 8   Involvement         2630 non-null   int64
 9   WorkLifeBalance     2630 non-null   int64
 10  Designation         2630 non-null   object
 11  JobSatisfaction     2630 non-null   int64
 12  ESOPs               2630 non-null   int64
 13  NumCompaniesWorked  2630 non-null   int64
 14  OverTime            2630 non-null   int64
 15  SalaryHikelastYear  2630 non-null   float64
 16  WorkExperience      2630 non-null   float64
 17  LastPromotion       2630 non-null   float64
 18  CurrentProfile      2630 non-null   float64
 19  MaritalStatus       2630 non-null   object
 20  MonthlyIncome       2630 non-null   float64
dtypes: float64(8), int64(7), object(6)
memory usage: 431.6+ KB

In [101]:
df = pd.get_dummies(df,drop_first=True)
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,EducationField_Statistics,Gender_Female,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,0,0,1,1,0,0,0,0,0,1
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,1,0,1,0,0,0,0,0,1
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,0,1,0,1,0,0,0,1,0,0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,1,1,0,0,1,0,0,0,1,0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,0,1,0,0,1,0,0,1,0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,0,0,1,1,0,0,0,0,0,0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,0,0,1,0,0,1,0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,1,0,1,0,0,0,0,0,1
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,1,0,0,0,0,0,1,0,1,0

In [102]:
df['Attrition1'] = model1.predict(df.drop('EmployeeID',axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Gender_Female,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition1
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,0,1,1,0,0,0,0,0,1,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,0,1,0,0,0,0,0,1,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,1,0,1,0,0,0,1,0,0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,1,0,0,1,0,0,0,1,0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,1,0,0,1,0,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,1,0,0,1,0,0,1,0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,0,1,1,0,0,0,0,0,0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,0,1,0,0,1,0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,0,1,0,0,0,0,0,1,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,0,0,1,0,1,0,0.0

In [103]:
df['Attrition2'] = model2.predict(df.drop(['EmployeeID','Attrition1'],axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Gender_Male,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition1,Attrition2
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,1,1,0,0,0,0,0,1,1.0,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,0,1,0,0,0,0,0,1,0.0,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,0,1,0,0,0,1,0,0,0.0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,0,0,1,0,0,0,1,0,1.0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,1,0,0,1,0,0,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,1,0,0,1,0,0,1,0,0.0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,1,1,0,0,0,0,0,0,0.0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,0,1,0,0,1,0,0.0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,0,1,0,0,0,0,0,1,1.0,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,0,1,0,1,0,0.0,0.0

In [104]:
df['Attrition4'] = model4.predict(df.drop(['EmployeeID','Attrition1','Attrition2'],axis=1))
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition1,Attrition2,Attrition4
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,1,0,0,0,0,0,1,1.0,1.0,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,1,0,0,0,0,0,1,0.0,0.0,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,1,0,0,0,1,0,0,0.0,0.0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,0,1,0,0,0,1,0,1.0,1.0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,0,1,0,0,1,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,0,1,0,0,1,0,0.0,0.0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,1,0,0,0,0,0,0,0.0,0.0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,0,1,0,0,1,0,0.0,0.0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,1,0,0,0,0,0,1,1.0,1.0,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,0,1,0,1,0,0.0,0.0,0.0

In [105]:
df['Attrition'] = df['Attrition4'].copy()   # random assignment to 'df['Attrition']'

In [106]:
for i in range(0,2630):
    list1=[df['Attrition1'][i],df['Attrition2'][i],df['Attrition4'][i]]
    df['Attrition'][i]=max(set(list1), key=list1.count)

<ipython-input-106-63f6bdd6c12b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Attrition'][i]=max(set(list1), key=list1.count)

In [107]:
df

,EmployeeID,Age,HomeToWork,HourlnWeek,Involvement,WorkLifeBalance,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,...,Designation_Manager,Designation_Senior Manager,Designation_VP,MaritalStatus_M,MaritalStatus_Married,MaritalStatus_Single,Attrition1,Attrition2,Attrition4,Attrition
0,6110001,18.000000,9.0,80.000000,3,2,3,1,1,0,...,0,0,0,0,0,1,1.0,1.0,1.0,1.0
1,6110002,20.000000,28.0,59.000000,1,3,1,1,2,1,...,0,0,0,0,0,1,0.0,0.0,0.0,0.0
2,6110003,50.000000,19.0,76.000000,3,3,5,0,5,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
3,6110004,32.000000,23.0,73.000000,5,2,3,0,4,1,...,1,0,0,0,1,0,1.0,1.0,1.0,1.0
4,6110005,39.000000,7.0,42.000000,4,1,5,1,4,0,...,0,1,0,0,1,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.000000,12.0,76.000000,3,5,5,1,5,1,...,0,1,0,0,1,0,0.0,0.0,0.0,0.0
2626,6112627,29.000000,22.0,80.000000,4,4,5,0,2,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2627,6112628,44.000000,8.0,42.000000,4,1,1,1,3,0,...,0,1,0,0,1,0,0.0,0.0,0.0,0.0
2628,6112629,37.425643,11.0,57.863272,4,3,4,0,2,0,...,0,0,0,0,0,1,1.0,1.0,1.0,1.0
2629,6112630,50.000000,1.0,73.000000,3,4,4,1,3,1,...,0,0,1,0,1,0,0.0,0.0,0.0,0.0

In [108]:
df['Attrition'].value_counts()

0.0    1897
1.0     733
Name: Attrition, dtype: int64

In [109]:
df['Attrition1'].value_counts()

0.0    1888
1.0     742
Name: Attrition1, dtype: int64

In [110]:
df['Attrition2'].value_counts()

0.0    1898
1.0     732
Name: Attrition2, dtype: int64

In [111]:
df['Attrition4'].value_counts()

0.0    1897
1.0     733
Name: Attrition4, dtype: int64

In [112]:
df2=df[['EmployeeID','Attrition']]
df2['EmployeeID'] = df2['EmployeeID'].astype('int64')
df2['Attrition'] = df2['Attrition'].astype('int64')
df2

<ipython-input-112-6a5a3b235e5b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['EmployeeID'] = df2['EmployeeID'].astype('int64')
<ipython-input-112-6a5a3b235e5b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Attrition'] = df2['Attrition'].astype('int64')

      EmployeeID  Attrition
0        6110001          1
1        6110002          0
2        6110003          0
3        6110004          1
4        6110005          0
...          ...        ...
2625     6112626          0
2626     6112627          0
2627     6112628          0
2628     6112629          1
2629     6112630          0

[2630 rows x 2 columns]

In [113]:
df = pd.read_csv('Test_Dataset.csv')
df

,EmployeeID,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,WorkLifeBalance,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,6110001,18.0,No,NaN,9.0,CA,Male,80.0,3,2,...,3,1,1,0,17.0,0.0,0.0,0.0,Single,16904.0
1,6110002,20.0,Rarely,Analytics,28.0,Statistics,Female,59.0,1,3,...,1,1,2,1,18.0,2.0,1.0,NaN,Single,18994.0
2,6110003,50.0,Rarely,Analytics,19.0,CA,Female,76.0,3,3,...,5,0,5,1,22.0,18.0,3.0,3.0,M,18587.0
3,6110004,32.0,Rarely,Sales,23.0,Statistics,Female,73.0,5,2,...,3,0,4,1,17.0,5.0,3.0,3.0,Married,20559.0
4,6110005,39.0,Rarely,Analytics,7.0,CA,Male,42.0,4,1,...,5,1,4,0,20.0,9.0,1.0,7.0,Married,24991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,6112626,46.0,Rarely,Sales,12.0,Marketing Diploma,Male,76.0,3,5,...,5,1,5,1,18.0,10.0,1.0,3.0,Married,26761.0
2626,6112627,29.0,Rarely,Analytics,22.0,CA,Male,80.0,4,4,...,5,0,2,0,18.0,7.0,4.0,4.0,Divorsed,19196.0
2627,6112628,44.0,Rarely,Analytics,8.0,CA,F,42.0,4,1,...,1,1,3,0,19.0,24.0,5.0,17.0,Married,25248.0
2628,6112629,NaN,Rarely,Analytics,11.0,Statistics,Female,NaN,4,3,...,4,0,2,0,18.0,2.0,1.0,1.0,Single,17261.0
2629,6112630,50.0,Yes,Analytics,1.0,Statistics,F,73.0,3,4,...,4,1,3,1,24.0,28.0,0.0,7.0,Married,33172.0

In [114]:
df2['EmployeeID'] = df['EmployeeID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  2630 non-null   int64
 1   Attrition   2630 non-null   int64
dtypes: int64(2)
memory usage: 41.2 KB

<ipython-input-114-ede409ad4317>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['EmployeeID'] = df['EmployeeID']

In [115]:
df2.to_csv('file2.csv',index=0)